In [25]:
import requests
from pandas.io.json import json_normalize
import pandas as pd

In [26]:
bank_detail_link =pd.read_csv('Data Before/rps_lng_addstore.csv',dtype=str)
bank_detail =pd.read_csv('Data Before/rps_lng_bnk.csv',dtype=str)
pt_owners = pd.read_csv('PropertyTree Data/PropertyTree_Owners.csv',dtype=str)

In [160]:
bank_detail_link[bank_detail_link['typeto'] == 'lld']

,synchdel,synchrec,code,codefrom,codeto,typefrom,typeto,vars,register,amend
708,0,2021-01-12 16:29:33,DRE21000001,HDO191125,RPT140318,prp,lld,StmNote='Works not completed',2021-01-04 15:15:01,2021-01-12 16:29:33
1551,0,2021-03-31 15:42:49,HAW21000001,CVA210592,CVA210552,prp,lld,NaN,2021-01-20 15:08:55,2021-03-31 15:42:49
1552,0,2021-02-15 16:04:48,HAW21000002,CVA210278,CVA210279,prp,lld,NaN,2021-02-02 13:02:19,2021-02-15 16:04:48
1553,0,2021-03-05 11:11:40,HAW21000003,CVA210492,CVA210464,prp,lld,StmNote='invoices for 6 months of rent in adva...,2021-02-02 22:43:14,2021-03-05 11:11:40
1554,0,2021-03-05 11:14:07,HAW21000004,CVA210449,CVA210420,prp,lld,StmNote='Rent paid by outgoing tenant in the e...,2021-02-04 08:49:36,2021-03-05 11:14:07
...,...,...,...,...,...,...,...,...,...,...
14493,0,2020-06-02 11:57:36,WES20000004,HDO191137,HDO190572,prp,lld,Bank='HDO19000882'\r,2020-06-02 11:57:36,\N
14494,0,2020-06-03 12:13:15,WES20000005,HDO191208,HDO190746,prp,lld,Bank='HDO19001075'\r,2020-06-03 12:13:15,\N
14572,0,2021-09-09 08:17:51,WES21000078,HDO190964,HDO190532,prp,lld,NaN,2021-09-08 14:03:18,2021-09-09 08:17:51
14603,0,2021-10-11 17:15:41,WES21000109,CVA210386,CVA210356,prp,lld,NaN,2021-10-04 12:19:40,2021-10-11 17:15:41
14963,0,2022-11-10 15:27:55,WES22000211,CVA210852,CVA210886,prp,lld,Float=250\r,2022-11-10 15:27:55,2022-11-10 15:27:55

In [161]:
bank_detail_link = bank_detail_link[(bank_detail_link['vars'].str.contains('Bank', case=False,na=False))]

In [162]:
len(bank_detail_link['codeto'].unique())

4596

In [163]:
len(bank_detail_link)

5136

In [164]:
bank_detail_link[bank_detail_link['codeto'] == 'HDO190572']

,synchdel,synchrec,code,codefrom,codeto,typefrom,typeto,vars,register,amend
1791,0,2019-11-20 10:30:12,HDO19000193,HDO191015,HDO190572,prp,lld,Bank='HDO19000882'\r,2019-11-20 10:30:12,\N
1894,0,2020-04-16 12:19:39,HDO20000034,HDO200116,HDO190572,prp,lld,Bank='HDO20000184'\r,2020-04-16 12:19:39,\N
14490,0,2020-06-02 11:53:46,WES20000001,HDO191188,HDO190572,prp,lld,Bank='HDO19000882'\r,2020-06-02 11:53:46,\N
14491,0,2020-06-02 11:56:46,WES20000002,HDO191034,HDO190572,prp,lld,Bank='HDO19000882'\r,2020-06-02 11:56:46,\N
14492,0,2020-06-02 11:57:14,WES20000003,HDO191075,HDO190572,prp,lld,Bank='HDO19000882'\r,2020-06-02 11:57:14,\N
14493,0,2020-06-02 11:57:36,WES20000004,HDO191137,HDO190572,prp,lld,Bank='HDO19000882'\r,2020-06-02 11:57:36,\N

In [165]:
bank_detail[bank_detail['code']=='HDO19000882']

,synchdel,synchrec,code,hseno,hsename,address1,address2,address3,address4,postcode,...,name,branch,acname,acno,sort,bacsref,main,register,amend,extra
3816,0,3/06/2020 15:31,HDO19000882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Lynne Louise Wilton,193606657,13440,NaN,1,11/11/2019 16:15,3/06/2020 15:31,"ApproveNegs='OST,CHB'"

In [166]:
bank_detail_link['vars'] = bank_detail_link['vars'].str.extract(r"Bank='(.*?)'")

In [167]:
bank_detail.columns

Index(['synchdel', 'synchrec', 'code', 'hseno', 'hsename', 'address1',
       'address2', 'address3', 'address4', 'postcode', 'country', 'approved',
       'name', 'branch', 'acname', 'acno', 'sort', 'bacsref', 'main',
       'register', 'amend', 'extra '],
      dtype='object')

In [168]:
pt_owners.columns

Index(['ownership_id', 'prop_id', 'name', 'abn', 'gst_registered',
       'withhold_type', 'withhold_amount', 'withhold_reason',
       'increase_withhold_amount', 'contact_1_id', 'contact_2_id',
       'contact_1_create_statements', 'contact_1_send_statement_by',
       'contact_2_send_statement_by', 'contact_1_statement_style',
       'contact_2_statement_style', 'contact_1_type', 'contact_2_type',
       'contact_1_payment_method', 'contact_1_cheque_pay_to',
       'contact_1_account_name', 'contact_1_account_bsb',
       'contact_1_account_no', 'contact_1_eft_reference',
       'contact_1_payment_amount', 'contact_2_payment_method',
       'contact_2_cheque_pay_to', 'contact_2_account_name',
       'contact_2_account_bsb', 'contact_2_account_no',
       'contact_2_eft_reference', 'contact_2_payment_amount',
       'tag_[group name]', 'fee_[fee id]'],
      dtype='object')

In [169]:
bank_detail_link

,synchdel,synchrec,code,codefrom,codeto,typefrom,typeto,vars,register,amend
821,0,2022-02-21 14:56:34,DRE22000018,HDO140299,HDO14002049,prp,cnt,RPT19006463,2022-02-21 14:56:34,\N
822,0,2022-02-21 14:56:55,DRE22000019,HDO140300,HDO14002049,prp,cnt,RPT19006463,2022-02-21 14:56:55,\N
823,0,2022-02-21 14:57:15,DRE22000020,HDO140297,HDO14002049,prp,cnt,RPT19006463,2022-02-21 14:57:15,\N
1601,0,2019-02-28 19:55:41,HDO19000003,HDO190364,HDO190001,prp,lld,HDO19000008,2019-02-28 19:55:41,\N
1602,0,2019-02-28 20:35:43,HDO19000004,HDO190365,HDO190001,prp,lld,HDO19000008,2019-02-28 20:35:43,\N
...,...,...,...,...,...,...,...,...,...,...
14490,0,2020-06-02 11:53:46,WES20000001,HDO191188,HDO190572,prp,lld,HDO19000882,2020-06-02 11:53:46,\N
14491,0,2020-06-02 11:56:46,WES20000002,HDO191034,HDO190572,prp,lld,HDO19000882,2020-06-02 11:56:46,\N
14492,0,2020-06-02 11:57:14,WES20000003,HDO191075,HDO190572,prp,lld,HDO19000882,2020-06-02 11:57:14,\N
14493,0,2020-06-02 11:57:36,WES20000004,HDO191137,HDO190572,prp,lld,HDO19000882,2020-06-02 11:57:36,\N
14494,0,2020-06-03 12:13:15,WES20000005,HDO191208,HDO190746,prp,lld,HDO19001075,2020-06-03 12:13:15,\N

In [170]:
c =0
for index,row in pt_owners.iterrows():
    if str(row['contact_1_id']) != 'nan':
        
        temp_contact = row['contact_1_id'].split('_lng-')[1]
        temp_prop = row['prop_id'].split('_lng-')[1]
        temp_lld = row['ownership_id'].split('_lng-')[1]
        temp_df = bank_detail_link[(bank_detail_link['codefrom'] == temp_prop) & (bank_detail_link['codeto'] == temp_contact)]
        if temp_df.empty:
            temp_df = bank_detail_link[(bank_detail_link['codefrom'] == temp_prop) & (bank_detail_link['codeto'] == temp_lld)]
        
        if not temp_df.empty:
            temp_df_bank = bank_detail[bank_detail['code'] == temp_df['vars'].iloc[0]]
            if not temp_df_bank.empty:
        
                print(temp_df_bank)
                pt_owners.at[index,'contact_1_payment_method'] = 'EFT'
                pt_owners.at[index,'contact_1_account_name'] = temp_df_bank['acname'].iloc[0]
                pt_owners.at[index,'contact_1_account_bsb'] = temp_df_bank['sort'].iloc[0]
                pt_owners.at[index,'contact_1_account_no'] = temp_df_bank['acno'].iloc[0]
                pt_owners.at[index,'contact_1_eft_reference'] = temp_df_bank['bacsref'].iloc[0]
                pt_owners.at[index,'contact_1_payment_amount'] = 00.00
                c+=1

        
    if str(row['contact_2_id']) != 'nan':
        temp_contact = row['contact_2_id'].split('_lng-')[1]
        temp_prop = row['prop_id'].split('_lng-')[1]
        temp_df = bank_detail_link[(bank_detail_link['codefrom'] == temp_prop) & (bank_detail_link['codeto'] == temp_contact)]
        if not temp_df.empty:
            temp_df_bank = bank_detail[bank_detail['code'] == temp_df['vars'].iloc[0]]
            if not temp_df_bank.empty:

                print(temp_df_bank)
                pt_owners.at[index,'contact_2_payment_method'] = 'EFT'
                pt_owners.at[index,'contact_2_account_name'] = temp_df_bank['acname'].iloc[0]
                pt_owners.at[index,'contact_2_account_bsb'] = temp_df_bank['sort'].iloc[0]
                pt_owners.at[index,'contact_2_account_no'] = temp_df_bank['acno'].iloc[0]
                pt_owners.at[index,'contact_2_eft_reference'] = temp_df_bank['bacsref'].iloc[0]
                pt_owners.at[index,'contact_2_payment_amount'] = 00.00
                c+=1

print(c)

     synchdel          synchrec         code hseno hsename address1 address2  \
1204        0  16/01/2021 14:21  CVA21001125   NaN     NaN      NaN      NaN

     address3 address4 postcode  ... name branch         acname    acno  \
1204      NaN      NaN      NaN  ...  NaN    NaN  Osric Pty Ltd  284035

       sort bacsref main          register amend  \
1204  63000      \N   \N  23/06/2017 23:20    \N

                                                 extra
1204  bnkOldCode='OW1113283/CT1399399'\rPayType='B'\...

[1 rows x 22 columns]
     synchdel          synchrec         code hseno hsename address1 address2  \
1443        0  16/01/2021 14:21  CVA21001364   NaN     NaN      NaN      NaN

     address3 address4 postcode  ... name branch  \
1443      NaN      NaN      NaN  ...  NaN    NaN

                                        acname       acno    sort bacsref  \
1443  Gough Consulting Services Pty Ltd ATF G   962017778  182512      \N

     main          register amend  \
1443   \N  22/06/2020 17:10    \N

                                                 extra
1443  bnkOldCode='OW1113283/CT1522019'\rPayType='B'\...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
10591        0  16/12/2022 10:13  RPT19000171   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch          acname      acno  \
10591      NaN      NaN      NaN  ...  NaN    NaN  L & J Campagna  10986784

         sort bacsref main         register             amend  \
10591  182182     NaN    1  22/02/2019 9:08  16/12/2022 10:13

                                                  extra
10591  tPayeeRef='Rent CADELL 18'\rPayType='B'\rbnkRP...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
10592        0  12/03/2019 13:13  RPT19000172   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...                            name branch  \
10592      NaN      NaN      NaN  ...  Citibank, 2 Park Street, Sydne    NaN

                        acname       acno    sort bacsref main  \
10592  L Campagna & J Campagna  472204874  242200     NaN    1

              register             amend  \
10592  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
10592  tPayeeRef='Rent CADELL 18'\rPayType='B'\rbnkRP...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11259        0  12/03/2019 13:13  RPT19000839   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                     acname  \
11259      NaN      NaN      NaN  ...  NaN    NaN  Jerad and Felicity Murphy

         acno    sort bacsref main         register             amend  \
11259  597111  736044     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11259  tPayeeRef='RENT 20 Delias Rd'\rPayType='B'\rbn...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11260        0  12/03/2019 13:13  RPT19000840   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                     acname  \
11260      NaN      NaN      NaN  ...  NaN    NaN  Jerad and Felicity Murphy

         acno    sort bacsref main         register             amend  \
11260  597111  736044     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11260  tPayeeRef='RENT 20 Delias Rd'\rPayType='B'\rbn...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
10636        0  12/03/2019 13:13  RPT19000216   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...               name branch  \
10636      NaN      NaN      NaN  ...  CBA Maddington WA    NaN

                                   acname      acno   sort bacsref main  \
10636  Vincent R Clegg and Alison L Clegg  10486585  66162     NaN    1

              register             amend  \
10636  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
10636  tPayeeRef='WINO16'\rPayType='B'\rbnkRPSImporte...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
10637        0  12/03/2019 13:13  RPT19000217   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...               name branch  \
10637      NaN      NaN      NaN  ...  CBA Maddington WA    NaN

                                   acname      acno   sort bacsref main  \
10637  Vincent R Clegg and Alison L Clegg  10486585  66162     NaN    1

              register             amend  \
10637  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
10637  tPayeeRef='WINO16'\rPayType='B'\rbnkRPSImporte...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11731        0  21/03/2023 15:03  RPT19001311   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch              acname  \
11731      NaN      NaN      NaN  ...  ANZ    NaN  Zong Wu & Kai Wang

            acno   sort bacsref main         register             amend  \
11731  319695625  12310     NaN    1  22/02/2019 9:08  21/03/2023 15:03

                                                  extra
11731  tPayeeRef='RENT 22 Prairie'\rPayType='B'\rbnkR...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11718        0  12/03/2019 13:13  RPT19001298   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                     acname  \
11718      NaN      NaN      NaN  ...  NAB    NaN  NGAI WONG & XIAO MAN WANG

            acno   sort bacsref main         register             amend  \
11718  196043183  82024     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11718  tPayeeRef='RENT PAYMENT PRAI5'\rPayType='B'\rb...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11719        0  12/03/2019 13:13  RPT19001299   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                     acname  \
11719      NaN      NaN      NaN  ...  NAB    NaN  NGAI WONG & XIAO MAN WANG

            acno   sort bacsref main         register             amend  \
11719  196043183  82024     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11719  tPayeeRef='RENT PAYMENT PRAI5'\rPayType='B'\rb...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11684        0  26/06/2019 17:43  RPT19001264   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch          acname      acno  \
11684      NaN      NaN      NaN  ...  CUA    NaN  Tracy A Warner  50956616

         sort bacsref main         register             amend  \
11684  814282     NaN    1  22/02/2019 9:08  26/06/2019 17:43

                                                  extra
11684  tPayeeRef='RENT 39 Laurence'\rPayType='B'\rbnk...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11691        0  12/03/2019 13:13  RPT19001271   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...       name branch     acname      acno  \
11691      NaN      NaN      NaN  ...  CBA Perth    NaN  Mr H Weck  11195340

        sort bacsref main         register             amend  \
11691  66000     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11691  tPayeeRef='RENT 13 Edenvale'\rPayType='B'\rbnk...

[1 rows x 22 columns]
      synchdel         synchrec         code hseno hsename address1 address2  \
10933        0  6/08/2019 16:49  RPT19000513   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...     name branch  \
10933      NaN      NaN      NaN  ...  Westpac    NaN

                         acname    acno    sort bacsref main         register  \
10933  William and Julie Hopley  507453  732531     NaN    1  22/02/2019 9:08

                 amend                                             extra
10933  6/08/2019 16:49  tPayeeRef='RENT 117 Penrose'\rPayType='B'\rbnk...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
10934        0  12/03/2019 13:13  RPT19000514   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                    acname  \
10934      NaN      NaN      NaN  ...  NaN    NaN  William and Julie Hopley

            acno   sort bacsref main         register             amend  \
10934  400017373  12666     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
10934  tPayeeRef='RENT 117 Penrose'\rPayType='B'\rbnk...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11089        0  12/03/2019 13:13  RPT19000669   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...       name branch         acname  \
11089      NaN      NaN      NaN  ...  CBA Perth    NaN  Bruce Linehan

           acno   sort bacsref main         register             amend  \
11089  11109059  66001     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11089  tPayeeRef='RENT 9 Crathe'\rPayType='B'\rbnkRPS...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11230        0  12/03/2019 13:13  RPT19000810   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                acname  \
11230      NaN      NaN      NaN  ...  CBA    NaN  Michael Billy Morell

           acno   sort bacsref main         register             amend  \
11230  10281795  62438     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11230  tPayeeRef='RENT 6 Foyle Cres'\rPayType='B'\rbn...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11281        0  12/03/2019 13:13  RPT19000861   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...               name branch    acname  \
11281      NaN      NaN      NaN  ...  NAB St Kilda Road    NaN  Deon Nel

            acno   sort bacsref main         register             amend  \
11281  137538223  83155     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11281  tPayeeRef='RENT 204 Cross St'\rPayType='B'\rbn...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11307        0  12/03/2019 13:13  RPT19000887   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                     acname  \
11307      NaN      NaN      NaN  ...  BOM    NaN  I P McInerney & L J Owens

            acno    sort bacsref main         register             amend  \
11307  413979384  193879     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11307  tPayeeRef='RENT 30 Park'\rPayType='B'\rbnkRPSI...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11308        0  12/03/2019 13:13  RPT19000888   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                     acname  \
11308      NaN      NaN      NaN  ...  BOM    NaN  I P McInerney & L J Owens

            acno    sort bacsref main         register             amend  \
11308  413979384  193879     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11308  tPayeeRef='RENT 30 Park'\rPayType='B'\rbnkRPSI...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11227        0  10/05/2019 13:04  RPT19000807   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...       name    branch  \
11227      NaN      NaN      NaN  ...  Bank West  Willeton

                     acname    acno    sort bacsref main         register  \
11227  S Moniz Classic Plus  770263  306085     NaN    1  22/02/2019 9:08

                  amend                                             extra
11227  10/05/2019 13:04  PayType='B'\rbnkRPSImported={22/02/2019 00:00:...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11228        0  12/03/2019 13:13  RPT19000808   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...            name branch  \
11228      NaN      NaN      NaN  ...  WBC Cannington    NaN

                     acname    acno    sort bacsref main         register  \
11228  S Moniz Classic Plus  664081  736067     NaN    1  22/02/2019 9:08

                  amend                                             extra
11228  12/03/2019 13:13  tPayeeRef='RENT 3 Crathe Clos'\rPayType='B'\rb...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11823        0  12/03/2019 13:13  RPT19001403   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...                 name branch  \
11823      NaN      NaN      NaN  ...  WBC Dandenong Plaza    NaN

                         acname    acno    sort bacsref main         register  \
11823  Mouhamed and Manal Zeini  582800  733186     NaN    1  22/02/2019 9:08

                  amend                                             extra
11823  12/03/2019 13:13  tPayeeRef='RENT 11 Bandon'\rPayType='B'\rbnkRP...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11824        0  12/03/2019 13:13  RPT19001404   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...                 name branch  \
11824      NaN      NaN      NaN  ...  WBC Dandenong Plaza    NaN

                         acname    acno    sort bacsref main         register  \
11824  Mouhamed and Manal Zeini  582800  733186     NaN    1  22/02/2019 9:08

                  amend                                             extra
11824  12/03/2019 13:13  tPayeeRef='RENT 11 Bandon'\rPayType='B'\rbnkRP...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
12920        0  12/03/2019 13:13  RPT19002500   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...                            name branch  \
12920      NaN      NaN      NaN  ...  Commonwealth Bank of Australia    NaN

                       acname      acno   sort bacsref main         register  \
12920  Susanne & Bruce Topham  10516119  63549     NaN    1  22/02/2019 9:13

                  amend                                             extra
12920  12/03/2019 13:13  bnkRPSImported={22/02/2019 00:00:00}\rbnkOldCo...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
12954        0  18/05/2021 15:45  RPT19002534   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch  \
12954      NaN      NaN      NaN  ...  NaN    NaN

                             acname       acno    sort bacsref main  \
12954  Nazzareno & Meredith Ann Lia  100956887  812170     NaN    1

              register             amend  \
12954  22/02/2019 9:13  18/05/2021 15:45

                                                  extra
12954  bnkRPSImported={22/02/2019 00:00:00}\rbnkOldCo...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
13082        0  12/03/2019 13:13  RPT19002662   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...                        name branch  \
13082      NaN      NaN      NaN  ...  Australia New Zealand Bank    NaN

                                         acname       acno   sort bacsref  \
13082  David Jeffrey Dalton Rowlands & Michelle  262462854  13035     NaN

      main         register             amend  \
13082    1  22/02/2019 9:13  12/03/2019 13:13

                                                  extra
13082  bnkRPSImported={22/02/2019 00:00:00}\rbnkOldCo...

[1 rows x 22 columns]
      synchdel         synchrec         code hseno hsename address1 address2  \
10683        0  1/11/2021 15:49  RPT19000263   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch       acname    acno  \
10683      NaN      NaN      NaN  ...  NaN    NaN  Bryan Dawes  767602

         sort bacsref main         register            amend  \
10683  736037     NaN    1  22/02/2019 9:08  1/11/2021 15:49

                                                  extra
10683  tPayeeRef='RENT 16 Cavell'\rPayType='B'\rbnkRP...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11146        0  12/03/2019 13:13  RPT19000726   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...              name branch         acname  \
11146      NaN      NaN      NaN  ...  WBC Moonee Ponds    NaN  T & R Manineo

         acno   sort bacsref main         register             amend  \
11146  531975  33062     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11146  tPayeeRef='RENT 250 PVR'\rPayType='B'\rbnkRPSI...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11147        0  12/03/2019 13:13  RPT19000727   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...              name branch         acname  \
11147      NaN      NaN      NaN  ...  WBC Moonee Ponds    NaN  T & R Manineo

         acno   sort bacsref main         register             amend  \
11147  531975  33062     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11147  tPayeeRef='RENT 250 PVR'\rPayType='B'\rbnkRPSI...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11565        0  12/03/2019 13:13  RPT19001145   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...           name branch          acname  \
11565      NaN      NaN      NaN  ...  NAB Geraldton    NaN  Chung Jian Tan

            acno   sort bacsref main         register             amend  \
11565  392610165  86643     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11565  tPayeeRef='RENT 39 Grattan'\rPayType='B'\rbnkR...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
16532        0  12/03/2019 13:13  RPT19006112   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...                            name branch  \
16532      NaN      NaN      NaN  ...  Commonwealth Bank of Australia    NaN

                     acname      acno   sort bacsref main         register  \
16532  Mal & Karen Campbell  10350887  63126     NaN    1  22/02/2019 9:17

                  amend                                             extra
16532  12/03/2019 13:13  bnkRPSImported={22/02/2019 00:00:00}\rbnkOldCo...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
10579        0  12/03/2019 13:13  RPT19000159   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...              name branch  \
10579      NaN      NaN      NaN  ...  ANZ Broadmeadows    NaN

                            acname       acno   sort bacsref main  \
10579  Jane Bundock Equity Manager  386499755  13230     NaN    1

              register             amend  \

In [184]:
pt_owners.drop('prop_id',axis =1).to_csv('PropertyTree Data/PropertyTree_Owners.csv',index = False)

In [322]:
rps_lng_lookup = pd.read_csv('C://Users//SahilSingh//OneDrive - LongView//Documents//lng_exit//' + 'rps_lng_lookup.csv')

In [328]:
contacts_to_bank = rps_lng_lookup[rps_lng_lookup['typeto'] == 'bnk']

In [331]:
contacts_to_bank = contacts_to_bank.merge(bank_detail,how ='left',left_on='codeto',right_on='code')

In [339]:
len(contacts_to_bank)

19573

In [333]:
pt_creditors = pd.read_csv('PropertyTree Data/PropertyTree_Creditors_clean.csv',dtype = 'str')

In [340]:
contacts_to_bank.columns

Index(['synchdel_x', 'synchrec_x', 'code_x', 'typefrom', 'typeto', 'codefrom',
       'codeto', 'register_x', 'amend ', 'synchdel_y', 'synchrec_y', 'code_y',
       'hseno', 'hsename', 'address1', 'address2', 'address3', 'address4',
       'postcode', 'country', 'approved', 'name', 'branch', 'acname', 'acno',
       'sort', 'bacsref', 'main', 'register_y', 'amend', 'extra '],
      dtype='object')

In [341]:
for index,row in pt_creditors.iterrows():
    temp_con = row['creditor_id'].split('_lng-')[1]
    temp_df = contacts_to_bank[contacts_to_bank['codefrom'] == temp_con]
    if not temp_df.empty:
        pt_creditors.at[index,'payment_method'] = 'EFT'
        pt_creditors.at[index,'eft_account_name'] = temp_df['acname'].iloc[0]
        pt_creditors.at[index,'eft_account_bsb'] = temp_df['sort'].iloc[0]
        pt_creditors.at[index,'eft_account_no'] = temp_df['acno'].iloc[0]

In [344]:
pt_creditors.to_csv('PropertyTree Data/PropertyTree_Creditors_clean.csv',index = False)

# Tenats and account details

In [87]:
pt_tenancies = pd.read_csv('PropertyTree Data/PropertyTree_Tenancies.csv',dtype = 'str')

In [347]:
pt_tenancies.columns

Index(['tenancy_id', 'property_id', 'original_lease_start', 'lease_start',
       'lease_end', 'vacate_type', 'notice_sent_received', 'termination_date',
       'moving_out', 'charge_to', 'contact_1_id',
       'contact_[n]_auto_email_receipts', 'contact_[n]_auto_email_invoices',
       'contact_[n]_enotices_no_consent', 'contact_[n]_dont_send_marketing',
       'contact_[n]_type', 'contact_[n]_account_name',
       'contact_[n]_account_bsb', 'contact_[n]_account_no',
       'direct_debit_invoices', 'direct_debit_rent', 'direct_debit_contact_id',
       'direct_debit_max_amount', 'direct_debit_schedule_description',
       'direct_debit_schedule_period', 'direct_debit_schedule_amount',
       'direct_debit_schedule_start', 'direct_debit_schedule_end',
       'last_rent_review', 'next_rent_review', 'rent_account',
       'rent_description', 'rent_start', 'rent_period', 'rent_amount',
       'new_rent_start', 'new_rent_period', 'new_rent_amount', 'rent_paid_to',
       'rent_credit', 'outgoings_[n]_account', 'outgoings_[n]_description',
       'outgoings_[n]_amount', 'outgoings_[n]_paid_to', 'outgoings_[n]_credit',
       'new_outgoings_[n]_amount', 'bond_[n]_required', 'bond_[n]_account',
       'bond_[n]_reference', 'bond_[n]_lodged_direct', 'held_for_tenancy',
       'tag_[group name]', 'fee_[fee id]', 'contact_2_id', 'contact_3_id',
       'contact_4_id'],
      dtype='object')

In [349]:

# Iterate through each contact column
for index,row in pt_tenancies.iterrows():
    if str(row['contact_1_id']) != 'nan':
        temp_con = row['contact_1_id'].split('_lng-')[1]
        temp_df = contacts_to_bank[contacts_to_bank['codefrom'] == temp_con]
        if not temp_df.empty:
            pt_tenancies.at[index,'contact_1_account_name'] = temp_df['acname'].iloc[0]
            pt_tenancies.at[index,'contact_1_account_bsb'] = temp_df['sort'].iloc[0]
            pt_tenancies.at[index,'contact_1_account_no'] = temp_df['acno'].iloc[0]
    if str(row['contact_2_id']) != 'nan':
        temp_con = row['contact_2_id'].split('_lng-')[1]
        temp_df = contacts_to_bank[contacts_to_bank['codefrom'] == temp_con]
        if not temp_df.empty:
            pt_tenancies.at[index,'contact_2_account_name'] = temp_df['acname'].iloc[0]
            pt_tenancies.at[index,'contact_2_account_bsb'] = temp_df['sort'].iloc[0]
            pt_tenancies.at[index,'contact_2_account_no'] = temp_df['acno'].iloc[0]
    if str(row['contact_3_id']) != 'nan':
        temp_con = row['contact_3_id'].split('_lng-')[1]
        temp_df = contacts_to_bank[contacts_to_bank['codefrom'] == temp_con]
        if not temp_df.empty:
            pt_tenancies.at[index,'contact_3_account_name'] = temp_df['acname'].iloc[0]
            pt_tenancies.at[index,'contact_3_account_bsb'] = temp_df['sort'].iloc[0]
            pt_tenancies.at[index,'contact_3_account_no'] = temp_df['acno'].iloc[0]
    if str(row['contact_4_id']) != 'nan':
        temp_con = row['contact_4_id'].split('_lng-')[1]
        temp_df = contacts_to_bank[contacts_to_bank['codefrom'] == temp_con]
        if not temp_df.empty:
            pt_tenancies.at[index,'contact_4_account_name'] = temp_df['acname'].iloc[0]
            pt_tenancies.at[index,'contact_4_account_bsb'] = temp_df['sort'].iloc[0]
            pt_tenancies.at[index,'contact_4_account_no'] = temp_df['acno'].iloc[0]
        
for col_name in pt_tenancies.columns:
    if col_name in ['contact_[n]_account_name','contact_[n]_account_bsb', 'contact_[n]_account_no']:
        pt_tenancies.drop(columns=[col_name], inplace=True)


# Display or use the updated DataFrame
print(pt_tenancies)

            tenancy_id        property_id original_lease_start lease_start  \
0    rps_lng-HDO211377  rps_lng-CVA210023           2022-11-12  2022-11-12
1    rps_lng-CVA210538  rps_lng-CVA210032           2022-10-01  2022-10-01
2    rps_lng-CVA210093  rps_lng-CVA210067           2020-01-01  2020-01-01
3    rps_lng-HDO220375  rps_lng-CVA210068           2022-03-21  2023-03-21
4    rps_lng-HDO230303  rps_lng-CVA210071           2023-03-18  2023-03-18
..                 ...                ...                  ...         ...
253  rps_lng-HDO230654  rps_lng-HDO230195           2023-05-27  2023-05-27
254  rps_lng-HDO230868  rps_lng-HDO230247           2023-07-11  2023-07-11
255  rps_lng-HDO230835  rps_lng-HDO230259           2023-07-22  2023-07-22
256  rps_lng-HDO230933  rps_lng-HDO230287           2023-08-10  2023-08-10
257  rps_lng-HDO230889  rps_lng-HDO230313           2023-07-14  2023-07-14

      lease_end vacate_type notice_sent_received termination_date moving_out  \
0    2024-11-11         NaN                  NaN              NaN        NaN
1    2023-09-30         NaN                  NaN              NaN        NaN
2    2021-01-31         NaN                  NaN              NaN        NaN
3    2024-03-20         NaN                  NaN              NaN        NaN
4    2024-03-17         NaN                  NaN              NaN        NaN
..          ...         ...                  ...              ...        ...
253  2024-05-26         NaN                  NaN              NaN        NaN
254  2024-07-10         NaN                  NaN              NaN        NaN
255  2024-07-21         NaN                  NaN              NaN        NaN
256  2024-08-09         NaN                  NaN              NaN        NaN
257  2025-01-13         NaN                  NaN              NaN        NaN

    charge_to  ... contact_4_id                  contact_1_account_name  \
0         NaN  ...          NaN                         Samuel Johnston
1         NaN  ...          NaN                                     NaN
2         NaN  ...          NaN                         Nicholas Geeves
3         NaN  ...          NaN                         Tran Nhat Trung
4         NaN  ...          NaN                          Evalyn Venture
..        ...  ...          ...                                     ...
253       NaN  ...          NaN          Jordon Ferguson & Emily Bourke
254       NaN  ...          NaN  Harish Satya Soma Sundhar Reddy Chinta
255       NaN  ...          NaN                          Chloe Gambrill
256       NaN  ...          NaN                                     NaN
257       NaN  ...          NaN            NIRMAL NATHAN DHEENADHAYALAN

    contact_1_account_bsb contact_1_account_no contact_2_account_name  \
0                  923100            305823928                    NaN
1                     NaN                  NaN    Cuming Timms, Sarah
2                   83091            553266554       Geeves, Nicholas
3                   63408             11192625                    NaN
4                   83419            935293451                    NaN
..                    ...                  ...                    ...
253                923100             67213161                    NaN
254                 63132             11447803                    NaN
255                633123            197094014                    NaN
256                   NaN                  NaN                    NaN
257                 63599             11212910                    NaN

    contact_2_account_bsb contact_2_account_no contact_3_account_name  \
0                     NaN                  NaN                    NaN
1                  923100             67968735                    NaN
2                   83091            553266554                    NaN
3                     NaN                  NaN                    NaN
4                     NaN                  NaN                    NaN
..                    ...                  ...                    ...
253                   NaN                  NaN                    NaN
254                   NaN                  NaN                    NaN
255                   NaN                  NaN                    NaN
256                   NaN                  NaN                    NaN
257                   NaN                  NaN                    NaN

    contact_3_account_bsb contact_3_account_no
0                     NaN                  NaN
1                     NaN                  NaN
2                     NaN                  NaN
3                     NaN                  NaN
4                     NaN                  NaN
..                    ...                  ...
253                   NaN                  NaN
254                   NaN                  NaN
255                   NaN                  NaN
256                   NaN                  NaN
257                   NaN                  NaN

[258 rows x 62 columns]

In [352]:
pt_tenancies.to_csv('PropertyTree Data/PropertyTree_Tenancies.csv',index = False)

# Getting the Direct debits

In [88]:
pt_tenancies

,tenancy_id,property_id,original_lease_start,lease_start,lease_end,vacate_type,notice_sent_received,termination_date,moving_out,charge_to,...,contact_4_id,contact_1_account_name,contact_1_account_bsb,contact_1_account_no,contact_2_account_name,contact_2_account_bsb,contact_2_account_no,contact_3_account_name,contact_3_account_bsb,contact_3_account_no
0,rps_lng-HDO211377,rps_lng-CVA210023,2022-11-12,2022-11-12,2024-11-11,NaN,NaN,NaN,NaN,NaN,...,NaN,Samuel Johnston,923100,305823928,NaN,NaN,NaN,NaN,NaN,NaN
1,rps_lng-CVA210538,rps_lng-CVA210032,2022-10-01,2022-10-01,2023-09-30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Cuming Timms, Sarah",923100,67968735,NaN,NaN,NaN
2,rps_lng-CVA210093,rps_lng-CVA210067,2020-01-01,2020-01-01,2021-01-31,NaN,NaN,NaN,NaN,NaN,...,NaN,Nicholas Geeves,83091,553266554,"Geeves, Nicholas",83091,553266554,NaN,NaN,NaN
3,rps_lng-HDO220375,rps_lng-CVA210068,2022-03-21,2023-03-21,2024-03-20,NaN,NaN,NaN,NaN,NaN,...,NaN,Tran Nhat Trung,63408,11192625,NaN,NaN,NaN,NaN,NaN,NaN
4,rps_lng-HDO230303,rps_lng-CVA210071,2023-03-18,2023-03-18,2024-03-17,NaN,NaN,NaN,NaN,NaN,...,NaN,Evalyn Venture,83419,935293451,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,rps_lng-HDO230654,rps_lng-HDO230195,2023-05-27,2023-05-27,2024-05-26,NaN,NaN,NaN,NaN,NaN,...,NaN,Jordon Ferguson & Emily Bourke,923100,67213161,NaN,NaN,NaN,NaN,NaN,NaN
254,rps_lng-HDO230868,rps_lng-HDO230247,2023-07-11,2023-07-11,2024-07-10,NaN,NaN,NaN,NaN,NaN,...,NaN,Harish Satya Soma Sundhar Reddy Chinta,63132,11447803,NaN,NaN,NaN,NaN,NaN,NaN
255,rps_lng-HDO230835,rps_lng-HDO230259,2023-07-22,2023-07-22,2024-07-21,NaN,NaN,NaN,NaN,NaN,...,NaN,Chloe Gambrill,633123,197094014,NaN,NaN,NaN,NaN,NaN,NaN
256,rps_lng-HDO230933,rps_lng-HDO230287,2023-08-10,2023-08-10,2024-08-09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,rps_lng-HDO230889,rps_lng-HDO230313,2023-07-14,2023-07-14,2025-01-13,NaN,NaN,NaN,NaN,NaN,...,NaN,NIRMAL NATHAN DHEENADHAYALAN,63599,11212910,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
direct_debits_df= bank_detail_link[bank_detail_link['vars'].str.contains('DdRef=',na=False)]

In [80]:
direct_debits_df['vars'].iloc[2]

"DdAmt=1825\rDdRef='OC1102134'\rDdStat='A'\rDdColl={01/09/2023 00:00:00}\rDdPer=100\rDdLastAmt=1868\rDdNoticeColl={01/08/2023 00:00:00}\rDdNoticeFreq='1'"

In [81]:
def extract_values(row):
    pattern = r'(\w+)=(.*?)(?=\r|$)'
    key_value_pairs = re.findall(pattern, row['vars'])

    extracted_values = {}
    for key, value in key_value_pairs:
        if value.startswith("'") and value.endswith("'"):
            value = value[1:-1]
        extracted_values[key] = value

    return pd.Series(extracted_values)

In [82]:
# Apply the function to each row and create a new DataFrame
extracted_df = direct_debits_df.apply(extract_values, axis=1)

# Concatenate the extracted values DataFrame with the original DataFrame
direct_debits_df = pd.concat([direct_debits_df, extracted_df], axis=1)
direct_debits_df

,synchdel,synchrec,code,codefrom,codeto,typefrom,typeto,vars,register,amend,...,DdNoticeAmt,DdNoticeColl,DdNoticeFreq,DdOldAc,DdOldSort,DdPer,DdRef,DdStat,EndDate,StartDate
17,0,2023-08-01 12:42:30,CVA21000001,CVA210001,CVA21001419,ten,cnt,DdAmt=1651\rDdRef='OC1102082'\rDdStat='A'\rDdP...,2010-06-18 20:41:36,2023-08-01 12:42:30,...,NaN,{01/08/2023 00:00:00},NaN,NaN,NaN,100,OC1102082,A,NaN,NaN
18,0,2021-05-03 15:44:42,CVA21000002,CVA210002,CVA21000558,ten,cnt,DdAmt=2325\rDdRef='OC1102123'\rDdStat='A'\rDdC...,2010-06-18 20:46:41,2021-05-03 15:44:42,...,NaN,NaN,NaN,NaN,NaN,100,OC1102123,A,NaN,NaN
19,0,2023-08-01 12:43:04,CVA21000003,CVA210003,CVA21000563,ten,cnt,DdAmt=1825\rDdRef='OC1102134'\rDdStat='A'\rDdC...,2010-06-18 20:47:54,2023-08-01 12:43:04,...,NaN,{01/08/2023 00:00:00},1,NaN,NaN,100,OC1102134,A,NaN,NaN
20,0,2023-08-01 12:43:04,CVA21000004,CVA210004,CVA21000566,ten,cnt,DdAmt=1782\rDdRef='OC1102163'\rDdStat='A'\rDdC...,2010-06-18 20:51:05,2023-08-01 12:43:04,...,NaN,{01/08/2023 00:00:00},NaN,NaN,NaN,100,OC1102163,A,NaN,NaN
21,0,2023-08-01 12:43:04,CVA21000005,CVA210005,CVA21000569,ten,cnt,DdAmt=1739\rDdRef='OC1102191'\rDdStat='A'\rDdC...,2010-06-18 20:54:02,2023-08-01 12:43:04,...,NaN,{01/08/2023 00:00:00},1,NaN,NaN,100,OC1102191,A,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14917,0,2023-07-25 14:48:05,WES22000165,HDO220734,HDO22001498,ten,cnt,CntType='Add. Tenant 1'\rDdNoticeFreq='1'\rDdR...,2022-07-14 12:07:54,2023-07-25 14:48:05,...,NaN,{25/08/2023 00:00:00},1,NaN,NaN,100,25/45DECARLESTREET,A,NaN,NaN
14922,0,2023-07-31 13:33:05,WES22000170,HDO221043,HDO22002264,ten,cnt,CntType='Add. Tenant 1'\rDdRef='G03/100NICHOLS...,2022-07-27 15:04:46,2023-07-31 13:33:05,...,NaN,{29/07/2023 00:00:00},1,NaN,NaN,100,G03/100NICHOLSON-2,A,NaN,NaN
14964,0,2023-02-20 11:55:18,WES22000212,HDO221484,HDO22003418,ten,cnt,DdNoticeFreq='1'\rDdRef='G02/33HARROWSTRE-1'\r...,2022-11-10 15:31:32,2023-02-20 11:55:18,...,NaN,{19/02/2023 00:00:00},1,NaN,NaN,100,G02/33HARROWSTRE-1,NaN,NaN,NaN
14978,0,2023-03-28 12:19:00,WES23000001,HDO221823,HDO22004198,ten,cnt,CntType='Add. Tenant 1'\rDdNoticeFreq='1'\rDdR...,2023-01-04 11:30:31,2023-03-28 12:19:00,...,NaN,{28/03/2023 00:00:00},1,NaN,NaN,100,619/14DAVIDSTREE-2,X,NaN,NaN
15032,0,2023-07-03 09:38:47,WES23000055,HDO230829,HDO23002233,ten,cnt,DdNoticeFreq='0M'\rDdRef='3901/1QUEENSBRID-1'\...,2023-06-29 14:24:32,2023-07-03 09:38:47,...,NaN,{16/08/2023 00:00:00},0M,NaN,NaN,100,3901/1QUEENSBRID-1,P,NaN,NaN

In [90]:
len(direct_debits_df['codefrom'].unique())

3784

In [86]:
direct_debits_df['DdPer'].unique()

array(['100', '50', '25', '44', '32.6', '34.3', '35.38', '24', '35.33',
       '33.34', '34', '33.33', '32.02', '75', '60', '32.92', '31.65', nan,
       '33.5', '33', '27.95', '21.49', '26.93', '40', '14.55', '52.49',
       '47.51', '51', '67', '42.9', '57.1', '31.7', '34.8', '52', '48',
       '33.4', '33.3', '49', '30.4', '22.48', '33.7', '56', '47.6', '31',
       '26', '35.4', '32.58', '30.67', '31.4'], dtype=object)

In [93]:
pt_tenancies.columns

Index(['tenancy_id', 'property_id', 'original_lease_start', 'lease_start',
       'lease_end', 'vacate_type', 'notice_sent_received', 'termination_date',
       'moving_out', 'charge_to', 'contact_1_id',
       'contact_[n]_auto_email_receipts', 'contact_[n]_auto_email_invoices',
       'contact_[n]_enotices_no_consent', 'contact_[n]_dont_send_marketing',
       'contact_[n]_type', 'direct_debit_invoices', 'direct_debit_rent',
       'direct_debit_contact_id', 'direct_debit_max_amount',
       'direct_debit_schedule_description', 'direct_debit_schedule_period',
       'direct_debit_schedule_amount', 'direct_debit_schedule_start',
       'direct_debit_schedule_end', 'last_rent_review', 'next_rent_review',
       'rent_account', 'rent_description', 'rent_start', 'rent_period',
       'rent_amount', 'new_rent_start', 'new_rent_period', 'new_rent_amount',
       'rent_paid_to', 'rent_credit', 'outgoings_[n]_account',
       'outgoings_[n]_description', 'outgoings_[n]_amount',
       'outgoings_[n]_paid_to', 'outgoings_[n]_credit',
       'new_outgoings_[n]_amount', 'bond_[n]_required', 'bond_[n]_account',
       'bond_[n]_reference', 'bond_[n]_lodged_direct', 'held_for_tenancy',
       'tag_[group name]', 'fee_[fee id]', 'contact_2_id', 'contact_3_id',
       'contact_4_id', 'contact_1_account_name', 'contact_1_account_bsb',
       'contact_1_account_no', 'contact_2_account_name',
       'contact_2_account_bsb', 'contact_2_account_no',
       'contact_3_account_name', 'contact_3_account_bsb',
       'contact_3_account_no'],
      dtype='object')

In [94]:
direct_debits_df.columns

Index(['synchdel', 'synchrec', 'code', 'codefrom', 'codeto', 'typefrom',
       'typeto', 'vars', 'register', 'amend ', 'CntType', 'DdAmt', 'DdCancel',
       'DdColl', 'DdDelay', 'DdFreq', 'DdFreqType', 'DdLastAmt', 'DdNoticeAmt',
       'DdNoticeColl', 'DdNoticeFreq', 'DdOldAc', 'DdOldSort', 'DdPer',
       'DdRef', 'DdStat', 'EndDate', 'StartDate'],
      dtype='object')

In [98]:
import pandas as pd
import re
from datetime import datetime as dt

In [141]:
c = 0
# Iterate through each contact column
for index,row in pt_tenancies.iterrows():
    if str(row['tenancy_id']) != 'nan':
        temp_ten = row['tenancy_id'].split('_lng-')[1]
        temp_df = direct_debits_df[direct_debits_df['codefrom'] == temp_ten]
        if not temp_df.empty:
            if temp_df.shape[0] == 1:
                if temp_df['DdStat'].iloc[0] != 'X':
                #print(temp_df)

                    pt_tenancies.at[index,'direct_debit_invoices'] = True
                    pt_tenancies.at[index,'direct_debit_rent'] = 'RentBySchedule'
                    pt_tenancies.at[index,'direct_debit_contact_id'] = f"rps_lng-{temp_df['codeto'].iloc[0]}"
                    pt_tenancies.at[index,'direct_debit_max_amount'] = temp_df['DdLastAmt'].iloc[0]
                    pt_tenancies.at[index,'direct_debit_schedule_description'] = temp_df['DdRef'].iloc[0]
                    pt_tenancies.at[index,'direct_debit_schedule_period'] = 'Monthly'
                    pt_tenancies.at[index,'direct_debit_schedule_description'] = temp_df['DdRef'].iloc[0]
                    pt_tenancies.at[index,'direct_debit_schedule_amount'] = temp_df['DdAmt'].iloc[0]
                    pt_tenancies.at[index,'direct_debit_schedule_start'] = dt.strptime(temp_df['DdNoticeColl'].iloc[0][1:-1], '%d/%m/%Y %H:%M:%S').date() if str(temp_df['DdNoticeColl'].iloc[0]) != 'nan' else None
            else:
                temp_df = temp_df.loc[temp_df['DdPer'].astype(float).idxmax()]
                if temp_df['DdStat'] != 'X':
                #print(temp_df)
                    pt_tenancies.at[index,'direct_debit_invoices'] = True
                    pt_tenancies.at[index,'direct_debit_rent'] = 'RentBySchedule'
                    pt_tenancies.at[index,'direct_debit_contact_id'] = f"rps_lng-{temp_df['codeto']}"
                    pt_tenancies.at[index,'direct_debit_max_amount'] = temp_df['DdLastAmt']
                    pt_tenancies.at[index,'direct_debit_schedule_description'] = temp_df['DdRef']
                    pt_tenancies.at[index,'direct_debit_schedule_period'] = 'Monthly'
                    pt_tenancies.at[index,'direct_debit_schedule_description'] = temp_df['DdRef']
                    pt_tenancies.at[index,'direct_debit_schedule_amount'] = temp_df['DdAmt']
                    pt_tenancies.at[index,'direct_debit_schedule_start'] = dt.strptime(temp_df['DdNoticeColl'][1:-1], '%d/%m/%Y %H:%M:%S').date() if str(temp_df['DdNoticeColl']) != 'nan' else None
                    c+=1

                


# Display or use the updated DataFrame
print(pt_tenancies)

            tenancy_id        property_id original_lease_start lease_start  \
0    rps_lng-HDO211377  rps_lng-CVA210023           2022-11-12  2022-11-12
1    rps_lng-CVA210538  rps_lng-CVA210032           2022-10-01  2022-10-01
2    rps_lng-CVA210093  rps_lng-CVA210067           2020-01-01  2020-01-01
3    rps_lng-HDO220375  rps_lng-CVA210068           2022-03-21  2023-03-21
4    rps_lng-HDO230303  rps_lng-CVA210071           2023-03-18  2023-03-18
..                 ...                ...                  ...         ...
253  rps_lng-HDO230654  rps_lng-HDO230195           2023-05-27  2023-05-27
254  rps_lng-HDO230868  rps_lng-HDO230247           2023-07-11  2023-07-11
255  rps_lng-HDO230835  rps_lng-HDO230259           2023-07-22  2023-07-22
256  rps_lng-HDO230933  rps_lng-HDO230287           2023-08-10  2023-08-10
257  rps_lng-HDO230889  rps_lng-HDO230313           2023-07-14  2023-07-14

      lease_end vacate_type notice_sent_received termination_date moving_out  \
0    2024-11-11         NaN                  NaN              NaN        NaN
1    2023-09-30         NaN                  NaN              NaN        NaN
2    2021-01-31         NaN                  NaN              NaN        NaN
3    2024-03-20         NaN                  NaN              NaN        NaN
4    2024-03-17         NaN                  NaN              NaN        NaN
..          ...         ...                  ...              ...        ...
253  2024-05-26         NaN                  NaN              NaN        NaN
254  2024-07-10         NaN                  NaN              NaN        NaN
255  2024-07-21         NaN                  NaN              NaN        NaN
256  2024-08-09         NaN                  NaN              NaN        NaN
257  2025-01-13         NaN                  NaN              NaN        NaN

    charge_to  ... contact_2_account_name contact_2_account_bsb  \
0         NaN  ...                    NaN                   NaN
1         NaN  ...    Cuming Timms, Sarah                923100
2         NaN  ...       Geeves, Nicholas                 83091
3         NaN  ...                    NaN                   NaN
4         NaN  ...                    NaN                   NaN
..        ...  ...                    ...                   ...
253       NaN  ...                    NaN                   NaN
254       NaN  ...                    NaN                   NaN
255       NaN  ...                    NaN                   NaN
256       NaN  ...                    NaN                   NaN
257       NaN  ...                    NaN                   NaN

    contact_2_account_no contact_3_account_name contact_3_account_bsb  \
0                    NaN                    NaN                   NaN
1               67968735                    NaN                   NaN
2              553266554                    NaN                   NaN
3                    NaN                    NaN                   NaN
4                    NaN                    NaN                   NaN
..                   ...                    ...                   ...
253                  NaN                    NaN                   NaN
254                  NaN                    NaN                   NaN
255                  NaN                    NaN                   NaN
256                  NaN                    NaN                   NaN
257                  NaN                    NaN                   NaN

    contact_3_account_no bond_1_required bond_1_account bond_1_reference  \
0                    NaN          2151.0       100005.0         15178870
1                    NaN             NaN            NaN              NaN
2                    NaN             NaN            NaN              NaN
3                    NaN          1434.0       100005.0         15286610
4                    NaN          1868.0       100005.0         15546965
..                   ...             ...            ...              ...
253                  NaN          2824.0       100005.0         15592141
254                  NaN          1999.0       100005.0         15622723
255                  NaN          2759.0       100005.0         15636835
256                  NaN          1695.0       100005.0         15636657
257                  NaN          2150.0       100005.0         15634022

    bond_1_lodged_direct
0                    0.0
1                    NaN
2                    NaN
3                    0.0
4                    0.0
..                   ...
253                  0.0
254                  0.0
255                  0.0
256                  0.0
257                  0.0

[258 rows x 62 columns]

In [142]:
c

1

In [116]:
pt_tenancies.to_csv('PropertyTree Data/PropertyTree_Tenancies.csv',index = False)

# Bond details

In [119]:
pt_tenancies = pd.read_csv('PropertyTree Data/PropertyTree_Tenancies.csv',dtype = 'str')
pt_tenancies_bond_details = pd.read_excel('Data Before/RTBA_bond_details.xlsx',dtype = 'str')

In [132]:
pt_tenancies.columns

Index(['tenancy_id', 'property_id', 'original_lease_start', 'lease_start',
       'lease_end', 'vacate_type', 'notice_sent_received', 'termination_date',
       'moving_out', 'charge_to', 'contact_1_id',
       'contact_[n]_auto_email_receipts', 'contact_[n]_auto_email_invoices',
       'contact_[n]_enotices_no_consent', 'contact_[n]_dont_send_marketing',
       'contact_[n]_type', 'direct_debit_invoices', 'direct_debit_rent',
       'direct_debit_contact_id', 'direct_debit_max_amount',
       'direct_debit_schedule_description', 'direct_debit_schedule_period',
       'direct_debit_schedule_amount', 'direct_debit_schedule_start',
       'direct_debit_schedule_end', 'last_rent_review', 'next_rent_review',
       'rent_account', 'rent_description', 'rent_start', 'rent_period',
       'rent_amount', 'new_rent_start', 'new_rent_period', 'new_rent_amount',
       'rent_paid_to', 'rent_credit', 'outgoings_[n]_account',
       'outgoings_[n]_description', 'outgoings_[n]_amount',
       'outgoings_[n]_paid_to', 'outgoings_[n]_credit',
       'new_outgoings_[n]_amount', 'held_for_tenancy', 'tag_[group name]',
       'fee_[fee id]', 'contact_2_id', 'contact_3_id', 'contact_4_id',
       'contact_1_account_name', 'contact_1_account_bsb',
       'contact_1_account_no', 'contact_2_account_name',
       'contact_2_account_bsb', 'contact_2_account_no',
       'contact_3_account_name', 'contact_3_account_bsb',
       'contact_3_account_no', 'bond_1_required', 'bond_1_account',
       'bond_1_reference', 'bond_1_lodged_direct'],
      dtype='object')

In [127]:
for index,row in pt_tenancies.iterrows():
    if str(row['tenancy_id']) != 'nan':
        temp_ten = row['tenancy_id'].split('_lng-')[1]
        temp_df = pt_tenancies_bond_details[pt_tenancies_bond_details['Tenancy Code'] == temp_ten]
        if not temp_df.empty:
            pt_tenancies.at[index,'bond_1_required'] = round(float(temp_df['Invoiced'].iloc[0]),2)
            pt_tenancies.at[index,'bond_1_account'] = 100005
            pt_tenancies.at[index,'bond_1_reference'] = temp_df['DPS Registration No.'].iloc[0]
            pt_tenancies.at[index,'bond_1_lodged_direct'] = 0.00

        
for col_name in pt_tenancies.columns:
    if col_name in ['bond_[n]_required','bond_[n]_account', 'bond_[n]_reference','bond_[n]_lodged_direct']:
        pt_tenancies.drop(columns=[col_name], inplace=True)

In [131]:
pt_tenancies['bond_1_required'].isnull().value_counts()

False    203
True      55
Name: bond_1_required, dtype: int64

In [133]:
pt_tenancies.to_csv('PropertyTree Data/PropertyTree_Tenancies.csv',index = False)

In [139]:
for index,row in pt_tenancies.iterrows():
    if str(row['tenancy_id']) != 'nan':
        temp_ten = row['tenancy_id'].split('_lng-')[1]
        temp_df = direct_debits_df[direct_debits_df['codefrom'] == temp_ten]
        if not temp_df.empty:
            if temp_df.shape[0] == 1:
               continue
            else:
                print(temp_df)

      synchdel             synchrec         code   codefrom       codeto  \
554          0  2021-01-21 16:52:38  CVA21000538  CVA210538  CVA21001557
13545        0  2023-08-01 12:43:14  RPT21000106  CVA210538  CVA21001558

      typefrom typeto                                               vars  \
554        ten    cnt  DdAmt=3086\rDdRef='124LEICESTERSTRE-1'\rDdStat...
13545      ten    cnt  DdStat='A'\rDdRef='124LEICESTERSTRE-2'\rDdAmt=...

                  register               amend   ... DdNoticeAmt  \
554    2010-06-18 20:44:18  2021-01-21 16:52:38  ...        3086
13545  2021-01-19 11:33:22  2023-08-01 12:43:14  ...        3086

                DdNoticeColl DdNoticeFreq DdOldAc DdOldSort DdPer  \
554    {01/02/2021 00:00:00}           1M     NaN       NaN   100
13545  {01/08/2023 00:00:00}           1M     NaN       NaN   100

                    DdRef DdStat EndDate StartDate
554    124LEICESTERSTRE-1      X     NaN       NaN
13545  124LEICESTERSTRE-2      A     NaN       NaN

[2 rows x 28 columns]
     synchdel             synchrec         code   codefrom       codeto  \
4475        0  2023-07-18 14:12:29  HDO22001505  HDO221153  HDO22002581
4767        1  2023-01-10 11:23:57  HDO22001797  HDO221153  HDO22002582

     typefrom typeto                                               vars  \
4475      ten    cnt  CntType='Add. Tenant 1'\rDdRef='50/88FRANKLINS...
4767      ten    cnt  DdRef='50/88FRANKLINSTR-1'\rDdStat='A'\rDdPer=...

                 register               amend   ... DdNoticeAmt  \
4475  2022-08-11 17:16:43  2023-07-18 14:12:29  ...         NaN
4767  2022-09-26 21:14:45  2023-01-10 11:23:57  ...         NaN

               DdNoticeColl DdNoticeFreq DdOldAc DdOldSort DdPer  \
4475  {18/08/2023 00:00:00}            1     NaN       NaN   100
4767  {18/01/2023 00:00:00}          NaN     NaN       NaN   100

                   DdRef DdStat EndDate StartDate
4475  50/88FRANKLINSTR-2      A     NaN       NaN
4767  50/88FRANKLINSTR-1      A     NaN       NaN

[2 rows x 28 columns]
      synchdel             synchrec         code   codefrom       codeto  \
263          1  2022-02-14 09:47:19  CVA21000247  CVA210247  CVA21000605
13555        1  2022-02-14 09:47:15  RPT21000116  CVA210247  CVA21001499

      typefrom typeto                                               vars  \
263        ten    cnt  DdAmt=4085\rDdRef='121HOLDENSTREET-1'\rDdStat=...
13555      ten    cnt  DdStat='A'\rDdRef='121HOLDENSTREET-2'\rDdAmt=4...

                  register               amend   ... DdNoticeAmt  \
263    2010-06-18 21:09:58  2022-02-14 09:47:19  ...        4085
13555  2021-01-19 11:43:50  2022-02-14 09:47:15  ...        4085

                DdNoticeColl DdNoticeFreq DdOldAc DdOldSort DdPer  \
263    {01/02/2021 00:00:00}           1M     NaN       NaN   100
13555  {01/02/2021 00:00:00}           1M     NaN       NaN   100

                   DdRef DdStat                EndDate StartDate
263    121HOLDENSTREET-1      X  {28/02/2022 00:00:00}       NaN
13555  121HOLDENSTREET-2      A  {28/02/2022 00:00:00}       NaN

[2 rows x 28 columns]
      synchdel             synchrec         code   codefrom       codeto  \
130          0  2023-06-13 12:47:33  CVA21000114  CVA210114  CVA21000875
13530        0  2023-08-01 12:43:06  RPT21000091  CVA210114  CVA21000876

      typefrom typeto                                               vars  \
130        ten    cnt  DdAmt=1717\rDdRef='1419/18MTALEXAND-1'\rDdStat...
13530      ten    cnt  DdStat='A'\rDdRef='1419/18MTALEXAND-2'\rDdAmt=...

                  register               amend   ... DdNoticeAmt  \
130    2017-06-23 23:24:03  2023-06-13 12:47:33  ...        1717
13530  2021-01-19 11:24:15  2023-08-01 12:43:06  ...        1717

                DdNoticeColl DdNoticeFreq DdOldAc DdOldSort DdPer  \
130    {01/02/2021 00:00:00}            1     NaN       NaN   100
13530  {01/08/2023 00:00:00}            1     NaN       NaN   100

                    DdRef DdStat EndDate StartDate
130    1419/18MTALEXAND-1      X     NaN       NaN
13530  1419/18MTALEXAND-2      A     NaN       NaN

[2 rows x 28 columns]
      synchdel             synchrec         code   codefrom       codeto  \
628          0  2021-01-21 16:52:28  CVA21000612  CVA210612  CVA21001256
13605        0  2023-08-01 12:43:18  RPT21000166  CVA210612  CVA21001257

      typefrom typeto                                               vars  \
628        ten    cnt  DdAmt=1035.72\rDdRef='OC1288259'\rDdStat='X'\r...
13605      ten    cnt  DdRef='606/65COVENTRYST-2'\rDdStat='A'\rDdAmt=...

                  register               amend   ... DdNoticeAmt  \
628    2017-06-23 23:26:49  2021-01-21 16:52:28  ...     1035.72
13605  2021-01-21 13:31:46  2023-08-01 12:43:18  ...         NaN

                DdNoticeColl DdNoticeFreq DdOldAc DdOldSort DdPer  \
628    {01/02/2021 00:00:00}           1M     NaN       NaN   100
13605  {01/08/2023 00:00:00}          NaN     NaN       NaN   100

                    DdRef DdStat EndDate StartDate
628             OC1288259      X     NaN       NaN
13605  606/65COVENTRYST-2      A     NaN       NaN

[2 rows x 28 columns]
     synchdel             synchrec         code   codefrom       codeto  \
2785        1  2022-05-19 12:07:21  HDO21000829  HDO211551  HDO21003319
2893        0  2022-08-18 11:48:25  HDO21000937  HDO211551  HDO21003318

     typefrom typeto                                               vars  \
2785      ten    cnt  DdRef='2/22LEONARDAVENU-1'\rDdStat='X'\rDdPer=...
2893      ten    cnt  CntType='Add. Tenant 1'\rDdRef='2/22LEONARDAVE...

                 register               amend   ... DdNoticeAmt DdNoticeColl  \
2785  2021-12-01 10:42:28  2022-05-19 12:07:21  ...         NaN          NaN
2893  2021-12-20 10:02:29  2022-08-18 11:48:25  ...         NaN          NaN

     DdNoticeFreq DdOldAc DdOldSort DdPer               DdRef DdStat  \
2785          NaN     NaN       NaN   100  2/22LEONARDAVENU-1      X
2893          NaN     NaN       NaN   100  2/22LEONARDAVENU-2      X

                    EndDate              StartDate
2785  {19/05/2022 00:00:00}  {19/05/2022 00:00:00}
2893                    NaN                    NaN

[2 rows x 28 columns]

In [ ]:
pt_owners[pt_owners['ownership_id'] == 'rps_lng-RPT130252'].iloc[0]

ownership_id                      rps_lng-RPT130252
prop_id                           rps_lng-HDO130248
name                               Malcolm Campbell
abn                                             NaN
gst_registered                                  NaN
withhold_type                                   NaN
withhold_amount                                 NaN
withhold_reason                                 NaN
increase_withhold_amount                        NaN
contact_1_id                    rps_lng-HDO13001586
contact_2_id                    rps_lng-HDO19004904
contact_1_create_statements                    True
contact_1_send_statement_by                   Email
contact_2_send_statement_by                     NaN
contact_1_statement_style                     Basic
contact_2_statement_style                       NaN
contact_1_type                                Owner
contact_2_type                                  NaN
contact_1_payment_method                        EFT
contact_1_cheque_pay_to                         NaN
contact_1_account_name         Mal & Karen Campbell
contact_1_account_bsb                         63126
contact_1_account_no                       10350887
contact_1_eft_reference                         NaN
contact_1_payment_amount                        0.0
contact_2_payment_method                        NaN
contact_2_cheque_pay_to                         NaN
contact_2_account_name                          NaN
contact_2_account_bsb                           NaN
contact_2_account_no                            NaN
contact_2_eft_reference                         NaN
contact_2_payment_amount                        NaN
tag_[group name]                                NaN
fee_[fee id]                                    NaN
Name: 60, dtype: object

In [ ]:
len(prop_list_kasey),len(csv_prop_list),len(bank_detail_link_prop_list),len(prop_list_not_there)

(258, 4447, 4447, 161)

In [ ]:
prop_list_not_there

['CVA210032',
 'HDO191147',
 'HDO210119',
 'HDO210078',
 'HDO190510',
 'HDO190542',
 'HDO190628',
 'HDO210334',
 'HDO210486',
 'HDO220363',
 'HDO220483',
 'HDO210036',
 'HDO200113',
 'HDO220384',
 'HDO170231',
 'HDO190539',
 'CVA210117',
 'HDO190592',
 'CVA210429',
 'HDO220671',
 'HDO210526',
 'HDO210405',
 'HDO220251',
 'HDO210467',
 'CVA210068',
 'CVA210465',
 'HDO230313',
 'CVA210385',
 'HDO190398',
 'CVA210180',
 'CVA210073',
 'CVA210610',
 'HDO190540',
 'HDO190587',
 'CVA210231',
 'HDO220708',
 'CVA210067',
 'HDO191279',
 'CVA210459',
 'HDO220543',
 'HDO230259',
 'HDO230195',
 'HDO220008',
 'HDO190548',
 'CVA210435',
 'HDO200075',
 'HDO210251',
 'HDO220183',
 'CVA210272',
 'HDO190608',
 'HDO220217',
 'HDO210227',
 'HDO210068',
 'HDO210536',
 'HDO190507',
 'HDO191133',
 'HDO191230',
 'HDO210128',
 'HDO220504',
 'CVA210153',
 'HDO210224',
 'HDO200300',
 'HDO230187',
 'HDO210327',
 'CVA210417',
 'HDO210459',
 'HDO191272',
 'HDO210031',
 'CVA210389',
 'HDO190511',
 'HDO190552',
 'HDO230287',
 'CVA210647',
 'HDO200325',
 'HDO210146',
 'HDO210218',
 'HDO190630',
 'HDO220479',
 'CVA210616',
 'CVA210507',
 'HDO220224',
 'HDO220707',
 'HDO230011',
 'HDO190685',
 'HDO210413',
 'HDO210242',
 'HDO190995',
 'HDO200014',
 'CVA210542',
 'CVA210579',
 'CVA210439',
 'HDO190634',
 'HDO210307',
 'HDO220304',
 'CVA210167',
 'CVA210118',
 'HDO200296',
 'HDO220669',
 'HDO210296',
 'HDO210354',
 'CVA210072',
 'HDO210112',
 'HDO220250',
 'HDO210136',
 'HDO210226',
 'HDO220296',
 'HDO220273',
 'HDO200391',
 'HDO220482',
 'HDO220337',
 'CVA210391',
 'HDO210145',
 'CVA210071',
 'HDO220524',
 'CVA210436',
 'HDO210498',
 'HDO220578',
 'HDO210330',
 'HDO200287',
 'HDO200076',
 'HDO191014',
 'HDO220056',
 'HDO230051',
 'HDO220408',
 'CVA210420',
 'CVA210185',
 'CVA210491',
 'HDO220041',
 'HDO220146',
 'HDO220232',
 'HDO230247',
 'CVA210411',
 'HDO210436',
 'HDO190529',
 'HDO210271',
 'HDO220383',
 'HDO220585',
 'HDO210501',
 'HDO220143',
 'HDO210452',
 'HDO220153',
 'CVA210171',
 'HDO190581',
 'CVA210383',
 'HDO210442',
 'HDO220157',
 'HDO220366',
 'HDO220471',
 'CVA210023',
 'HDO230086',
 'HDO210408',
 'HDO200434',
 'HDO220468',
 'CVA210406',
 'HDO190959',
 'CVA210194',
 'HDO191134',
 'HDO220537',
 'HDO220225',
 'HDO220131',
 'CVA210384']

In [ ]:
bank_detail_link

,synchdel,synchrec,code,codefrom,codeto,typefrom,typeto,vars,register,amend
821,0,2022-02-21 14:56:34,DRE22000018,HDO140299,HDO14002049,prp,cnt,RPT19006463,2022-02-21 14:56:34,\N
822,0,2022-02-21 14:56:55,DRE22000019,HDO140300,HDO14002049,prp,cnt,RPT19006463,2022-02-21 14:56:55,\N
823,0,2022-02-21 14:57:15,DRE22000020,HDO140297,HDO14002049,prp,cnt,RPT19006463,2022-02-21 14:57:15,\N
1601,0,2019-02-28 19:55:41,HDO19000003,HDO190364,HDO190001,prp,lld,HDO19000008,2019-02-28 19:55:41,\N
1602,0,2019-02-28 20:35:43,HDO19000004,HDO190365,HDO190001,prp,lld,HDO19000008,2019-02-28 20:35:43,\N
...,...,...,...,...,...,...,...,...,...,...
14490,0,2020-06-02 11:53:46,WES20000001,HDO191188,HDO190572,prp,lld,HDO19000882,2020-06-02 11:53:46,\N
14491,0,2020-06-02 11:56:46,WES20000002,HDO191034,HDO190572,prp,lld,HDO19000882,2020-06-02 11:56:46,\N
14492,0,2020-06-02 11:57:14,WES20000003,HDO191075,HDO190572,prp,lld,HDO19000882,2020-06-02 11:57:14,\N
14493,0,2020-06-02 11:57:36,WES20000004,HDO191137,HDO190572,prp,lld,HDO19000882,2020-06-02 11:57:36,\N
14494,0,2020-06-03 12:13:15,WES20000005,HDO191208,HDO190746,prp,lld,HDO19001075,2020-06-03 12:13:15,\N

In [ ]:
prop_list_not_there

['CVA210032',
 'HDO191147',
 'HDO210119',
 'HDO210078',
 'HDO190510',
 'HDO190542',
 'HDO190628',
 'HDO210334',
 'HDO210486',
 'HDO220363',
 'HDO220483',
 'HDO210036',
 'HDO200113',
 'HDO220384',
 'HDO170231',
 'HDO190539',
 'CVA210117',
 'HDO190592',
 'CVA210429',
 'HDO220671',
 'HDO210526',
 'HDO210405',
 'HDO220251',
 'HDO210467',
 'CVA210068',
 'CVA210465',
 'HDO230313',
 'CVA210385',
 'HDO190398',
 'CVA210180',
 'CVA210073',
 'CVA210610',
 'HDO190540',
 'HDO190587',
 'CVA210231',
 'HDO220708',
 'CVA210067',
 'HDO191279',
 'CVA210459',
 'HDO220543',
 'HDO230259',
 'HDO230195',
 'HDO220008',
 'HDO190548',
 'CVA210435',
 'HDO200075',
 'HDO210251',
 'HDO220183',
 'CVA210272',
 'HDO190608',
 'HDO220217',
 'HDO210227',
 'HDO210068',
 'HDO210536',
 'HDO190507',
 'HDO191133',
 'HDO191230',
 'HDO210128',
 'HDO220504',
 'CVA210153',
 'HDO210224',
 'HDO200300',
 'HDO230187',
 'HDO210327',
 'CVA210417',
 'HDO210459',
 'HDO191272',
 'HDO210031',
 'CVA210389',
 'HDO190511',
 'HDO190552',
 'HDO230287',
 'CVA210647',
 'HDO200325',
 'HDO210146',
 'HDO210218',
 'HDO190630',
 'HDO220479',
 'CVA210616',
 'CVA210507',
 'HDO220224',
 'HDO220707',
 'HDO230011',
 'HDO190685',
 'HDO210413',
 'HDO210242',
 'HDO190995',
 'HDO200014',
 'CVA210542',
 'CVA210579',
 'CVA210439',
 'HDO190634',
 'HDO210307',
 'HDO220304',
 'CVA210167',
 'CVA210118',
 'HDO200296',
 'HDO220669',
 'HDO210296',
 'HDO210354',
 'CVA210072',
 'HDO210112',
 'HDO220250',
 'HDO210136',
 'HDO210226',
 'HDO220296',
 'HDO220273',
 'HDO200391',
 'HDO220482',
 'HDO220337',
 'CVA210391',
 'HDO210145',
 'CVA210071',
 'HDO220524',
 'CVA210436',
 'HDO210498',
 'HDO220578',
 'HDO210330',
 'HDO200287',
 'HDO200076',
 'HDO191014',
 'HDO220056',
 'HDO230051',
 'HDO220408',
 'CVA210420',
 'CVA210185',
 'CVA210491',
 'HDO220041',
 'HDO220146',
 'HDO220232',
 'HDO230247',
 'CVA210411',
 'HDO210436',
 'HDO190529',
 'HDO210271',
 'HDO220383',
 'HDO220585',
 'HDO210501',
 'HDO220143',
 'HDO210452',
 'HDO220153',
 'CVA210171',
 'HDO190581',
 'CVA210383',
 'HDO210442',
 'HDO220157',
 'HDO220366',
 'HDO220471',
 'CVA210023',
 'HDO230086',
 'HDO210408',
 'HDO200434',
 'HDO220468',
 'CVA210406',
 'HDO190959',
 'CVA210194',
 'HDO191134',
 'HDO220537',
 'HDO220225',
 'HDO220131',
 'CVA210384']

In [ ]:
def get_tenancies_workorders(tenancy_id):
    url = f"https://webservice.reapit.net.au/lng/rest/tenancies/{tenancy_id}/worksOrders"
    headers = {
        'ApiKey': "c242c818604a72582f383ba23b2853d1",
        "Accept": "application/json"
    }

    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        return response.json()
    else:
        print(f"Error: {response.status_code} - {response.text}")
        return None

In [ ]:
df_tenancies_workorders = pd.DataFrame()
for tenancy_id in df_tenancies['ID'].tolist():
    result = get_tenancies_workorders(tenancy_id)
    
    if result is not None:
        # Convert the result to a DataFrame
        df = json_normalize(result['Response'], sep='_')
        
        # Append the DataFrame to df_result
        df_tenancies_workorders = df_tenancies_workorders.append(df, ignore_index=True)

NameError: name 'df_tenancies' is not defined

In [ ]:
saved_dfs3[0]

,synchdel,synchrec,code,codefrom,codeto,typefrom,typeto,vars,register,amend,file_name_lv
13530,0,2023-08-01 12:43:06,RPT21000091,CVA210114,CVA21000876,ten,cnt,DdStat='A'\rDdRef='1419/18MTALEXAND-2'\rDdAmt=...,2021-01-19 11:24:15,2023-08-01 12:43:06,rps_lng_addstore.csv

In [ ]:
saved_dfs[6]

,synchdel,synchrec,code,type,prpcode,offcode,keysjson,register,amend,extra,estcode,file_name_lv
882,0,2019-12-04 14:28:50,HDO19000654,nan,HDO191147,HDO,[],2019-12-04 14:28:50,\N,KeyNoPlain='2316'\r,NaN,rps_lng_keyset.csv

In [ ]:
tempdf4

,synchdel,synchrec,code,hseno,hsename,address1,address2,address3,address4,postcode,...,branch,acname,acno,sort,bacsref,main,register,amend,extra,file_name_lv
3954,0,28/11/2019 20:00,HDO19001020,nan,nan,nan,nan,nan,nan,nan,...,nan,GRAMAC Pty Ltd ATF S & L Superannuation,966332066,182512,nan,1,21/11/2019 10:09,28/11/2019 20:00,"ApproveNegs='CHB,MLG'",rps_lng_bnk.csv

In [ ]:
# len(saved_dfs2)
saved_dfs2[0]['synchdel']

,synchdel,synchrec,code,hseno,hsename,address1,address2,address3,address4,postcode,...,branch,acname,acno,sort,bacsref,main,register,amend,extra,file_name_lv
3954,0,28/11/2019 20:00,HDO19001020,nan,nan,nan,nan,nan,nan,nan,...,nan,GRAMAC Pty Ltd ATF S & L Superannuation,966332066,182512,NaN,1,21/11/2019 10:09,28/11/2019 20:00,"ApproveNegs='CHB,MLG'",rps_lng_bnk.csv

In [ ]:
saved_dfs[8][saved_dfs[8]['extra'].str.contains('966332066', na=False)]

Empty DataFrame
Columns: [synchdel, synchrec, code, date, statdate, transfer, type, ledger, category, descr, cmpcode, lldcode, tencode, prpcode, estcode, negcode, drnom, crnom, vatcode, intref, paytype, authstat, paytran, clientac, netamt, vatamt, unalloc, cleared, lldstat, register, amend, extra, tenstat , file_name_lv]
Index: []

[0 rows x 34 columns]

In [ ]:
saved_dfs[19]

,synchdel,synchrec,code,orddate,reqby,complete,prpcode,estcode,tencode,status,reptype,negcode,cmpcode,descr,register,amend,extra,type,authstat,file_name_lv
21445,0,9/01/2020 13:29,HDO19001884,11/12/2019 0:00,20/12/2019 0:00,9/01/2020 0:00,HDO191185,nan,HDO191147,C,NaN,OST,CHA19000082,Various handyman items,11/12/2019 16:21,9/01/2020 13:29,"gwQuotes='[{""FieldPrefix"":"""",""Extra"":null,""IsP...",NaN,NaN,rps_lng_workhead.csv

In [ ]:
saved_dfs[8]['clientac']

118025    REN
118026    REN
118027    REN
118028    REN
118029    REN
         ...
118120    REN
118121    REN
118122    REN
118123    REN
118124    REN
Name: clientac, Length: 100, dtype: object