In [25]:
import requests
from pandas.io.json import json_normalize
import pandas as pd

In [26]:
bank_detail_link =pd.read_csv('Data Before/rps_lng_addstore.csv',dtype=str)
bank_detail =pd.read_csv('Data Before/rps_lng_bnk.csv',dtype=str)
pt_owners = pd.read_csv('PropertyTree Data/PropertyTree_Owners.csv',dtype=str)

In [160]:
bank_detail_link[bank_detail_link['typeto'] == 'lld']

,synchdel,synchrec,code,codefrom,codeto,typefrom,typeto,vars,register,amend
708,0,2021-01-12 16:29:33,DRE21000001,HDO191125,RPT140318,prp,lld,StmNote='Works not completed',2021-01-04 15:15:01,2021-01-12 16:29:33
1551,0,2021-03-31 15:42:49,HAW21000001,CVA210592,CVA210552,prp,lld,NaN,2021-01-20 15:08:55,2021-03-31 15:42:49
1552,0,2021-02-15 16:04:48,HAW21000002,CVA210278,CVA210279,prp,lld,NaN,2021-02-02 13:02:19,2021-02-15 16:04:48
1553,0,2021-03-05 11:11:40,HAW21000003,CVA210492,CVA210464,prp,lld,StmNote='invoices for 6 months of rent in adva...,2021-02-02 22:43:14,2021-03-05 11:11:40
1554,0,2021-03-05 11:14:07,HAW21000004,CVA210449,CVA210420,prp,lld,StmNote='Rent paid by outgoing tenant in the e...,2021-02-04 08:49:36,2021-03-05 11:14:07
...,...,...,...,...,...,...,...,...,...,...
14493,0,2020-06-02 11:57:36,WES20000004,HDO191137,HDO190572,prp,lld,Bank='HDO19000882'\r,2020-06-02 11:57:36,\N
14494,0,2020-06-03 12:13:15,WES20000005,HDO191208,HDO190746,prp,lld,Bank='HDO19001075'\r,2020-06-03 12:13:15,\N
14572,0,2021-09-09 08:17:51,WES21000078,HDO190964,HDO190532,prp,lld,NaN,2021-09-08 14:03:18,2021-09-09 08:17:51
14603,0,2021-10-11 17:15:41,WES21000109,CVA210386,CVA210356,prp,lld,NaN,2021-10-04 12:19:40,2021-10-11 17:15:41
14963,0,2022-11-10 15:27:55,WES22000211,CVA210852,CVA210886,prp,lld,Float=250\r,2022-11-10 15:27:55,2022-11-10 15:27:55

In [161]:
bank_detail_link = bank_detail_link[(bank_detail_link['vars'].str.contains('Bank', case=False,na=False))]

In [162]:
len(bank_detail_link['codeto'].unique())

4596

In [163]:
len(bank_detail_link)

5136

In [164]:
bank_detail_link[bank_detail_link['codeto'] == 'HDO190572']

,synchdel,synchrec,code,codefrom,codeto,typefrom,typeto,vars,register,amend
1791,0,2019-11-20 10:30:12,HDO19000193,HDO191015,HDO190572,prp,lld,Bank='HDO19000882'\r,2019-11-20 10:30:12,\N
1894,0,2020-04-16 12:19:39,HDO20000034,HDO200116,HDO190572,prp,lld,Bank='HDO20000184'\r,2020-04-16 12:19:39,\N
14490,0,2020-06-02 11:53:46,WES20000001,HDO191188,HDO190572,prp,lld,Bank='HDO19000882'\r,2020-06-02 11:53:46,\N
14491,0,2020-06-02 11:56:46,WES20000002,HDO191034,HDO190572,prp,lld,Bank='HDO19000882'\r,2020-06-02 11:56:46,\N
14492,0,2020-06-02 11:57:14,WES20000003,HDO191075,HDO190572,prp,lld,Bank='HDO19000882'\r,2020-06-02 11:57:14,\N
14493,0,2020-06-02 11:57:36,WES20000004,HDO191137,HDO190572,prp,lld,Bank='HDO19000882'\r,2020-06-02 11:57:36,\N

In [165]:
bank_detail[bank_detail['code']=='HDO19000882']

,synchdel,synchrec,code,hseno,hsename,address1,address2,address3,address4,postcode,...,name,branch,acname,acno,sort,bacsref,main,register,amend,extra
3816,0,3/06/2020 15:31,HDO19000882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Lynne Louise Wilton,193606657,13440,NaN,1,11/11/2019 16:15,3/06/2020 15:31,"ApproveNegs='OST,CHB'"

In [166]:
bank_detail_link['vars'] = bank_detail_link['vars'].str.extract(r"Bank='(.*?)'")

In [167]:
bank_detail.columns

Index(['synchdel', 'synchrec', 'code', 'hseno', 'hsename', 'address1',
       'address2', 'address3', 'address4', 'postcode', 'country', 'approved',
       'name', 'branch', 'acname', 'acno', 'sort', 'bacsref', 'main',
       'register', 'amend', 'extra '],
      dtype='object')

In [168]:
pt_owners.columns

Index(['ownership_id', 'prop_id', 'name', 'abn', 'gst_registered',
       'withhold_type', 'withhold_amount', 'withhold_reason',
       'increase_withhold_amount', 'contact_1_id', 'contact_2_id',
       'contact_1_create_statements', 'contact_1_send_statement_by',
       'contact_2_send_statement_by', 'contact_1_statement_style',
       'contact_2_statement_style', 'contact_1_type', 'contact_2_type',
       'contact_1_payment_method', 'contact_1_cheque_pay_to',
       'contact_1_account_name', 'contact_1_account_bsb',
       'contact_1_account_no', 'contact_1_eft_reference',
       'contact_1_payment_amount', 'contact_2_payment_method',
       'contact_2_cheque_pay_to', 'contact_2_account_name',
       'contact_2_account_bsb', 'contact_2_account_no',
       'contact_2_eft_reference', 'contact_2_payment_amount',
       'tag_[group name]', 'fee_[fee id]'],
      dtype='object')

In [169]:
bank_detail_link

,synchdel,synchrec,code,codefrom,codeto,typefrom,typeto,vars,register,amend
821,0,2022-02-21 14:56:34,DRE22000018,HDO140299,HDO14002049,prp,cnt,RPT19006463,2022-02-21 14:56:34,\N
822,0,2022-02-21 14:56:55,DRE22000019,HDO140300,HDO14002049,prp,cnt,RPT19006463,2022-02-21 14:56:55,\N
823,0,2022-02-21 14:57:15,DRE22000020,HDO140297,HDO14002049,prp,cnt,RPT19006463,2022-02-21 14:57:15,\N
1601,0,2019-02-28 19:55:41,HDO19000003,HDO190364,HDO190001,prp,lld,HDO19000008,2019-02-28 19:55:41,\N
1602,0,2019-02-28 20:35:43,HDO19000004,HDO190365,HDO190001,prp,lld,HDO19000008,2019-02-28 20:35:43,\N
...,...,...,...,...,...,...,...,...,...,...
14490,0,2020-06-02 11:53:46,WES20000001,HDO191188,HDO190572,prp,lld,HDO19000882,2020-06-02 11:53:46,\N
14491,0,2020-06-02 11:56:46,WES20000002,HDO191034,HDO190572,prp,lld,HDO19000882,2020-06-02 11:56:46,\N
14492,0,2020-06-02 11:57:14,WES20000003,HDO191075,HDO190572,prp,lld,HDO19000882,2020-06-02 11:57:14,\N
14493,0,2020-06-02 11:57:36,WES20000004,HDO191137,HDO190572,prp,lld,HDO19000882,2020-06-02 11:57:36,\N
14494,0,2020-06-03 12:13:15,WES20000005,HDO191208,HDO190746,prp,lld,HDO19001075,2020-06-03 12:13:15,\N

In [170]:
c =0
for index,row in pt_owners.iterrows():
    if str(row['contact_1_id']) != 'nan':
        
        temp_contact = row['contact_1_id'].split('_lng-')[1]
        temp_prop = row['prop_id'].split('_lng-')[1]
        temp_lld = row['ownership_id'].split('_lng-')[1]
        temp_df = bank_detail_link[(bank_detail_link['codefrom'] == temp_prop) & (bank_detail_link['codeto'] == temp_contact)]
        if temp_df.empty:
            temp_df = bank_detail_link[(bank_detail_link['codefrom'] == temp_prop) & (bank_detail_link['codeto'] == temp_lld)]
        
        if not temp_df.empty:
            temp_df_bank = bank_detail[bank_detail['code'] == temp_df['vars'].iloc[0]]
            if not temp_df_bank.empty:
        
                print(temp_df_bank)
                pt_owners.at[index,'contact_1_payment_method'] = 'EFT'
                pt_owners.at[index,'contact_1_account_name'] = temp_df_bank['acname'].iloc[0]
                pt_owners.at[index,'contact_1_account_bsb'] = temp_df_bank['sort'].iloc[0]
                pt_owners.at[index,'contact_1_account_no'] = temp_df_bank['acno'].iloc[0]
                pt_owners.at[index,'contact_1_eft_reference'] = temp_df_bank['bacsref'].iloc[0]
                pt_owners.at[index,'contact_1_payment_amount'] = 00.00
                c+=1

        
    if str(row['contact_2_id']) != 'nan':
        temp_contact = row['contact_2_id'].split('_lng-')[1]
        temp_prop = row['prop_id'].split('_lng-')[1]
        temp_df = bank_detail_link[(bank_detail_link['codefrom'] == temp_prop) & (bank_detail_link['codeto'] == temp_contact)]
        if not temp_df.empty:
            temp_df_bank = bank_detail[bank_detail['code'] == temp_df['vars'].iloc[0]]
            if not temp_df_bank.empty:

                print(temp_df_bank)
                pt_owners.at[index,'contact_2_payment_method'] = 'EFT'
                pt_owners.at[index,'contact_2_account_name'] = temp_df_bank['acname'].iloc[0]
                pt_owners.at[index,'contact_2_account_bsb'] = temp_df_bank['sort'].iloc[0]
                pt_owners.at[index,'contact_2_account_no'] = temp_df_bank['acno'].iloc[0]
                pt_owners.at[index,'contact_2_eft_reference'] = temp_df_bank['bacsref'].iloc[0]
                pt_owners.at[index,'contact_2_payment_amount'] = 00.00
                c+=1

print(c)

     synchdel          synchrec         code hseno hsename address1 address2  \
1204        0  16/01/2021 14:21  CVA21001125   NaN     NaN      NaN      NaN

     address3 address4 postcode  ... name branch         acname    acno  \
1204      NaN      NaN      NaN  ...  NaN    NaN  Osric Pty Ltd  284035

       sort bacsref main          register amend  \
1204  63000      \N   \N  23/06/2017 23:20    \N

                                                 extra
1204  bnkOldCode='OW1113283/CT1399399'\rPayType='B'\...

[1 rows x 22 columns]
     synchdel          synchrec         code hseno hsename address1 address2  \
1443        0  16/01/2021 14:21  CVA21001364   NaN     NaN      NaN      NaN

     address3 address4 postcode  ... name branch  \
1443      NaN      NaN      NaN  ...  NaN    NaN

                                        acname       acno    sort bacsref  \
1443  Gough Consulting Services Pty Ltd ATF G   962017778  182512      \N

     main          register amend  \
1443   \N  22/06/2020 17:10    \N

                                                 extra
1443  bnkOldCode='OW1113283/CT1522019'\rPayType='B'\...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
10591        0  16/12/2022 10:13  RPT19000171   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch          acname      acno  \
10591      NaN      NaN      NaN  ...  NaN    NaN  L & J Campagna  10986784

         sort bacsref main         register             amend  \
10591  182182     NaN    1  22/02/2019 9:08  16/12/2022 10:13

                                                  extra
10591  tPayeeRef='Rent CADELL 18'\rPayType='B'\rbnkRP...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
10592        0  12/03/2019 13:13  RPT19000172   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...                            name branch  \
10592      NaN      NaN      NaN  ...  Citibank, 2 Park Street, Sydne    NaN

                        acname       acno    sort bacsref main  \
10592  L Campagna & J Campagna  472204874  242200     NaN    1

              register             amend  \
10592  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
10592  tPayeeRef='Rent CADELL 18'\rPayType='B'\rbnkRP...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11259        0  12/03/2019 13:13  RPT19000839   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                     acname  \
11259      NaN      NaN      NaN  ...  NaN    NaN  Jerad and Felicity Murphy

         acno    sort bacsref main         register             amend  \
11259  597111  736044     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11259  tPayeeRef='RENT 20 Delias Rd'\rPayType='B'\rbn...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11260        0  12/03/2019 13:13  RPT19000840   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                     acname  \
11260      NaN      NaN      NaN  ...  NaN    NaN  Jerad and Felicity Murphy

         acno    sort bacsref main         register             amend  \
11260  597111  736044     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11260  tPayeeRef='RENT 20 Delias Rd'\rPayType='B'\rbn...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
10636        0  12/03/2019 13:13  RPT19000216   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...               name branch  \
10636      NaN      NaN      NaN  ...  CBA Maddington WA    NaN

                                   acname      acno   sort bacsref main  \
10636  Vincent R Clegg and Alison L Clegg  10486585  66162     NaN    1

              register             amend  \
10636  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
10636  tPayeeRef='WINO16'\rPayType='B'\rbnkRPSImporte...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
10637        0  12/03/2019 13:13  RPT19000217   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...               name branch  \
10637      NaN      NaN      NaN  ...  CBA Maddington WA    NaN

                                   acname      acno   sort bacsref main  \
10637  Vincent R Clegg and Alison L Clegg  10486585  66162     NaN    1

              register             amend  \
10637  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
10637  tPayeeRef='WINO16'\rPayType='B'\rbnkRPSImporte...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11731        0  21/03/2023 15:03  RPT19001311   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch              acname  \
11731      NaN      NaN      NaN  ...  ANZ    NaN  Zong Wu & Kai Wang

            acno   sort bacsref main         register             amend  \
11731  319695625  12310     NaN    1  22/02/2019 9:08  21/03/2023 15:03

                                                  extra
11731  tPayeeRef='RENT 22 Prairie'\rPayType='B'\rbnkR...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11718        0  12/03/2019 13:13  RPT19001298   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                     acname  \
11718      NaN      NaN      NaN  ...  NAB    NaN  NGAI WONG & XIAO MAN WANG

            acno   sort bacsref main         register             amend  \
11718  196043183  82024     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11718  tPayeeRef='RENT PAYMENT PRAI5'\rPayType='B'\rb...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11719        0  12/03/2019 13:13  RPT19001299   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                     acname  \
11719      NaN      NaN      NaN  ...  NAB    NaN  NGAI WONG & XIAO MAN WANG

            acno   sort bacsref main         register             amend  \
11719  196043183  82024     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11719  tPayeeRef='RENT PAYMENT PRAI5'\rPayType='B'\rb...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11684        0  26/06/2019 17:43  RPT19001264   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch          acname      acno  \
11684      NaN      NaN      NaN  ...  CUA    NaN  Tracy A Warner  50956616

         sort bacsref main         register             amend  \
11684  814282     NaN    1  22/02/2019 9:08  26/06/2019 17:43

                                                  extra
11684  tPayeeRef='RENT 39 Laurence'\rPayType='B'\rbnk...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11691        0  12/03/2019 13:13  RPT19001271   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...       name branch     acname      acno  \
11691      NaN      NaN      NaN  ...  CBA Perth    NaN  Mr H Weck  11195340

        sort bacsref main         register             amend  \
11691  66000     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11691  tPayeeRef='RENT 13 Edenvale'\rPayType='B'\rbnk...

[1 rows x 22 columns]
      synchdel         synchrec         code hseno hsename address1 address2  \
10933        0  6/08/2019 16:49  RPT19000513   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...     name branch  \
10933      NaN      NaN      NaN  ...  Westpac    NaN

                         acname    acno    sort bacsref main         register  \
10933  William and Julie Hopley  507453  732531     NaN    1  22/02/2019 9:08

                 amend                                             extra
10933  6/08/2019 16:49  tPayeeRef='RENT 117 Penrose'\rPayType='B'\rbnk...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
10934        0  12/03/2019 13:13  RPT19000514   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                    acname  \
10934      NaN      NaN      NaN  ...  NaN    NaN  William and Julie Hopley

            acno   sort bacsref main         register             amend  \
10934  400017373  12666     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
10934  tPayeeRef='RENT 117 Penrose'\rPayType='B'\rbnk...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11089        0  12/03/2019 13:13  RPT19000669   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...       name branch         acname  \
11089      NaN      NaN      NaN  ...  CBA Perth    NaN  Bruce Linehan

           acno   sort bacsref main         register             amend  \
11089  11109059  66001     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11089  tPayeeRef='RENT 9 Crathe'\rPayType='B'\rbnkRPS...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11230        0  12/03/2019 13:13  RPT19000810   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                acname  \
11230      NaN      NaN      NaN  ...  CBA    NaN  Michael Billy Morell

           acno   sort bacsref main         register             amend  \
11230  10281795  62438     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11230  tPayeeRef='RENT 6 Foyle Cres'\rPayType='B'\rbn...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11281        0  12/03/2019 13:13  RPT19000861   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...               name branch    acname  \
11281      NaN      NaN      NaN  ...  NAB St Kilda Road    NaN  Deon Nel

            acno   sort bacsref main         register             amend  \
11281  137538223  83155     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11281  tPayeeRef='RENT 204 Cross St'\rPayType='B'\rbn...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11307        0  12/03/2019 13:13  RPT19000887   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                     acname  \
11307      NaN      NaN      NaN  ...  BOM    NaN  I P McInerney & L J Owens

            acno    sort bacsref main         register             amend  \
11307  413979384  193879     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11307  tPayeeRef='RENT 30 Park'\rPayType='B'\rbnkRPSI...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11308        0  12/03/2019 13:13  RPT19000888   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch                     acname  \
11308      NaN      NaN      NaN  ...  BOM    NaN  I P McInerney & L J Owens

            acno    sort bacsref main         register             amend  \
11308  413979384  193879     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11308  tPayeeRef='RENT 30 Park'\rPayType='B'\rbnkRPSI...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11227        0  10/05/2019 13:04  RPT19000807   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...       name    branch  \
11227      NaN      NaN      NaN  ...  Bank West  Willeton

                     acname    acno    sort bacsref main         register  \
11227  S Moniz Classic Plus  770263  306085     NaN    1  22/02/2019 9:08

                  amend                                             extra
11227  10/05/2019 13:04  PayType='B'\rbnkRPSImported={22/02/2019 00:00:...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11228        0  12/03/2019 13:13  RPT19000808   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...            name branch  \
11228      NaN      NaN      NaN  ...  WBC Cannington    NaN

                     acname    acno    sort bacsref main         register  \
11228  S Moniz Classic Plus  664081  736067     NaN    1  22/02/2019 9:08

                  amend                                             extra
11228  12/03/2019 13:13  tPayeeRef='RENT 3 Crathe Clos'\rPayType='B'\rb...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11823        0  12/03/2019 13:13  RPT19001403   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...                 name branch  \
11823      NaN      NaN      NaN  ...  WBC Dandenong Plaza    NaN

                         acname    acno    sort bacsref main         register  \
11823  Mouhamed and Manal Zeini  582800  733186     NaN    1  22/02/2019 9:08

                  amend                                             extra
11823  12/03/2019 13:13  tPayeeRef='RENT 11 Bandon'\rPayType='B'\rbnkRP...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11824        0  12/03/2019 13:13  RPT19001404   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...                 name branch  \
11824      NaN      NaN      NaN  ...  WBC Dandenong Plaza    NaN

                         acname    acno    sort bacsref main         register  \
11824  Mouhamed and Manal Zeini  582800  733186     NaN    1  22/02/2019 9:08

                  amend                                             extra
11824  12/03/2019 13:13  tPayeeRef='RENT 11 Bandon'\rPayType='B'\rbnkRP...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
12920        0  12/03/2019 13:13  RPT19002500   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...                            name branch  \
12920      NaN      NaN      NaN  ...  Commonwealth Bank of Australia    NaN

                       acname      acno   sort bacsref main         register  \
12920  Susanne & Bruce Topham  10516119  63549     NaN    1  22/02/2019 9:13

                  amend                                             extra
12920  12/03/2019 13:13  bnkRPSImported={22/02/2019 00:00:00}\rbnkOldCo...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
12954        0  18/05/2021 15:45  RPT19002534   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch  \
12954      NaN      NaN      NaN  ...  NaN    NaN

                             acname       acno    sort bacsref main  \
12954  Nazzareno & Meredith Ann Lia  100956887  812170     NaN    1

              register             amend  \
12954  22/02/2019 9:13  18/05/2021 15:45

                                                  extra
12954  bnkRPSImported={22/02/2019 00:00:00}\rbnkOldCo...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
13082        0  12/03/2019 13:13  RPT19002662   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...                        name branch  \
13082      NaN      NaN      NaN  ...  Australia New Zealand Bank    NaN

                                         acname       acno   sort bacsref  \
13082  David Jeffrey Dalton Rowlands & Michelle  262462854  13035     NaN

      main         register             amend  \
13082    1  22/02/2019 9:13  12/03/2019 13:13

                                                  extra
13082  bnkRPSImported={22/02/2019 00:00:00}\rbnkOldCo...

[1 rows x 22 columns]
      synchdel         synchrec         code hseno hsename address1 address2  \
10683        0  1/11/2021 15:49  RPT19000263   NaN     NaN      NaN      NaN

      address3 address4 postcode  ... name branch       acname    acno  \
10683      NaN      NaN      NaN  ...  NaN    NaN  Bryan Dawes  767602

         sort bacsref main         register            amend  \
10683  736037     NaN    1  22/02/2019 9:08  1/11/2021 15:49

                                                  extra
10683  tPayeeRef='RENT 16 Cavell'\rPayType='B'\rbnkRP...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11146        0  12/03/2019 13:13  RPT19000726   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...              name branch         acname  \
11146      NaN      NaN      NaN  ...  WBC Moonee Ponds    NaN  T & R Manineo

         acno   sort bacsref main         register             amend  \
11146  531975  33062     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11146  tPayeeRef='RENT 250 PVR'\rPayType='B'\rbnkRPSI...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11147        0  12/03/2019 13:13  RPT19000727   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...              name branch         acname  \
11147      NaN      NaN      NaN  ...  WBC Moonee Ponds    NaN  T & R Manineo

         acno   sort bacsref main         register             amend  \
11147  531975  33062     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11147  tPayeeRef='RENT 250 PVR'\rPayType='B'\rbnkRPSI...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
11565        0  12/03/2019 13:13  RPT19001145   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...           name branch          acname  \
11565      NaN      NaN      NaN  ...  NAB Geraldton    NaN  Chung Jian Tan

            acno   sort bacsref main         register             amend  \
11565  392610165  86643     NaN    1  22/02/2019 9:08  12/03/2019 13:13

                                                  extra
11565  tPayeeRef='RENT 39 Grattan'\rPayType='B'\rbnkR...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
16532        0  12/03/2019 13:13  RPT19006112   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...                            name branch  \
16532      NaN      NaN      NaN  ...  Commonwealth Bank of Australia    NaN

                     acname      acno   sort bacsref main         register  \
16532  Mal & Karen Campbell  10350887  63126     NaN    1  22/02/2019 9:17

                  amend                                             extra
16532  12/03/2019 13:13  bnkRPSImported={22/02/2019 00:00:00}\rbnkOldCo...

[1 rows x 22 columns]
      synchdel          synchrec         code hseno hsename address1 address2  \
10579        0  12/03/2019 13:13  RPT19000159   NaN     NaN      NaN      NaN

      address3 address4 postcode  ...              name branch  \
10579      NaN      NaN      NaN  ...  ANZ Broadmeadows    NaN

                            acname       acno   sort bacsref main  \
10579  Jane Bundock Equity Manager  386499755  13230     NaN    1

              register             amend  \

In [184]:
pt_owners.drop('prop_id',axis =1).to_csv('PropertyTree Data/PropertyTree_Owners.csv',index = False)

In [322]:
rps_lng_lookup = pd.read_csv('C://Users//SahilSingh//OneDrive - LongView//Documents//lng_exit//' + 'rps_lng_lookup.csv')

In [328]:
contacts_to_bank = rps_lng_lookup[rps_lng_lookup['typeto'] == 'bnk']

In [331]:
contacts_to_bank = contacts_to_bank.merge(bank_detail,how ='left',left_on='codeto',right_on='code')

In [339]:
len(contacts_to_bank)

19573

In [333]:
pt_creditors = pd.read_csv('PropertyTree Data/PropertyTree_Creditors_clean.csv',dtype = 'str')

In [340]:
contacts_to_bank.columns

Index(['synchdel_x', 'synchrec_x', 'code_x', 'typefrom', 'typeto', 'codefrom',
       'codeto', 'register_x', 'amend ', 'synchdel_y', 'synchrec_y', 'code_y',
       'hseno', 'hsename', 'address1', 'address2', 'address3', 'address4',
       'postcode', 'country', 'approved', 'name', 'branch', 'acname', 'acno',
       'sort', 'bacsref', 'main', 'register_y', 'amend', 'extra '],
      dtype='object')

In [341]:
for index,row in pt_creditors.iterrows():
    temp_con = row['creditor_id'].split('_lng-')[1]
    temp_df = contacts_to_bank[contacts_to_bank['codefrom'] == temp_con]
    if not temp_df.empty:
        pt_creditors.at[index,'payment_method'] = 'EFT'
        pt_creditors.at[index,'eft_account_name'] = temp_df['acname'].iloc[0]
        pt_creditors.at[index,'eft_account_bsb'] = temp_df['sort'].iloc[0]
        pt_creditors.at[index,'eft_account_no'] = temp_df['acno'].iloc[0]

In [344]:
pt_creditors.to_csv('PropertyTree Data/PropertyTree_Creditors_clean.csv',index = False)

# Tenats and account details

In [87]:
pt_tenancies = pd.read_csv('PropertyTree Data/PropertyTree_Tenancies.csv',dtype = 'str')

In [347]:
pt_tenancies.columns

Index(['tenancy_id', 'property_id', 'original_lease_start', 'lease_start',
       'lease_end', 'vacate_type', 'notice_sent_received', 'termination_date',
       'moving_out', 'charge_to', 'contact_1_id',
       'contact_[n]_auto_email_receipts', 'contact_[n]_auto_email_invoices',
       'contact_[n]_enotices_no_consent', 'contact_[n]_dont_send_marketing',
       'contact_[n]_type', 'contact_[n]_account_name',
       'contact_[n]_account_bsb', 'contact_[n]_account_no',
       'direct_debit_invoices', 'direct_debit_rent', 'direct_debit_contact_id',
       'direct_debit_max_amount', 'direct_debit_schedule_description',
       'direct_debit_schedule_period', 'direct_debit_schedule_amount',
       'direct_debit_schedule_start', 'direct_debit_schedule_end',
       'last_rent_review', 'next_rent_review', 'rent_account',
       'rent_description', 'rent_start', 'rent_period', 'rent_amount',
       'new_rent_start', 'new_rent_period', 'new_rent_amount', 'rent_paid_to',
       'rent_credit', 'outgoings_[n]_account', 'outgoings_[n]_description',
       'outgoings_[n]_amount', 'outgoings_[n]_paid_to', 'outgoings_[n]_credit',
       'new_outgoings_[n]_amount', 'bond_[n]_required', 'bond_[n]_account',
       'bond_[n]_reference', 'bond_[n]_lodged_direct', 'held_for_tenancy',
       'tag_[group name]', 'fee_[fee id]', 'contact_2_id', 'contact_3_id',
       'contact_4_id'],
      dtype='object')

In [349]:

# Iterate through each contact column
for index,row in pt_tenancies.iterrows():
    if str(row['contact_1_id']) != 'nan':
        temp_con = row['contact_1_id'].split('_lng-')[1]
        temp_df = contacts_to_bank[contacts_to_bank['codefrom'] == temp_con]
        if not temp_df.empty:
            pt_tenancies.at[index,'contact_1_account_name'] = temp_df['acname'].iloc[0]
            pt_tenancies.at[index,'contact_1_account_bsb'] = temp_df['sort'].iloc[0]
            pt_tenancies.at[index,'contact_1_account_no'] = temp_df['acno'].iloc[0]
    if str(row['contact_2_id']) != 'nan':
        temp_con = row['contact_2_id'].split('_lng-')[1]
        temp_df = contacts_to_bank[contacts_to_bank['codefrom'] == temp_con]
        if not temp_df.empty:
            pt_tenancies.at[index,'contact_2_account_name'] = temp_df['acname'].iloc[0]
            pt_tenancies.at[index,'contact_2_account_bsb'] = temp_df['sort'].iloc[0]
            pt_tenancies.at[index,'contact_2_account_no'] = temp_df['acno'].iloc[0]
    if str(row['contact_3_id']) != 'nan':
        temp_con = row['contact_3_id'].split('_lng-')[1]
        temp_df = contacts_to_bank[contacts_to_bank['codefrom'] == temp_con]
        if not temp_df.empty:
            pt_tenancies.at[index,'contact_3_account_name'] = temp_df['acname'].iloc[0]
            pt_tenancies.at[index,'contact_3_account_bsb'] = temp_df['sort'].iloc[0]
            pt_tenancies.at[index,'contact_3_account_no'] = temp_df['acno'].iloc[0]
    if str(row['contact_4_id']) != 'nan':
        temp_con = row['contact_4_id'].split('_lng-')[1]
        temp_df = contacts_to_bank[contacts_to_bank['codefrom'] == temp_con]
        if not temp_df.empty:
            pt_tenancies.at[index,'contact_4_account_name'] = temp_df['acname'].iloc[0]
            pt_tenancies.at[index,'contact_4_account_bsb'] = temp_df['sort'].iloc[0]
            pt_tenancies.at[index,'contact_4_account_no'] = temp_df['acno'].iloc[0]
        
for col_name in pt_tenancies.columns:
    if col_name in ['contact_[n]_account_name','contact_[n]_account_bsb', 'contact_[n]_account_no']:
        pt_tenancies.drop(columns=[col_name], inplace=True)


# Display or use the updated DataFrame
print(pt_tenancies)

            tenancy_id        property_id original_lease_start lease_start  \
0    rps_lng-HDO211377  rps_lng-CVA210023           2022-11-12  2022-11-12
1    rps_lng-CVA210538  rps_lng-CVA210032           2022-10-01  2022-10-01
2    rps_lng-CVA210093  rps_lng-CVA210067           2020-01-01  2020-01-01
3    rps_lng-HDO220375  rps_lng-CVA210068           2022-03-21  2023-03-21
4    rps_lng-HDO230303  rps_lng-CVA210071           2023-03-18  2023-03-18
..                 ...                ...                  ...         ...
253  rps_lng-HDO230654  rps_lng-HDO230195           2023-05-27  2023-05-27
254  rps_lng-HDO230868  rps_lng-HDO230247           2023-07-11  2023-07-11
255  rps_lng-HDO230835  rps_lng-HDO230259           2023-07-22  2023-07-22
256  rps_lng-HDO230933  rps_lng-HDO230287           2023-08-10  2023-08-10
257  rps_lng-HDO230889  rps_lng-HDO230313           2023-07-14  2023-07-14

      lease_end vacate_type notice_sent_received termination_date moving_out  \
0    2024-11-11         NaN                  NaN              NaN        NaN
1    2023-09-30         NaN                  NaN              NaN        NaN
2    2021-01-31         NaN                  NaN              NaN        NaN
3    2024-03-20         NaN                  NaN              NaN        NaN
4    2024-03-17         NaN                  NaN              NaN        NaN
..          ...         ...                  ...              ...        ...
253  2024-05-26         NaN                  NaN              NaN        NaN
254  2024-07-10         NaN                  NaN              NaN        NaN
255  2024-07-21         NaN                  NaN              NaN        NaN
256  2024-08-09         NaN                  NaN              NaN        NaN
257  2025-01-13         NaN                  NaN              NaN        NaN

    charge_to  ... contact_4_id                  contact_1_account_name  \
0         NaN  ...          NaN                         Samuel Johnston
1         NaN  ...          NaN                                     NaN
2         NaN  ...          NaN                         Nicholas Geeves
3         NaN  ...          NaN                         Tran Nhat Trung
4         NaN  ...          NaN                          Evalyn Venture
..        ...  ...          ...                                     ...
253       NaN  ...          NaN          Jordon Ferguson & Emily Bourke
254       NaN  ...          NaN  Harish Satya Soma Sundhar Reddy Chinta
255       NaN  ...          NaN                          Chloe Gambrill
256       NaN  ...          NaN                                     NaN
257       NaN  ...          NaN            NIRMAL NATHAN DHEENADHAYALAN

    contact_1_account_bsb contact_1_account_no contact_2_account_name  \
0                  923100            305823928                    NaN
1                     NaN                  NaN    Cuming Timms, Sarah
2                   83091            553266554       Geeves, Nicholas
3                   63408             11192625                    NaN
4                   83419            935293451                    NaN
..                    ...                  ...                    ...
253                923100             67213161                    NaN
254                 63132             11447803                    NaN
255                633123            197094014                    NaN
256                   NaN                  NaN                    NaN
257                 63599             11212910                    NaN

    contact_2_account_bsb contact_2_account_no contact_3_account_name  \
0                     NaN                  NaN                    NaN
1                  923100             67968735                    NaN
2                   83091            553266554                    NaN
3                     NaN                  NaN                    NaN
4                     NaN                  NaN                    NaN
..                    ...                  ...                    ...
253                   NaN                  NaN                    NaN
254                   NaN                  NaN                    NaN
255                   NaN                  NaN                    NaN
256                   NaN                  NaN                    NaN
257                   NaN                  NaN                    NaN

    contact_3_account_bsb contact_3_account_no
0                     NaN                  NaN
1                     NaN                  NaN
2                     NaN                  NaN
3                     NaN                  NaN
4                     NaN                  NaN
..                    ...                  ...
253                   NaN                  NaN
254                   NaN                  NaN
255                   NaN                  NaN
256                   NaN                  NaN
257                   NaN                  NaN

[258 rows x 62 columns]

In [352]:
pt_tenancies.to_csv('PropertyTree Data/PropertyTree_Tenancies.csv',index = False)

# Getting the Direct debits

In [88]:
pt_tenancies

,tenancy_id,property_id,original_lease_start,lease_start,lease_end,vacate_type,notice_sent_received,termination_date,moving_out,charge_to,...,contact_4_id,contact_1_account_name,contact_1_account_bsb,contact_1_account_no,contact_2_account_name,contact_2_account_bsb,contact_2_account_no,contact_3_account_name,contact_3_account_bsb,contact_3_account_no
0,rps_lng-HDO211377,rps_lng-CVA210023,2022-11-12,2022-11-12,2024-11-11,NaN,NaN,NaN,NaN,NaN,...,NaN,Samuel Johnston,923100,305823928,NaN,NaN,NaN,NaN,NaN,NaN
1,rps_lng-CVA210538,rps_lng-CVA210032,2022-10-01,2022-10-01,2023-09-30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Cuming Timms, Sarah",923100,67968735,NaN,NaN,NaN
2,rps_lng-CVA210093,rps_lng-CVA210067,2020-01-01,2020-01-01,2021-01-31,NaN,NaN,NaN,NaN,NaN,...,NaN,Nicholas Geeves,83091,553266554,"Geeves, Nicholas",83091,553266554,NaN,NaN,NaN
3,rps_lng-HDO220375,rps_lng-CVA210068,2022-03-21,2023-03-21,2024-03-20,NaN,NaN,NaN,NaN,NaN,...,NaN,Tran Nhat Trung,63408,11192625,NaN,NaN,NaN,NaN,NaN,NaN
4,rps_lng-HDO230303,rps_lng-CVA210071,2023-03-18,2023-03-18,2024-03-17,NaN,NaN,NaN,NaN,NaN,...,NaN,Evalyn Venture,83419,935293451,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,rps_lng-HDO230654,rps_lng-HDO230195,2023-05-27,2023-05-27,2024-05-26,NaN,NaN,NaN,NaN,NaN,...,NaN,Jordon Ferguson & Emily Bourke,923100,67213161,NaN,NaN,NaN,NaN,NaN,NaN
254,rps_lng-HDO230868,rps_lng-HDO230247,2023-07-11,2023-07-11,2024-07-10,NaN,NaN,NaN,NaN,NaN,...,NaN,Harish Satya Soma Sundhar Reddy Chinta,63132,11447803,NaN,NaN,NaN,NaN,NaN,NaN
255,rps_lng-HDO230835,rps_lng-HDO230259,2023-07-22,2023-07-22,2024-07-21,NaN,NaN,NaN,NaN,NaN,...,NaN,Chloe Gambrill,633123,197094014,NaN,NaN,NaN,NaN,NaN,NaN
256,rps_lng-HDO230933,rps_lng-HDO230287,2023-08-10,2023-08-10,2024-08-09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,rps_lng-HDO230889,rps_lng-HDO230313,2023-07-14,2023-07-14,2025-01-13,NaN,NaN,NaN,NaN,NaN,...,NaN,NIRMAL NATHAN DHEENADHAYALAN,63599,11212910,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
direct_debits_df= bank_detail_link[bank_detail_link['vars'].str.contains('DdRef=',na=False)]

In [80]:
direct_debits_df['vars'].iloc[2]

"DdAmt=1825\rDdRef='OC1102134'\rDdStat='A'\rDdColl={01/09/2023 00:00:00}\rDdPer=100\rDdLastAmt=1868\rDdNoticeColl={01/08/2023 00:00:00}\rDdNoticeFreq='1'"

In [81]:
def extract_values(row):
    pattern = r'(\w+)=(.*?)(?=\r|$)'
    key_value_pairs = re.findall(pattern, row['vars'])

    extracted_values = {}
    for key, value in key_value_pairs:
        if value.startswith("'") and value.endswith("'"):
            value = value[1:-1]
        extracted_values[key] = value

    return pd.Series(extracted_values)

In [82]:
# Apply the function to each row and create a new DataFrame
extracted_df = direct_debits_df.apply(extract_values, axis=1)

# Concatenate the extracted values DataFrame with the original DataFrame
direct_debits_df = pd.concat([direct_debits_df, extracted_df], axis=1)
direct_debits_df

,synchdel,synchrec,code,codefrom,codeto,typefrom,typeto,vars,register,amend,...,DdNoticeAmt,DdNoticeColl,DdNoticeFreq,DdOldAc,DdOldSort,DdPer,DdRef,DdStat,EndDate,StartDate
17,0,2023-08-01 12:42:30,CVA21000001,CVA210001,CVA21001419,ten,cnt,DdAmt=1651\rDdRef='OC1102082'\rDdStat='A'\rDdP...,2010-06-18 20:41:36,2023-08-01 12:42:30,...,NaN,{01/08/2023 00:00:00},NaN,NaN,NaN,100,OC1102082,A,NaN,NaN
18,0,2021-05-03 15:44:42,CVA21000002,CVA210002,CVA21000558,ten,cnt,DdAmt=2325\rDdRef='OC1102123'\rDdStat='A'\rDdC...,2010-06-18 20:46:41,2021-05-03 15:44:42,...,NaN,NaN,NaN,NaN,NaN,100,OC1102123,A,NaN,NaN
19,0,2023-08-01 12:43:04,CVA21000003,CVA210003,CVA21000563,ten,cnt,DdAmt=1825\rDdRef='OC1102134'\rDdStat='A'\rDdC...,2010-06-18 20:47:54,2023-08-01 12:43:04,...,NaN,{01/08/2023 00:00:00},1,NaN,NaN,100,OC1102134,A,NaN,NaN
20,0,2023-08-01 12:43:04,CVA21000004,CVA210004,CVA21000566,ten,cnt,DdAmt=1782\rDdRef='OC1102163'\rDdStat='A'\rDdC...,2010-06-18 20:51:05,2023-08-01 12:43:04,...,NaN,{01/08/2023 00:00:00},NaN,NaN,NaN,100,OC1102163,A,NaN,NaN
21,0,2023-08-01 12:43:04,CVA21000005,CVA210005,CVA21000569,ten,cnt,DdAmt=1739\rDdRef='OC1102191'\rDdStat='A'\rDdC...,2010-06-18 20:54:02,2023-08-01 12:43:04,...,NaN,{01/08/2023 00:00:00},1,NaN,NaN,100,OC1102191,A,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14917,0,2023-07-25 14:48:05,WES22000165,HDO220734,HDO22001498,ten,cnt,CntType='Add. Tenant 1'\rDdNoticeFreq='1'\rDdR...,2022-07-14 12:07:54,2023-07-25 14:48:05,...,NaN,{25/08/2023 00:00:00},1,NaN,NaN,100,25/45DECARLESTREET,A,NaN,NaN
14922,0,2023-07-31 13:33:05,WES22000170,HDO221043,HDO22002264,ten,cnt,CntType='Add. Tenant 1'\rDdRef='G03/100NICHOLS...,2022-07-27 15:04:46,2023-07-31 13:33:05,...,NaN,{29/07/2023 00:00:00},1,NaN,NaN,100,G03/100NICHOLSON-2,A,NaN,NaN
14964,0,2023-02-20 11:55:18,WES22000212,HDO221484,HDO22003418,ten,cnt,DdNoticeFreq='1'\rDdRef='G02/33HARROWSTRE-1'\r...,2022-11-10 15:31:32,2023-02-20 11:55:18,...,NaN,{19/02/2023 00:00:00},1,NaN,NaN,100,G02/33HARROWSTRE-1,NaN,NaN,NaN
14978,0,2023-03-28 12:19:00,WES23000001,HDO221823,HDO22004198,ten,cnt,CntType='Add. Tenant 1'\rDdNoticeFreq='1'\rDdR...,2023-01-04 11:30:31,2023-03-28 12:19:00,...,NaN,{28/03/2023 00:00:00},1,NaN,NaN,100,619/14DAVIDSTREE-2,X,NaN,NaN
15032,0,2023-07-03 09:38:47,WES23000055,HDO230829,HDO23002233,ten,cnt,DdNoticeFreq='0M'\rDdRef='3901/1QUEENSBRID-1'\...,2023-06-29 14:24:32,2023-07-03 09:38:47,...,NaN,{16/08/2023 00:00:00},0M,NaN,NaN,100,3901/1QUEENSBRID-1,P,NaN,NaN

In [90]:
len(direct_debits_df['codefrom'].unique())

3784

In [86]:
direct_debits_df['DdPer'].unique()

array(['100', '50', '25', '44', '32.6', '34.3', '35.38', '24', '35.33',
       '33.34', '34', '33.33', '32.02', '75', '60', '32.92', '31.65', nan,
       '33.5', '33', '27.95', '21.49', '26.93', '40', '14.55', '52.49',
       '47.51', '51', '67', '42.9', '57.1', '31.7', '34.8', '52', '48',
       '33.4', '33.3', '49', '30.4', '22.48', '33.7', '56', '47.6', '31',
       '26', '35.4', '32.58', '30.67', '31.4'], dtype=object)

In [93]:
pt_tenancies.columns

Index(['tenancy_id', 'property_id', 'original_lease_start', 'lease_start',
       'lease_end', 'vacate_type', 'notice_sent_received', 'termination_date',
       'moving_out', 'charge_to', 'contact_1_id',
       'contact_[n]_auto_email_receipts', 'contact_[n]_auto_email_invoices',
       'contact_[n]_enotices_no_consent', 'contact_[n]_dont_send_marketing',
       'contact_[n]_type', 'direct_debit_invoices', 'direct_debit_rent',
       'direct_debit_contact_id', 'direct_debit_max_amount',
       'direct_debit_schedule_description', 'direct_debit_schedule_period',
       'direct_debit_schedule_amount', 'direct_debit_schedule_start',
       'direct_debit_schedule_end', 'last_rent_review', 'next_rent_review',
       'rent_account', 'rent_description', 'rent_start', 'rent_period',
       'rent_amount', 'new_rent_start', 'new_rent_period', 'new_rent_amount',
       'rent_paid_to', 'rent_credit', 'outgoings_[n]_account',
       'outgoings_[n]_description', 'outgoings_[n]_amount',
       'outgoings_[n]_paid_to', 'outgoings_[n]_credit',
       'new_outgoings_[n]_amount', 'bond_[n]_required', 'bond_[n]_account',
       'bond_[n]_reference', 'bond_[n]_lodged_direct', 'held_for_tenancy',
       'tag_[group name]', 'fee_[fee id]', 'contact_2_id', 'contact_3_id',
       'contact_4_id', 'contact_1_account_name', 'contact_1_account_bsb',
       'contact_1_account_no', 'contact_2_account_name',
       'contact_2_account_bsb', 'contact_2_account_no',
       'contact_3_account_name', 'contact_3_account_bsb',
       'contact_3_account_no'],
      dtype='object')

In [94]:
direct_debits_df.columns

Index(['synchdel', 'synchrec', 'code', 'codefrom', 'codeto', 'typefrom',
       'typeto', 'vars', 'register', 'amend ', 'CntType', 'DdAmt', 'DdCancel',
       'DdColl', 'DdDelay', 'DdFreq', 'DdFreqType', 'DdLastAmt', 'DdNoticeAmt',
       'DdNoticeColl', 'DdNoticeFreq', 'DdOldAc', 'DdOldSort', 'DdPer',
       'DdRef', 'DdStat', 'EndDate', 'StartDate'],
      dtype='object')

In [98]:
import pandas as pd
import re
from datetime import datetime as dt

In [110]:
c = 0
# Iterate through each contact column
for index,row in pt_tenancies.iterrows():
    if str(row['tenancy_id']) != 'nan':
        temp_ten = row['tenancy_id'].split('_lng-')[1]
        temp_df = direct_debits_df[direct_debits_df['codefrom'] == temp_ten]
        if not temp_df.empty:
            if temp_df.shape[0] == 1:
                #print(temp_df)

                pt_tenancies.at[index,'direct_debit_invoices'] = True
                pt_tenancies.at[index,'direct_debit_rent'] = 'RentBySchedule'
                pt_tenancies.at[index,'direct_debit_contact_id'] = f"rps_lng-{temp_df['codeto'].iloc[0]}"
                pt_tenancies.at[index,'direct_debit_max_amount'] = temp_df['DdLastAmt'].iloc[0]
                pt_tenancies.at[index,'direct_debit_schedule_description'] = temp_df['DdRef'].iloc[0]
                pt_tenancies.at[index,'direct_debit_schedule_period'] = 'Monthly'
                pt_tenancies.at[index,'direct_debit_schedule_description'] = temp_df['DdRef'].iloc[0]
                pt_tenancies.at[index,'direct_debit_schedule_amount'] = temp_df['DdAmt'].iloc[0]
                pt_tenancies.at[index,'direct_debit_schedule_start'] = dt.strptime(temp_df['DdNoticeColl'].iloc[0][1:-1], '%d/%m/%Y %H:%M:%S').date() if str(temp_df['DdNoticeColl'].iloc[0]) != 'nan' else None
            else:
                temp_df = temp_df.loc[temp_df['DdPer'].astype(float).idxmax()]
                #print(temp_df)
                pt_tenancies.at[index,'direct_debit_invoices'] = True
                pt_tenancies.at[index,'direct_debit_rent'] = 'RentBySchedule'
                pt_tenancies.at[index,'direct_debit_contact_id'] = f"rps_lng-{temp_df['codeto']}"
                pt_tenancies.at[index,'direct_debit_max_amount'] = temp_df['DdLastAmt']
                pt_tenancies.at[index,'direct_debit_schedule_description'] = temp_df['DdRef']
                pt_tenancies.at[index,'direct_debit_schedule_period'] = 'Monthly'
                pt_tenancies.at[index,'direct_debit_schedule_description'] = temp_df['DdRef']
                pt_tenancies.at[index,'direct_debit_schedule_amount'] = temp_df['DdAmt']
                pt_tenancies.at[index,'direct_debit_schedule_start'] = dt.strptime(temp_df['DdNoticeColl'][1:-1], '%d/%m/%Y %H:%M:%S').date() if str(temp_df['DdNoticeColl']) != 'nan' else None
                c+=1

                


# Display or use the updated DataFrame
print(pt_tenancies)

            tenancy_id        property_id original_lease_start lease_start  \
0    rps_lng-HDO211377  rps_lng-CVA210023           2022-11-12  2022-11-12
1    rps_lng-CVA210538  rps_lng-CVA210032           2022-10-01  2022-10-01
2    rps_lng-CVA210093  rps_lng-CVA210067           2020-01-01  2020-01-01
3    rps_lng-HDO220375  rps_lng-CVA210068           2022-03-21  2023-03-21
4    rps_lng-HDO230303  rps_lng-CVA210071           2023-03-18  2023-03-18
..                 ...                ...                  ...         ...
253  rps_lng-HDO230654  rps_lng-HDO230195           2023-05-27  2023-05-27
254  rps_lng-HDO230868  rps_lng-HDO230247           2023-07-11  2023-07-11
255  rps_lng-HDO230835  rps_lng-HDO230259           2023-07-22  2023-07-22
256  rps_lng-HDO230933  rps_lng-HDO230287           2023-08-10  2023-08-10
257  rps_lng-HDO230889  rps_lng-HDO230313           2023-07-14  2023-07-14

      lease_end vacate_type notice_sent_received termination_date moving_out  \
0    2024-11-11         NaN                  NaN              NaN        NaN
1    2023-09-30         NaN                  NaN              NaN        NaN
2    2021-01-31         NaN                  NaN              NaN        NaN
3    2024-03-20         NaN                  NaN              NaN        NaN
4    2024-03-17         NaN                  NaN              NaN        NaN
..          ...         ...                  ...              ...        ...
253  2024-05-26         NaN                  NaN              NaN        NaN
254  2024-07-10         NaN                  NaN              NaN        NaN
255  2024-07-21         NaN                  NaN              NaN        NaN
256  2024-08-09         NaN                  NaN              NaN        NaN
257  2025-01-13         NaN                  NaN              NaN        NaN

    charge_to  ... contact_4_id                  contact_1_account_name  \
0         NaN  ...          NaN                         Samuel Johnston
1         NaN  ...          NaN                                     NaN
2         NaN  ...          NaN                         Nicholas Geeves
3         NaN  ...          NaN                         Tran Nhat Trung
4         NaN  ...          NaN                          Evalyn Venture
..        ...  ...          ...                                     ...
253       NaN  ...          NaN          Jordon Ferguson & Emily Bourke
254       NaN  ...          NaN  Harish Satya Soma Sundhar Reddy Chinta
255       NaN  ...          NaN                          Chloe Gambrill
256       NaN  ...          NaN                                     NaN
257       NaN  ...          NaN            NIRMAL NATHAN DHEENADHAYALAN

    contact_1_account_bsb contact_1_account_no contact_2_account_name  \
0                  923100            305823928                    NaN
1                     NaN                  NaN    Cuming Timms, Sarah
2                   83091            553266554       Geeves, Nicholas
3                   63408             11192625                    NaN
4                   83419            935293451                    NaN
..                    ...                  ...                    ...
253                923100             67213161                    NaN
254                 63132             11447803                    NaN
255                633123            197094014                    NaN
256                   NaN                  NaN                    NaN
257                 63599             11212910                    NaN

    contact_2_account_bsb contact_2_account_no contact_3_account_name  \
0                     NaN                  NaN                    NaN
1                  923100             67968735                    NaN
2                   83091            553266554                    NaN
3                     NaN                  NaN                    NaN
4                     NaN                  NaN                    NaN
..                    ...                  ...                    ...
253                   NaN                  NaN                    NaN
254                   NaN                  NaN                    NaN
255                   NaN                  NaN                    NaN
256                   NaN                  NaN                    NaN
257                   NaN                  NaN                    NaN

    contact_3_account_bsb contact_3_account_no
0                     NaN                  NaN
1                     NaN                  NaN
2                     NaN                  NaN
3                     NaN                  NaN
4                     NaN                  NaN
..                    ...                  ...
253                   NaN                  NaN
254                   NaN                  NaN
255                   NaN                  NaN
256                   NaN                  NaN
257                   NaN                  NaN

[258 rows x 62 columns]

In [112]:
c

6

In [116]:
pt_tenancies.to_csv('PropertyTree Data/PropertyTree_Tenancies.csv',index = False)

In [ ]:
pt_owners[pt_owners['ownership_id'] == 'rps_lng-RPT130252'].iloc[0]

ownership_id                      rps_lng-RPT130252
prop_id                           rps_lng-HDO130248
name                               Malcolm Campbell
abn                                             NaN
gst_registered                                  NaN
withhold_type                                   NaN
withhold_amount                                 NaN
withhold_reason                                 NaN
increase_withhold_amount                        NaN
contact_1_id                    rps_lng-HDO13001586
contact_2_id                    rps_lng-HDO19004904
contact_1_create_statements                    True
contact_1_send_statement_by                   Email
contact_2_send_statement_by                     NaN
contact_1_statement_style                     Basic
contact_2_statement_style                       NaN
contact_1_type                                Owner
contact_2_type                                  NaN
contact_1_payment_method                        EFT
contact_1_cheque_pay_to                         NaN
contact_1_account_name         Mal & Karen Campbell
contact_1_account_bsb                         63126
contact_1_account_no                       10350887
contact_1_eft_reference                         NaN
contact_1_payment_amount                        0.0
contact_2_payment_method                        NaN
contact_2_cheque_pay_to                         NaN
contact_2_account_name                          NaN
contact_2_account_bsb                           NaN
contact_2_account_no                            NaN
contact_2_eft_reference                         NaN
contact_2_payment_amount                        NaN
tag_[group name]                                NaN
fee_[fee id]                                    NaN
Name: 60, dtype: object

In [ ]:
len(prop_list_kasey),len(csv_prop_list),len(bank_detail_link_prop_list),len(prop_list_not_there)

(258, 4447, 4447, 161)

In [ ]:
prop_list_not_there

['CVA210032',
 'HDO191147',
 'HDO210119',
 'HDO210078',
 'HDO190510',
 'HDO190542',
 'HDO190628',
 'HDO210334',
 'HDO210486',
 'HDO220363',
 'HDO220483',
 'HDO210036',
 'HDO200113',
 'HDO220384',
 'HDO170231',
 'HDO190539',
 'CVA210117',
 'HDO190592',
 'CVA210429',
 'HDO220671',
 'HDO210526',
 'HDO210405',
 'HDO220251',
 'HDO210467',
 'CVA210068',
 'CVA210465',
 'HDO230313',
 'CVA210385',
 'HDO190398',
 'CVA210180',
 'CVA210073',
 'CVA210610',
 'HDO190540',
 'HDO190587',
 'CVA210231',
 'HDO220708',
 'CVA210067',
 'HDO191279',
 'CVA210459',
 'HDO220543',
 'HDO230259',
 'HDO230195',
 'HDO220008',
 'HDO190548',
 'CVA210435',
 'HDO200075',
 'HDO210251',
 'HDO220183',
 'CVA210272',
 'HDO190608',
 'HDO220217',
 'HDO210227',
 'HDO210068',
 'HDO210536',
 'HDO190507',
 'HDO191133',
 'HDO191230',
 'HDO210128',
 'HDO220504',
 'CVA210153',
 'HDO210224',
 'HDO200300',
 'HDO230187',
 'HDO210327',
 'CVA210417',
 'HDO210459',
 'HDO191272',
 'HDO210031',
 'CVA210389',
 'HDO190511',
 'HDO190552',
 'HDO230287',
 'CVA210647',
 'HDO200325',
 'HDO210146',
 'HDO210218',
 'HDO190630',
 'HDO220479',
 'CVA210616',
 'CVA210507',
 'HDO220224',
 'HDO220707',
 'HDO230011',
 'HDO190685',
 'HDO210413',
 'HDO210242',
 'HDO190995',
 'HDO200014',
 'CVA210542',
 'CVA210579',
 'CVA210439',
 'HDO190634',
 'HDO210307',
 'HDO220304',
 'CVA210167',
 'CVA210118',
 'HDO200296',
 'HDO220669',
 'HDO210296',
 'HDO210354',
 'CVA210072',
 'HDO210112',
 'HDO220250',
 'HDO210136',
 'HDO210226',
 'HDO220296',
 'HDO220273',
 'HDO200391',
 'HDO220482',
 'HDO220337',
 'CVA210391',
 'HDO210145',
 'CVA210071',
 'HDO220524',
 'CVA210436',
 'HDO210498',
 'HDO220578',
 'HDO210330',
 'HDO200287',
 'HDO200076',
 'HDO191014',
 'HDO220056',
 'HDO230051',
 'HDO220408',
 'CVA210420',
 'CVA210185',
 'CVA210491',
 'HDO220041',
 'HDO220146',
 'HDO220232',
 'HDO230247',
 'CVA210411',
 'HDO210436',
 'HDO190529',
 'HDO210271',
 'HDO220383',
 'HDO220585',
 'HDO210501',
 'HDO220143',
 'HDO210452',
 'HDO220153',
 'CVA210171',
 'HDO190581',
 'CVA210383',
 'HDO210442',
 'HDO220157',
 'HDO220366',
 'HDO220471',
 'CVA210023',
 'HDO230086',
 'HDO210408',
 'HDO200434',
 'HDO220468',
 'CVA210406',
 'HDO190959',
 'CVA210194',
 'HDO191134',
 'HDO220537',
 'HDO220225',
 'HDO220131',
 'CVA210384']

In [ ]:
bank_detail_link

,synchdel,synchrec,code,codefrom,codeto,typefrom,typeto,vars,register,amend
821,0,2022-02-21 14:56:34,DRE22000018,HDO140299,HDO14002049,prp,cnt,RPT19006463,2022-02-21 14:56:34,\N
822,0,2022-02-21 14:56:55,DRE22000019,HDO140300,HDO14002049,prp,cnt,RPT19006463,2022-02-21 14:56:55,\N
823,0,2022-02-21 14:57:15,DRE22000020,HDO140297,HDO14002049,prp,cnt,RPT19006463,2022-02-21 14:57:15,\N
1601,0,2019-02-28 19:55:41,HDO19000003,HDO190364,HDO190001,prp,lld,HDO19000008,2019-02-28 19:55:41,\N
1602,0,2019-02-28 20:35:43,HDO19000004,HDO190365,HDO190001,prp,lld,HDO19000008,2019-02-28 20:35:43,\N
...,...,...,...,...,...,...,...,...,...,...
14490,0,2020-06-02 11:53:46,WES20000001,HDO191188,HDO190572,prp,lld,HDO19000882,2020-06-02 11:53:46,\N
14491,0,2020-06-02 11:56:46,WES20000002,HDO191034,HDO190572,prp,lld,HDO19000882,2020-06-02 11:56:46,\N
14492,0,2020-06-02 11:57:14,WES20000003,HDO191075,HDO190572,prp,lld,HDO19000882,2020-06-02 11:57:14,\N
14493,0,2020-06-02 11:57:36,WES20000004,HDO191137,HDO190572,prp,lld,HDO19000882,2020-06-02 11:57:36,\N
14494,0,2020-06-03 12:13:15,WES20000005,HDO191208,HDO190746,prp,lld,HDO19001075,2020-06-03 12:13:15,\N

In [ ]:
prop_list_not_there

['CVA210032',
 'HDO191147',
 'HDO210119',
 'HDO210078',
 'HDO190510',
 'HDO190542',
 'HDO190628',
 'HDO210334',
 'HDO210486',
 'HDO220363',
 'HDO220483',
 'HDO210036',
 'HDO200113',
 'HDO220384',
 'HDO170231',
 'HDO190539',
 'CVA210117',
 'HDO190592',
 'CVA210429',
 'HDO220671',
 'HDO210526',
 'HDO210405',
 'HDO220251',
 'HDO210467',
 'CVA210068',
 'CVA210465',
 'HDO230313',
 'CVA210385',
 'HDO190398',
 'CVA210180',
 'CVA210073',
 'CVA210610',
 'HDO190540',
 'HDO190587',
 'CVA210231',
 'HDO220708',
 'CVA210067',
 'HDO191279',
 'CVA210459',
 'HDO220543',
 'HDO230259',
 'HDO230195',
 'HDO220008',
 'HDO190548',
 'CVA210435',
 'HDO200075',
 'HDO210251',
 'HDO220183',
 'CVA210272',
 'HDO190608',
 'HDO220217',
 'HDO210227',
 'HDO210068',
 'HDO210536',
 'HDO190507',
 'HDO191133',
 'HDO191230',
 'HDO210128',
 'HDO220504',
 'CVA210153',
 'HDO210224',
 'HDO200300',
 'HDO230187',
 'HDO210327',
 'CVA210417',
 'HDO210459',
 'HDO191272',
 'HDO210031',
 'CVA210389',
 'HDO190511',
 'HDO190552',
 'HDO230287',
 'CVA210647',
 'HDO200325',
 'HDO210146',
 'HDO210218',
 'HDO190630',
 'HDO220479',
 'CVA210616',
 'CVA210507',
 'HDO220224',
 'HDO220707',
 'HDO230011',
 'HDO190685',
 'HDO210413',
 'HDO210242',
 'HDO190995',
 'HDO200014',
 'CVA210542',
 'CVA210579',
 'CVA210439',
 'HDO190634',
 'HDO210307',
 'HDO220304',
 'CVA210167',
 'CVA210118',
 'HDO200296',
 'HDO220669',
 'HDO210296',
 'HDO210354',
 'CVA210072',
 'HDO210112',
 'HDO220250',
 'HDO210136',
 'HDO210226',
 'HDO220296',
 'HDO220273',
 'HDO200391',
 'HDO220482',
 'HDO220337',
 'CVA210391',
 'HDO210145',
 'CVA210071',
 'HDO220524',
 'CVA210436',
 'HDO210498',
 'HDO220578',
 'HDO210330',
 'HDO200287',
 'HDO200076',
 'HDO191014',
 'HDO220056',
 'HDO230051',
 'HDO220408',
 'CVA210420',
 'CVA210185',
 'CVA210491',
 'HDO220041',
 'HDO220146',
 'HDO220232',
 'HDO230247',
 'CVA210411',
 'HDO210436',
 'HDO190529',
 'HDO210271',
 'HDO220383',
 'HDO220585',
 'HDO210501',
 'HDO220143',
 'HDO210452',
 'HDO220153',
 'CVA210171',
 'HDO190581',
 'CVA210383',
 'HDO210442',
 'HDO220157',
 'HDO220366',
 'HDO220471',
 'CVA210023',
 'HDO230086',
 'HDO210408',
 'HDO200434',
 'HDO220468',
 'CVA210406',
 'HDO190959',
 'CVA210194',
 'HDO191134',
 'HDO220537',
 'HDO220225',
 'HDO220131',
 'CVA210384']

In [ ]:
def get_tenancies_workorders(tenancy_id):
    url = f"https://webservice.reapit.net.au/lng/rest/tenancies/{tenancy_id}/worksOrders"
    headers = {
        'ApiKey': "c242c818604a72582f383ba23b2853d1",
        "Accept": "application/json"
    }

    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        return response.json()
    else:
        print(f"Error: {response.status_code} - {response.text}")
        return None

In [ ]:
df_tenancies_workorders = pd.DataFrame()
for tenancy_id in df_tenancies['ID'].tolist():
    result = get_tenancies_workorders(tenancy_id)
    
    if result is not None:
        # Convert the result to a DataFrame
        df = json_normalize(result['Response'], sep='_')
        
        # Append the DataFrame to df_result
        df_tenancies_workorders = df_tenancies_workorders.append(df, ignore_index=True)

NameError: name 'df_tenancies' is not defined

In [ ]:
# Kunal


import pandas as pd
import os

# Replace 'path_to_folder' with the actual path to your folder
folder_path = r'C://Users//SahilSingh//OneDrive - LongView//Documents//lng_exit//'

# Get a list of all files in the folder
files_in_folder = os.listdir(folder_path)

# Filter CSV files
csv_files = [file for file in files_in_folder if file.endswith('.csv')]

print(csv_files)

['rps_lng_addstore.csv', 'rps_lng_app.csv', 'rps_lng_appl.csv', 'rps_lng_app_a.csv', 'rps_lng_bnk.csv', 'rps_lng_cert.csv', 'rps_lng_cnt-cmp.csv', 'rps_lng_cnt.csv', 'rps_lng_cnt_a.csv', 'rps_lng_diary.csv', 'rps_lng_extra.csv', 'rps_lng_idcheck.csv', 'rps_lng_jnl.csv', 'rps_lng_jnlmisc.csv', 'rps_lng_keyjnl.csv', 'rps_lng_keyset.csv', 'rps_lng_lld.csv', 'rps_lng_lookup.csv', 'rps_lng_messages.csv', 'rps_lng_negs.csv', 'rps_lng_nomtran.csv', 'rps_lng_offers.csv', 'rps_lng_offers_a.csv', 'rps_lng_office.csv', 'rps_lng_pictures.csv', 'rps_lng_prp.csv', 'rps_lng_prplet.csv', 'rps_lng_prp_a.csv', 'rps_lng_src.csv', 'rps_lng_ten.csv', 'rps_lng_tenchk.csv', 'rps_lng_tenext.csv', 'rps_lng_workdet.csv', 'rps_lng_workhead.csv']

In [ ]:
csv_files[0]

'rps_lng_addstore.csv'

In [ ]:

saved_dfs3 = []

for j in csv_files:
    try:

        tempdf = pd.read_csv(folder_path + j)
        
        for i in tempdf.columns:
            tempdf[i] = tempdf[i].astype(str)
            if tempdf[tempdf[i].str.contains('1419/18MTALEXAND-2')].shape[0] >0:
                tempdf2 = tempdf[tempdf[i].str.contains('1419/18MTALEXAND-2')]
                tempdf2['file_name_lv'] = j
                saved_dfs3.append(tempdf2)
        print(j)

    except:
        
        print(j)
        continue

       synchdel             synchrec         code   codefrom       codeto  \
0             1  2019-03-13 11:50:29  CHA19000001  RPT191342  CHA19000017
1             0  2019-03-13 15:26:33  CHA19000002  RPT193319  CHA19000018
2             0  2019-03-21 16:40:01  CHA19000003  RPT192830  CHA19000030
3             0  2021-08-06 10:54:11  CHA19000004  RPT190404  CHA19000050
4             0  2019-05-20 16:44:30  CHA19000005  RPT193089  CHA19000079
...         ...                  ...          ...        ...          ...
15038         0  2023-07-28 08:16:59  WES23000061  HDO200573  HDO20001288
15039         0  2023-07-31 11:03:42  WES23000062  HDO211167  HDO21002560
15040         0  2023-08-02 11:49:56  WES23000063  HDO230918  HDO23002480
15041         0  2023-08-03 09:51:33  WES23000064  RPT197931  HDO17001926
15042         0  2023-08-14 08:56:46  WES23000065  HDO210829  HDO21001876

      typefrom typeto                                               vars  \
0          ten    cnt  StartDate={01/04/2019 00:00:00}\rEndDate={31/0...
1          ten    cnt  StartDate={14/03/2019 00:00:00}\rEndDate={23/0...
2          ten    cnt                  StartDate={21/03/2019 00:00:00}\r
3          ten    cnt  StartDate={15/04/2019 00:00:00}\rCntType='Add....
4          ten    cnt                  StartDate={20/05/2019 00:00:00}\r
...        ...    ...                                                ...
15038      ten    cnt                                 DdNoticeFreq='1'\r
15039      ten    cnt                          CntType='Add. Tenant 1'\r
15040      ten    cnt                                 DdNoticeFreq='1'\r
15041      ten    cnt                                 DdNoticeFreq='1'\r
15042      ten    cnt                                 DdNoticeFreq='1'\r

                  register               amend
0      2019-03-13 11:30:17  2019-03-13 11:50:29
1      2019-03-13 15:26:33                   \N
2      2019-03-21 16:40:01                   \N
3      2019-04-15 11:15:02  2021-08-06 10:54:11
4      2019-05-20 16:44:30                   \N
...                    ...                  ...
15038  2023-07-28 08:16:59  2023-07-28 08:16:59
15039  2023-07-31 11:03:42  2023-07-31 11:03:42
15040  2023-08-02 11:49:56  2023-08-02 11:49:56
15041  2023-08-03 09:51:33  2023-08-03 09:51:33
15042  2023-08-14 08:56:46  2023-08-14 08:56:46

[15043 rows x 10 columns]
0        1
1        0
2        0
3        0
4        0
        ..
15038    0
15039    0
15040    0
15041    0
15042    0
Name: synchdel, Length: 15043, dtype: int64
0        2019-03-13 11:50:29
1        2019-03-13 15:26:33
2        2019-03-21 16:40:01
3        2021-08-06 10:54:11
4        2019-05-20 16:44:30
                ...
15038    2023-07-28 08:16:59
15039    2023-07-31 11:03:42
15040    2023-08-02 11:49:56
15041    2023-08-03 09:51:33
15042    2023-08-14 08:56:46
Name: synchrec, Length: 15043, dtype: object
0        CHA19000001
1        CHA19000002
2        CHA19000003
3        CHA19000004
4        CHA19000005
            ...
15038    WES23000061
15039    WES23000062
15040    WES23000063
15041    WES23000064
15042    WES23000065
Name: code, Length: 15043, dtype: object
0        RPT191342
1        RPT193319
2        RPT192830
3        RPT190404
4        RPT193089
           ...
15038    HDO200573
15039    HDO211167
15040    HDO230918
15041    RPT197931
15042    HDO210829
Name: codefrom, Length: 15043, dtype: object
0        CHA19000017
1        CHA19000018
2        CHA19000030
3        CHA19000050
4        CHA19000079
            ...
15038    HDO20001288
15039    HDO21002560
15040    HDO23002480
15041    HDO17001926
15042    HDO21001876
Name: codeto, Length: 15043, dtype: object
0        ten
1        ten
2        ten
3        ten
4        ten
        ...
15038    ten
15039    ten
15040    ten
15041    ten
15042    ten
Name: typefrom, Length: 15043, dtype: object
0        cnt
1        cnt
2        cnt
3        cnt
4        cnt
        ...
15038    cnt
15039    cnt
15040    cnt
15041    cnt
15042    cnt
Name: typeto, Length: 15043, dtype: object
0        StartDate={01/04/2019 00:00:00}\rEndDate={31/0...
1        StartDate={14/03/2019 00:00:00}\rEndDate={23/0...
2                        StartDate={21/03/2019 00:00:00}\r
3        StartDate={15/04/2019 00:00:00}\rCntType='Add....
4                        StartDate={20/05/2019 00:00:00}\r
                               ...
15038                                   DdNoticeFreq='1'\r
15039                            CntType='Add. Tenant 1'\r
15040                                   DdNoticeFreq='1'\r
15041                                   DdNoticeFreq='1'\r
15042                                   DdNoticeFreq='1'\r
Name: vars, Length: 15043, dtype: object
0        2019-03-13 11:30:17
1        2019-03-13 15:26:33
2        2019-03-21 16:40:01
3        2019-04-15 11:15:02
4        2019-05-20 16:44:30
                ...
15038    2023-07-28 08:16:59
15039    2023-07-31 11:03:42
15040    2023-08-02 11:49:56
15041    2023-08-03 09:51:33
15042    2023-08-14 08:56:46
Name: register, Length: 15043, dtype: object

C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_60096\2704732483.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf2['file_name_lv'] = j

0        2019-03-13 11:50:29
1                         \N
2                         \N
3        2021-08-06 10:54:11
4                         \N
                ...
15038    2023-07-28 08:16:59
15039    2023-07-31 11:03:42
15040    2023-08-02 11:49:56
15041    2023-08-03 09:51:33
15042    2023-08-14 08:56:46
Name: amend , Length: 15043, dtype: object
rps_lng_addstore.csv
      synchdel             synchrec       code  country  minprice  maxprice  \
0            0  2022-01-12 10:49:56  CHA190002      NaN         0   9999999
1            0  2022-01-12 10:49:56  CHA190006      NaN         0   9999999
2            0  2019-08-19 11:35:54  CHA190009      NaN         0   9999999
3            0  2019-08-19 11:35:54  CHA190012      NaN         0   9999999
4            0  2019-08-19 11:35:54  CHA190026      NaN         0   9999999
...        ...                  ...        ...      ...       ...       ...
1453         0  2022-07-12 14:01:37  WES200034      NaN         0   9999999
1454         0  2022-07-12 14:01:37  WES200037      NaN         0   9999999
1455         0  2023-03-14 14:24:02  WES200044      NaN         0   9999999
1456         0  2022-08-09 09:08:05  WES200046      NaN         0   9999999
1457         0  2020-05-18 14:01:42  WES200051      NaN         0   9999999

      retain  position  minrent    maxrent  ... type offcode  negcode  \
0          0       NaN      0.0  9999999.0  ...    L     DRE      EDU
1          0       NaN      0.0  9999999.0  ...    L     DRE      EDU
2          0       NaN      0.0  9999999.0  ...    L     CHA      OFJ
3          0       NaN      0.0  9999999.0  ...    L     CHA      OFJ
4          0       NaN      0.0  9999999.0  ...    L     CHA      OFJ
...      ...       ...      ...        ...  ...  ...     ...      ...
1453       0       NaN      0.0  9999999.0  ...    L     WES      BDV
1454       0       NaN      0.0  9999999.0  ...    L     WES      BDV
1455       0       NaN      0.0  9999999.0  ...    L     WES      HKU
1456       0       NaN      0.0  9999999.0  ...    L     WES      NDK
1457       0       NaN      0.0  9999999.0  ...    L     WES      MEJ

      srccode  notes shared  active             register                amend  \
0         NaN    NaN    NaN       1  2019-02-25 16:32:54  2022-01-12 10:49:56
1         NaN    NaN    NaN       1  2019-03-07 14:12:58  2022-01-12 10:49:56
2         NaN    NaN    NaN       1  2019-03-14 11:04:47  2019-08-19 11:35:54
3         NaN    NaN    NaN       1  2019-03-20 10:46:57  2019-08-19 11:35:54
4         NaN    NaN    NaN       1  2019-04-24 11:28:06  2019-08-19 11:35:54
...       ...    ...    ...     ...                  ...                  ...
1453      NaN    NaN    NaN       1  2020-03-31 13:47:49  2022-07-12 14:01:37
1454      NaN    NaN    NaN       1  2020-04-16 17:19:40  2022-07-12 14:01:37
1455      NaN    NaN    NaN       1  2020-05-04 13:10:24  2023-03-14 14:24:02
1456      NaN    NaN    NaN       1  2020-05-07 11:39:07  2022-08-09 09:08:05
1457      NaN    NaN    NaN       1  2020-05-18 14:01:42                   \N

                             extra
0                    aToMatch='N'\r
1     aToMatch='N'\raRentPeriod='M'
2                    aToMatch='N'\r
3                    aToMatch='N'\r
4                    aToMatch='N'\r
...                             ...
1453                 aToMatch='N'\r
1454                 aToMatch='N'\r
1455                 aToMatch='N'\r
1456                 aToMatch='N'\r
1457                 aToMatch='N'\r

[1458 rows x 52 columns]
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: synchdel, Length: 1458, dtype: int64
0       2022-01-12 10:49:56
1       2022-01-12 10:49:56
2       2019-08-19 11:35:54
3       2019-08-19 11:35:54
4       2019-08-19 11:35:54
               ...
1453    2022-07-12 14:01:37
1454    2022-07-12 14:01:37
1455    2023-03-14 14:24:02
1456    2022-08-09 09:08:05
1457    2020-05-18 14:01:42
Name: synchrec, Length: 1458, dtype: object
0       CHA190002
1       CHA190006
2       CHA190009
3       CHA190012
4       CHA190026
          ...
1453    WES200034
1454    WES200037
1455    WES200044
1456    WES200046
1457    WES200051
Name: code, Length: 1458, dtype: object
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1453   NaN
1454   NaN
1455   NaN
1456   NaN
1457   NaN
Name: country, Length: 1458, dtype: float64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: minprice, Length: 1458, dtype: int64
0       9999999
1       9999999
2       9999999
3       9999999
4       9999999
         ...
1453    9999999
1454    9999999
1455    9999999
1456    9999999
1457    9999999
Name: maxprice, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: retain, Length: 1458, dtype: int64
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1453   NaN
1454   NaN
1455   NaN
1456   NaN
1457   NaN
Name: position, Length: 1458, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
1453    0.0
1454    0.0
1455    0.0
1456    0.0
1457    0.0
Name: minrent, Length: 1458, dtype: float64
0       9999999.0
1       9999999.0
2       9999999.0
3       9999999.0
4       9999999.0
          ...
1453    9999999.0
1454    9999999.0
1455    9999999.0
1456    9999999.0
1457    9999999.0
Name: maxrent, Length: 1458, dtype: float64
0       BOX
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1453    NaN
1454    NaN
1455    NaN
1456    NaN
1457    NaN
Name: loccode, Length: 1458, dtype: object
0       L
1       N
2       N
3       N
4       N
       ..
1453    N
1454    N
1455    N
1456    N
1457    N
Name: pln, Length: 1458, dtype: object
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: tenure, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: minlease, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: maxlease, Length: 1458, dtype: int64
0       G
1       G
2       G
3       G
4       G
       ..
1453    G
1454    G
1455    G
1456    G
1457    G
Name: depcode, Length: 1458, dtype: object
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: num1, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: num2, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: num1to, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: num2to, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: num3, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: num4, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: num3to, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: num4to, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: totalnum, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: totalnumto, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: feet, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: feetto, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: lettenure, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: or1, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: or2, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: or3, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: or4, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: or5, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: or6, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: and1, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: furnished, Length: 1458, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: decoration, Length: 1458, dtype: int64
0       12
1       12
2       12
3       12
4       12
        ..
1453    12
1454    12
1455    12
1456    12
1457    12
Name: weeks, Length: 1458, dtype: int64
0       \N
1       \N
2       \N
3       \N
4       \N
        ..
1453    \N
1454    \N
1455    \N
1456    \N
1457    \N
Name: lastcall, Length: 1458, dtype: object
0       \N
1       \N
2       \N
3       \N
4       \N
        ..
1453    \N
1454    \N
1455    \N
1456    \N
1457    \N
Name: nextcall, Length: 1458, dtype: object
0       CHA19000003
1       CHA19000012
2       CHA19000020
3       CHA19000024
4       CHA19000058
           ...
1453    WES20000084
1454    WES20000090
1455    WES20000106
1456    WES20000111
1457    WES20000122
Name: cntcode, Length: 1458, dtype: object
0       L
1       L
2       L
3       L
4       L
       ..
1453    L
1454    L
1455    L
1456    L
1457    L
Name: type, Length: 1458, dtype: object
0       DRE
1       DRE
2       CHA
3       CHA
4       CHA
       ...
1453    WES
1454    WES
1455    WES
1456    WES
1457    WES
Name: offcode, Length: 1458, dtype: object
0       EDU
1       EDU
2       OFJ
3       OFJ
4       OFJ
       ...
1453    BDV
1454    BDV
1455    HKU
1456    NDK
1457    MEJ
Name: negcode, Length: 1458, dtype: object
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1453   NaN
1454   NaN
1455   NaN
1456   NaN
1457   NaN
Name: srccode, Length: 1458, dtype: float64
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1453   NaN
1454   NaN
1455   NaN
1456   NaN
1457   NaN
Name: notes, Length: 1458, dtype: float64
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1453   NaN
1454   NaN
1455   NaN
1456   NaN
1457   NaN
Name: shared, Length: 1458, dtype: float64
0       1
1       1
2       1
3       1
4       1
       ..
1453    1
1454    1
1455    1
1456    1
1457    1
Name: active, Length: 1458, dtype: int64
0       2019-02-25 16:32:54
1       2019-03-07 14:12:58
2       2019-03-14 11:04:47
3       2019-03-20 10:46:57
4       2019-04-24 11:28:06
               ...
1453    2020-03-31 13:47:49
1454    2020-04-16 17:19:40
1455    2020-05-04 13:10:24
1456    2020-05-07 11:39:07
1457    2020-05-18 14:01:42
Name: register, Length: 1458, dtype: object
0       2022-01-12 10:49:56
1       2022-01-12 10:49:56
2       2019-08-19 11:35:54
3       2019-08-19 11:35:54
4       2019-08-19 11:35:54
               ...
1453    2022-07-12 14:01:37
1454    2022-07-12 14:01:37
1455    2023-03-14 14:24:02
1456    2022-08-09 09:08:05
1457                     \N
Name: amend, Length: 1458, dtype: object
0                      aToMatch='N'\r
1       aToMatch='N'\raRentPeriod='M'
2                      aToMatch='N'\r
3                      aToMatch='N'\r
4                      aToMatch='N'\r
                    ...
1453                   aToMatch='N'\r
1454                   aToMatch='N'\r
1455                   aToMatch='N'\r
1456                   aToMatch='N'\r
1457                   aToMatch='N'\r
Name: extra , Length: 1458, dtype: object
rps_lng_app.csv
     synchdel             synchrec         code    prpcode    modlcode  \
0           0  2019-03-01 11:39:54  DRE19000001  HDO190361  DRE1900001
1           0  2020-12-24 15:05:03  DRE20000001  HDO190945  DRE2000001
2           0  2021-03-10 09:54:49  DRE21000001  HDO150002  DRE2100003
3           0  2021-04-06 10:54:53  DRE21000002  HDO120337  DRE2100005
4           0  2021-05-04 11:58:49  DRE21000003  HDO070574  HDO2100001
..        ...                  ...          ...        ...         ...
243         0  2021-10-07 14:55:20  JAM21000002  HDO210302  JAM2100002
244         0  2022-04-22 12:37:39  SAN22000001  HDO210476  SAN2200001
245         0  2022-02-14 15:34:37  WES22000001  HDO130363  HDO2100008
246         0  2022-03-01 08:41:47  WES22000002  HDO150358  WES2200002
247         0  2022-03-02 11:25:42  WES22000003  HDO210483  WES2200004

     certcode                                              notes  \
0         NaN                                                NaN
1         NaN                                 Not under warranty
2         NaN  Trades, Northern Appliance Repairs purchase fr...
3         NaN                                                NaN
4         NaN                                                NaN
..        ...                                                ...
243       NaN                                                NaN
244       NaN                                                NaN
245       NaN                                                NaN
246       NaN                 Unit Appliances Installed Feb 2022
247       NaN                                                NaN

                purchase              warrexp             register  \
0                     \N                   \N  2019-03-01 11:39:54
1                     \N  2022-02-24 00:00:00  2020-12-24 15:05:03
2    2021-03-04 00:00:00  2022-03-03 00:00:00  2021-03-10 09:52:09
3    2021-04-05 00:00:00                   \N  2021-04-06 10:54:53
4    2021-05-03 00:00:00                   \N  2021-05-04 09:16:02
..                   ...                  ...                  ...
243  2021-09-27 00:00:00                   \N  2021-10-07 14:55:20
244                   \N                   \N  2022-04-22 12:37:39
245                   \N                   \N  2022-02-14 15:34:37
246  2022-02-28 00:00:00  2023-02-28 00:00:00  2022-03-01 08:41:47
247                   \N                   \N  2022-03-02 11:25:42

                   amend           extra  estcode
0                     \N             NaN       NaN
1                     \N             NaN       NaN
2    2021-03-10 09:54:49             NaN       NaN
3                     \N             NaN       NaN
4    2021-05-04 11:58:49             NaN       NaN
..                   ...             ...       ...
243                   \N  gaQuantity=2\r       NaN
244                   \N             NaN       NaN
245                   \N             NaN       NaN
246                   \N             NaN       NaN
247                   \N             NaN       NaN

[248 rows x 13 columns]
0      0
1      0
2      0
3      0
4      0
      ..
243    0
244    0
245    0
246    0
247    0
Name: synchdel, Length: 248, dtype: int64
0      2019-03-01 11:39:54
1      2020-12-24 15:05:03
2      2021-03-10 09:54:49
3      2021-04-06 10:54:53
4      2021-05-04 11:58:49
              ...
243    2021-10-07 14:55:20
244    2022-04-22 12:37:39
245    2022-02-14 15:34:37
246    2022-03-01 08:41:47
247    2022-03-02 11:25:42
Name: synchrec, Length: 248, dtype: object
0      DRE19000001
1      DRE20000001
2      DRE21000001
3      DRE21000002
4      DRE21000003
          ...
243    JAM21000002
244    SAN22000001
245    WES22000001
246    WES22000002
247    WES22000003
Name: code, Length: 248, dtype: object
0      HDO190361
1      HDO190945
2      HDO150002
3      HDO120337
4      HDO070574
         ...
243    HDO210302
244    HDO210476
245    HDO130363
246    HDO150358
247    HDO210483
Name: prpcode, Length: 248, dtype: object
0      DRE1900001
1      DRE2000001
2      DRE2100003
3      DRE2100005
4      HDO2100001
          ...
243    JAM2100002
244    SAN2200001
245    HDO2100008
246    WES2200002
247    WES2200004
Name: modlcode, Length: 248, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
243   NaN
244   NaN
245   NaN
246   NaN
247   NaN
Name: certcode, Length: 248, dtype: float64
0                                                    NaN
1                                     Not under warranty
2      Trades, Northern Appliance Repairs purchase fr...
3                                                    NaN
4                                                    NaN
                             ...
243                                                  NaN
244                                                  NaN
245                                                  NaN
246                   Unit Appliances Installed Feb 2022
247                                                  NaN
Name: notes, Length: 248, dtype: object
0                       \N
1                       \N
2      2021-03-04 00:00:00
3      2021-04-05 00:00:00
4      2021-05-03 00:00:00
              ...
243    2021-09-27 00:00:00
244                     \N
245                     \N
246    2022-02-28 00:00:00
247                     \N
Name: purchase, Length: 248, dtype: object
0                       \N
1      2022-02-24 00:00:00
2      2022-03-03 00:00:00
3                       \N
4                       \N
              ...
243                     \N
244                     \N
245                     \N
246    2023-02-28 00:00:00
247                     \N
Name: warrexp, Length: 248, dtype: object
0      2019-03-01 11:39:54
1      2020-12-24 15:05:03
2      2021-03-10 09:52:09
3      2021-04-06 10:54:53
4      2021-05-04 09:16:02
              ...
243    2021-10-07 14:55:20
244    2022-04-22 12:37:39
245    2022-02-14 15:34:37
246    2022-03-01 08:41:47
247    2022-03-02 11:25:42
Name: register, Length: 248, dtype: object
0                       \N
1                       \N
2      2021-03-10 09:54:49
3                       \N
4      2021-05-04 11:58:49
              ...
243                     \N
244                     \N
245                     \N
246                     \N
247                     \N
Name: amend, Length: 248, dtype: object
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
            ...
243    gaQuantity=2\r
244               NaN
245               NaN
246               NaN
247               NaN
Name: extra, Length: 248, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
243   NaN
244   NaN
245   NaN
246   NaN
247   NaN
Name: estcode , Length: 248, dtype: float64
rps_lng_appl.csv
     synchdel             synchrec       code  country  minprice  maxprice  \
0           0  2019-03-07 10:54:10  CHA190003      NaN         0   9999999
1           0  2019-03-15 11:26:26  CHA190005      NaN         0   9999999
2           0  2019-09-26 15:00:42  CHA190040      NaN         0   9999999

C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_60096\2704732483.py:6: DtypeWarning: Columns (4,6,9,19,21) have mixed types. Specify dtype option on import or set low_memory=False.
  tempdf = pd.read_csv(folder_path + j)

       synchdel          synchrec      cntcode cnthseno cnthsename  \
0             0  12/01/2022 10:50  CHA19000002       19        NaN
1             0  12/01/2022 10:50  CHA19000003       19        NaN
2             0  12/01/2022 10:50  CHA19000004       19        NaN
3             0  18/07/2023 14:45  CHA19000005      NaN        NaN
4             0  12/01/2022 10:50  CHA19000006      NaN        NaN
...         ...               ...          ...      ...        ...
45775         0  12/07/2022 14:01  WES22000004      NaN        NaN
45776         0    6/07/2022 8:27  WES22000011      NaN        NaN
45777         0   5/07/2023 16:14  WES22000024      NaN        NaN
45778         0  31/01/2023 12:02  WES23000001      NaN        NaN
45779         0  23/06/2023 10:17  WES23000010      NaN        NaN

         cntaddress1 cntaddress2     cntaddress3 cntaddress4 cntpostcode  ...  \
0      Venice Street         NaN  Box Hill South         Vic        3128  ...
1      Venice Street         NaN  Box Hill South         Vic        3128  ...
2      Venice Street         NaN  Box Hill South         Vic        3128  ...
3                NaN         NaN             NaN         NaN         NaN  ...
4                NaN         NaN             NaN         NaN         NaN  ...
...              ...         ...             ...         ...         ...  ...
45775            NaN         NaN             NaN         NaN         NaN  ...
45776            NaN         NaN             NaN         NaN         NaN  ...
45777            NaN         NaN             NaN         NaN         NaN  ...
45778            NaN         NaN             NaN         NaN         NaN  ...
45779            NaN         NaN             NaN         NaN         NaN  ...

      type.1  offcode.1 negcode.1 srccode notes.1 shared active  \
0          L        CHA       WIB     NaN     NaN    NaN      1
1          L        DRE       EDU     NaN     NaN    NaN      1
2         \N         \N        \N      \N      \N     \N     \N
3         \N         \N        \N      \N      \N     \N     \N
4         \N         \N        \N      \N      \N     \N     \N
...      ...        ...       ...     ...     ...    ...    ...
45775     \N         \N        \N      \N      \N     \N     \N
45776     \N         \N        \N      \N      \N     \N     \N
45777     \N         \N        \N      \N      \N     \N     \N
45778     \N         \N        \N      \N      \N     \N     \N
45779     \N         \N        \N      \N      \N     \N     \N

             register.1           amend.1          extra
0      25/02/2019 16:23  13/03/2019 14:03  aToMatch='N'\r
1      25/02/2019 16:32  12/01/2022 10:49  aToMatch='N'\r
2                    \N                \N              \N
3                    \N                \N              \N
4                    \N                \N              \N
...                 ...               ...             ...
45775                \N                \N              \N
45776                \N                \N              \N
45777                \N                \N              \N
45778                \N                \N              \N
45779                \N                \N              \N

[45780 rows x 163 columns]
0        0
1        0
2        0
3        0
4        0
        ..
45775    0
45776    0
45777    0
45778    0
45779    0
Name: synchdel, Length: 45780, dtype: int64
0        12/01/2022 10:50
1        12/01/2022 10:50
2        12/01/2022 10:50
3        18/07/2023 14:45
4        12/01/2022 10:50
               ...
45775    12/07/2022 14:01
45776      6/07/2022 8:27
45777     5/07/2023 16:14
45778    31/01/2023 12:02
45779    23/06/2023 10:17
Name: synchrec, Length: 45780, dtype: object
0        CHA19000002
1        CHA19000003
2        CHA19000004
3        CHA19000005
4        CHA19000006
            ...
45775    WES22000004
45776    WES22000011
45777    WES22000024
45778    WES23000001
45779    WES23000010
Name: cntcode, Length: 45780, dtype: object
0         19
1         19
2         19
3        NaN
4        NaN
        ...
45775    NaN
45776    NaN
45777    NaN
45778    NaN
45779    NaN
Name: cnthseno, Length: 45780, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
45775    NaN
45776    NaN
45777    NaN
45778    NaN
45779    NaN
Name: cnthsename, Length: 45780, dtype: object
0        Venice Street
1        Venice Street
2        Venice Street
3                  NaN
4                  NaN
             ...
45775              NaN
45776              NaN
45777              NaN
45778              NaN
45779              NaN
Name: cntaddress1, Length: 45780, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
45775    NaN
45776    NaN
45777    NaN
45778    NaN
45779    NaN
Name: cntaddress2, Length: 45780, dtype: object
0        Box Hill South
1        Box Hill South
2        Box Hill South
3                   NaN
4                   NaN
              ...
45775               NaN
45776               NaN
45777               NaN
45778               NaN
45779               NaN
Name: cntaddress3, Length: 45780, dtype: object
0        Vic
1        Vic
2        Vic
3        NaN
4        NaN
        ...
45775    NaN
45776    NaN
45777    NaN
45778    NaN
45779    NaN
Name: cntaddress4, Length: 45780, dtype: object
0        3128
1        3128
2        3128
3         NaN
4         NaN
         ...
45775     NaN
45776     NaN
45777     NaN
45778     NaN
45779     NaN
Name: cntpostcode, Length: 45780, dtype: object
0        AU
1        AU
2        AU
3        AU
4        AU
         ..
45775    AU
45776    AU
45777    AU
45778    AU
45779    AU
Name: cntcountry, Length: 45780, dtype: object
0        1
1        1
2        1
3        1
4        1
        ..
45775    1
45776    1
45777    1
45778    1
45779    1
Name: cntactive, Length: 45780, dtype: int64
0        NaN
1        NaN
2        Mrs
3        NaN
4        NaN
        ...
45775    NaN
45776    NaN
45777     Mr
45778    NaN
45779     Ms
Name: cnttitle, Length: 45780, dtype: object
0          Quinton
1            Emica
2        Katherine
3             Mary
4              May
           ...
45775        Dylan
45776         Anna
45777       Graham
45778        Zinab
45779        Julie
Name: cntinitials, Length: 45780, dtype: object
0            Hiscox
1            Hiscox
2            Hiscox
3              Choy
4              Chai
            ...
45775      Cincotta
45776        Jacobs
45777        Michel
45778    Mehdizadeh
45779        Fearns
Name: cntsurname, Length: 45780, dtype: object
0        DRE
1        DRE
2        DRE
3        DRE
4        DRE
        ...
45775    WES
45776    WES
45777    WES
45778    WES
45779    WES
Name: cntoffcode, Length: 45780, dtype: object
0        EDU
1        EDU
2        EDU
3        EDU
4        EDU
        ...
45775    BDV
45776    SMC
45777    ABL
45778    SMC
45779    SMC
Name: cntnegcode, Length: 45780, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
45775   NaN
45776   NaN
45777   NaN
45778   NaN
45779   NaN
Name: cntcmpname, Length: 45780, dtype: float64
0        m: 0448866468; e: quinton@qcomsolutions.com.au;
1                 m: 0474484423; e: meeka55@hotmail.com;
2                m: 0466593039; e: kathyh08@live.com.au;
3              m: 0432722318; e: mary.choy@yahoo.com.au;
4                m: 0414318379; e: maryton2@bigpond.com;
                              ...
45775        m: 0407789980; e: dylanjcincotta@gmail.com;
45776         m: 0423018324; e: anna.jacobs@afes.org.au;
45777                           e: gdmichel@bigpond.com;
45778          m: 0470479026; e: mehdizadeh_1@yahoo.com;
45779      m: 0477896116; e: juliemariefearns@gmail.com;
Name: cntphone, Length: 45780, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
45775    NaN
45776    NaN
45777    NaN
45778    NaN
45779    NaN
Name: cnttype, Length: 45780, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
45775    NaN
45776    NaN
45777    NaN
45778    NaN
45779    NaN
Name: cntsrccode, Length: 45780, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
45775    NaN
45776    NaN
45777    NaN
45778    NaN
45779    NaN
Name: cntshared, Length: 45780, dtype: object
0        25/02/2019 16:22
1        25/02/2019 16:32
2        25/02/2019 17:18
3        27/02/2019 15:42
4        27/02/2019 15:49
               ...
45775    28/01/2022 17:14
45776    17/03/2022 10:34
45777    13/07/2022 16:27
45778    31/01/2023 12:02
45779    23/06/2023 10:17
Name: cntregister, Length: 45780, dtype: object
0        12/01/2022 10:50
1        12/01/2022 10:50
2        12/01/2022 10:50
3        18/07/2023 14:45
4        12/01/2022 10:50
               ...
45775    12/07/2022 14:01
45776      6/07/2022 8:27
45777     5/07/2023 16:14
45778    31/01/2023 12:02
45779    23/06/2023 10:17
Name: cntamend, Length: 45780, dtype: object
0        cntDOB={17/01/1971 00:00:00}\rcntAddrType='HA'...
1        cntDOB={01/05/1995 00:00:00}\rcntAddrType='HA'...
2                   cntAddrType='HA'\rcntSaltn='Katherine'
3        cntSaltn='Mary'\rcntEmpName='DMDJ Choy Superan...
4        cntEmpName='Chai Family Super Fund'\rcntEmploy...
                               ...
45775                             cntCurrTenRestrict='ten'
45776                                                  NaN
45777    cntAlertText='ALWAYS INCLUDE GRAHAM IN ALL COM...
45778                             cntCurrTenRestrict='ten'
45779                             cntCurrTenRestrict='ten'
Name: cntextra, Length: 45780, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
45775    0
45776    0
45777    0
45778    0
45779    0
Name: cntmktconsent, Length: 45780, dtype: int64
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: synchdel.1, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: synchrec.1, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: code, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: hseno, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: hsename, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: address1, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: address2, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: address3, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: address4, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: postcode, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: country, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: price, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: minprice, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: maxprice, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: exchprice, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: valprice, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: raskprice, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: forsdate, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: exchdate, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: exchoffcode, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: pricequal, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: disposal, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: salestatus, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: agency, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: salecomm, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: commprop, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: lldcode, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: letstatus, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: role, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: minrent, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: maxrent, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: wrent, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: letcomm, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: avto, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: forldate, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: nogas, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: tenure, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: plots, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: endlease, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: depcode, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: num1, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: num2, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: num1to, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: num2to, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: num3, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: num4, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: num3to, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: num4to, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: totalnum, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: totalnumto, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: feet, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: feetto, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: lettenure, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: or1, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: or2, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: or3, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N
45778    \N
45779    \N
Name: or4, Length: 45780, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
45775    \N
45776    \N
45777    \N

C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_60096\2704732483.py:6: DtypeWarning: Columns (0,10,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  tempdf = pd.read_csv(folder_path + j)

       synchdel          synchrec        code          activate  \
0             0   22/02/2019 9:15  CHA1900001   21/02/2019 0:00
1             0   6/03/2019 13:05  CHA1900002   21/02/2019 0:00
2             0   6/03/2019 13:15  CHA1900003   20/02/2019 0:00
3             0   22/02/2019 9:15  CHA1900004   20/02/2019 0:00
4             0   22/02/2019 9:15  CHA1900005  20/02/2019 15:05
...         ...               ...         ...               ...
490600        0   2/08/2023 14:32  WES2300213    1/02/2024 0:00
490601        0   2/08/2023 14:53  WES2300214    1/12/2023 0:00
490602        0   14/08/2023 9:47  WES2300215   16/08/2023 0:00
490603        0   14/08/2023 9:49  WES2300217   11/08/2023 0:00
490604        0  10/08/2023 10:15  WES2300218   15/09/2023 0:00

                complete                                               text  \
0       21/02/2019 16:50  39 Rowell Dve, Mernda - sales val\rFrom: Mona ...
1         6/03/2019 0:00  203/88 Epping Rd - final inspection\rFrom: har...
2         6/03/2019 0:00  518/92 Albert - Sale/ NTV\rFrom: Christopher M...
3       20/02/2019 16:20  13 Folkestone - email from TT re: paid rent \r...
4       20/02/2019 15:05                                      Document1.doc
...                  ...                                                ...
490600                \N           Talk to owner about a gutter clean again
490601                \N  Speak with owner about re-silicone of the show...
490602                \N               Follow up SAA $99 and council update
490603                \N                 Ask owner to send funsds for bills
490604                \N                Follow up urgent if John is selling

       type toncode frncode    prpcode appcode    tencode    lldcode cntcode  \
0        RM     DAF     DAF  HDO170060     NaN        NaN  RPT170058     NaN
1        RM     DAF     DAF  HDO170081     NaN        NaN  RPT170077     NaN
2        RM     DAF     DAF  HDO170071     NaN        NaN  RPT170069     NaN
3        RM     DAF     DAF  HDO170088     NaN  RPT192895  RPT170083     NaN
4        RM     DAF     DAF  HDO170081     NaN  RPT192889  RPT170077     NaN
...     ...     ...     ...        ...     ...        ...        ...     ...
490600  NaN     SMC     SMC  CVA210022     NaN        NaN        NaN     NaN
490601  NaN     SMC     SMC  HDO210048     NaN        NaN        NaN     NaN
490602  NaN     SMC     SMC  CVA210366     NaN        NaN        NaN     NaN
490603  NaN     SMC     SMC  HDO170230     NaN        NaN        NaN     NaN
490604  NaN     SMC     SMC        NaN     NaN  HDO220870        NaN     NaN

       isread          register             amend  \
0           0  21/02/2019 16:50                \N
1           1  21/02/2019 16:34   6/03/2019 13:05
2           1  20/02/2019 17:03   6/03/2019 13:15
3           0  20/02/2019 16:20                \N
4           0  20/02/2019 15:05                \N
...       ...               ...               ...
490600      0   2/08/2023 14:32   2/08/2023 14:32
490601      0   2/08/2023 14:53   2/08/2023 14:53
490602      1    4/08/2023 9:49   14/08/2023 9:47
490603      1    8/08/2023 9:30   14/08/2023 9:49
490604      0  10/08/2023 10:15  10/08/2023 10:15

                                                    extra  estcode esucode
0       mCompleteBy='DAF'\rmRPSImported={22/02/2019 00...      NaN       \N
1       mRPSImported={22/02/2019 00:00:00}\rmConvRef='...      NaN       \N
2       mRPSImported={22/02/2019 00:00:00}\rmConvRef='...      NaN       \N
3       mCompleteBy='DAF'\rmRPSImported={22/02/2019 00...      NaN       \N
4       mCompleteBy='DAF'\rmRPSImported={22/02/2019 00...      NaN       \N
...                                                   ...      ...      ...
490600                                                NaN      NaN      NaN
490601                                                NaN      NaN      NaN
490602                                                NaN      NaN      NaN
490603                                                NaN      NaN      NaN
490604                                                NaN      NaN      NaN

[490605 rows x 20 columns]
0         0
1         0
2         0
3         0
4         0
         ..
490600    0
490601    0
490602    0
490603    0
490604    0
Name: synchdel, Length: 490605, dtype: object
0          22/02/2019 9:15
1          6/03/2019 13:05
2          6/03/2019 13:15
3          22/02/2019 9:15
4          22/02/2019 9:15
                ...
490600     2/08/2023 14:32
490601     2/08/2023 14:53
490602     14/08/2023 9:47
490603     14/08/2023 9:49
490604    10/08/2023 10:15
Name: synchrec, Length: 490605, dtype: object
0         CHA1900001
1         CHA1900002
2         CHA1900003
3         CHA1900004
4         CHA1900005
             ...
490600    WES2300213
490601    WES2300214
490602    WES2300215
490603    WES2300217
490604    WES2300218
Name: code, Length: 490605, dtype: object
0          21/02/2019 0:00
1          21/02/2019 0:00
2          20/02/2019 0:00
3          20/02/2019 0:00
4         20/02/2019 15:05
                ...
490600      1/02/2024 0:00
490601      1/12/2023 0:00
490602     16/08/2023 0:00
490603     11/08/2023 0:00
490604     15/09/2023 0:00
Name: activate, Length: 490605, dtype: object
0         21/02/2019 16:50
1           6/03/2019 0:00
2           6/03/2019 0:00
3         20/02/2019 16:20
4         20/02/2019 15:05
                ...
490600                  \N
490601                  \N
490602                  \N
490603                  \N
490604                  \N
Name: complete, Length: 490605, dtype: object
0         39 Rowell Dve, Mernda - sales val\rFrom: Mona ...
1         203/88 Epping Rd - final inspection\rFrom: har...
2         518/92 Albert - Sale/ NTV\rFrom: Christopher M...
3         13 Folkestone - email from TT re: paid rent \r...
4                                             Document1.doc
                                ...
490600             Talk to owner about a gutter clean again
490601    Speak with owner about re-silicone of the show...
490602                 Follow up SAA $99 and council update
490603                   Ask owner to send funsds for bills
490604                  Follow up urgent if John is selling
Name: text, Length: 490605, dtype: object
0          RM
1          RM
2          RM
3          RM
4          RM
         ...
490600    NaN
490601    NaN
490602    NaN
490603    NaN
490604    NaN
Name: type, Length: 490605, dtype: object
0         DAF
1         DAF
2         DAF
3         DAF
4         DAF
         ...
490600    SMC
490601    SMC
490602    SMC
490603    SMC
490604    SMC
Name: toncode, Length: 490605, dtype: object
0         DAF
1         DAF
2         DAF
3         DAF
4         DAF
         ...
490600    SMC
490601    SMC
490602    SMC
490603    SMC
490604    SMC
Name: frncode, Length: 490605, dtype: object
0         HDO170060
1         HDO170081
2         HDO170071
3         HDO170088
4         HDO170081
            ...
490600    CVA210022
490601    HDO210048
490602    CVA210366
490603    HDO170230
490604          NaN
Name: prpcode, Length: 490605, dtype: object
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
490600    NaN
490601    NaN
490602    NaN
490603    NaN
490604    NaN
Name: appcode, Length: 490605, dtype: object
0               NaN
1               NaN
2               NaN
3         RPT192895
4         RPT192889
            ...
490600          NaN
490601          NaN
490602          NaN
490603          NaN
490604    HDO220870
Name: tencode, Length: 490605, dtype: object
0         RPT170058
1         RPT170077
2         RPT170069
3         RPT170083
4         RPT170077
            ...
490600          NaN
490601          NaN
490602          NaN
490603          NaN
490604          NaN
Name: lldcode, Length: 490605, dtype: object
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
490600    NaN
490601    NaN
490602    NaN
490603    NaN
490604    NaN
Name: cntcode, Length: 490605, dtype: object
0         0
1         1
2         1
3         0
4         0
         ..
490600    0
490601    0
490602    1
490603    1
490604    0
Name: isread, Length: 490605, dtype: object
0         21/02/2019 16:50
1         21/02/2019 16:34
2         20/02/2019 17:03
3         20/02/2019 16:20
4         20/02/2019 15:05
                ...
490600     2/08/2023 14:32
490601     2/08/2023 14:53
490602      4/08/2023 9:49
490603      8/08/2023 9:30
490604    10/08/2023 10:15
Name: register, Length: 490605, dtype: object
0                       \N
1          6/03/2019 13:05
2          6/03/2019 13:15
3                       \N
4                       \N
                ...
490600     2/08/2023 14:32
490601     2/08/2023 14:53
490602     14/08/2023 9:47
490603     14/08/2023 9:49
490604    10/08/2023 10:15
Name: amend, Length: 490605, dtype: object
0         mCompleteBy='DAF'\rmRPSImported={22/02/2019 00...
1         mRPSImported={22/02/2019 00:00:00}\rmConvRef='...
2         mRPSImported={22/02/2019 00:00:00}\rmConvRef='...
3         mCompleteBy='DAF'\rmRPSImported={22/02/2019 00...
4         mCompleteBy='DAF'\rmRPSImported={22/02/2019 00...
                                ...
490600                                                  NaN
490601                                                  NaN
490602                                                  NaN
490603                                                  NaN
490604                                                  NaN
Name: extra, Length: 490605, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
490600   NaN
490601   NaN
490602   NaN
490603   NaN
490604   NaN
Name: estcode, Length: 490605, dtype: float64
0          \N
1          \N
2          \N
3          \N
4          \N
         ...
490600    NaN
490601    NaN
490602    NaN
490603    NaN
490604    NaN
Name: esucode , Length: 490605, dtype: object
rps_lng_messages.csv
     synchdel             synchrec code             name offcode  type  \
0           0  2023-08-14 19:15:47  AAE        Alma Ebon     HDO   NaN
1           0  2023-01-21 13:10:23  AAR        Aaron Rau     INA   NaN
2           0  2023-07-09 00:00:14  ABL      Alison Ball     HDO   NaN
3           0  2023-01-21 13:20:18  ACC     Glenn Cyclic     INA   NaN
4           0  2023-08-14 16:58:42  ACG      Annie Ching     DRE   NaN
..        ...                  ...  ...              ...     ...   ...
239         0  2023-02-10 09:54:15  VTT   Vivian Trantan     TBK   NaN
240         0  2023-01-21 16:25:40  WAT      Warren Tate     INA   NaN
241         0  2021-06-02 16:09:02  WBK  Warwick Brookes     HDO   NaN
242         0  2023-01-21 16:26:01  WIB   William Bishop     INA   NaN
243         0  2023-03-03 13:01:38  YIE    Yishai Elaluf     CSS   NaN

     password                                           settings  \
0           0  nTitle='Virtual Assistant'\rnPowerOrgUseDiary=...
1       20810  nSidebarSize='M'\rnTitle='Chief Operations Off...
2           0  nTitle='Senior Property Manager'\rnPowerOrgUse...
3       10756  nTitle='Routine Inspectors'\rnPowerOrgUseDiary...
4           0  nTitle='Senior Property Manager'\rnPowerOrgUse...
..        ...                                                ...
239         0  nTitle='Investment Property Specialist'\rnPowe...
240         0            nTitle='Head of Sales'\rnInactive=.T.\r
241         0                   nTitle='Senior Property Advisor'
242         0  nColour=14704896\rnTitle='Property Manager'\rn...
243         0  nTitle='Leasing Consultant'\rnPowerOrgUseDiary...

                    login  notes  \
0               alma.ebon    NaN
1                     NaN    NaN
2    alison.ball@longview    NaN
3                     NaN    NaN
4    annie.ching@longview    NaN
..                    ...    ...
239                   NaN    NaN
240                   NaN    NaN
241  warwick.brookes@long    NaN
242                   NaN    NaN
243  yishai.elaluf@longvi    NaN

                                                 phone  session  \
0                        e: alma.ebon@longview.com.au;      NaN
1    e: aaron.rau@longview.com.au; b: 9071 0910; m:...      NaN
2                      e: alison.ball@longview.com.au;      NaN
3                         e: cyclicM.Andrew@gmail.com;      NaN
4                      e: annie.ching@longview.com.au;      NaN
..                                                 ...      ...
239  m: 0422026138; e: vivian.trantan@longview.com.au;      NaN
240  e: warren.tate@stockdaleleggo.com.au; b: 9071 ...      NaN
241                e: warwick.brookes@longview.com.au;      NaN
242  e: w.bishop@longview.com.au; b: 9071 0942; m: ...      NaN
243                  e: yishai.elaluf@longview.com.au;      NaN

                register                amend  \
0    2023-01-02 22:52:34  2023-08-14 19:15:47
1    2018-11-07 11:00:50  2023-01-21 13:10:23
2    2022-12-15 01:01:20  2023-07-09 00:00:14
3    2019-10-07 11:37:20  2023-01-21 13:20:18
4    2022-08-29 09:59:56  2023-08-14 16:58:42
..                   ...                  ...
239  2020-01-24 15:37:21  2023-02-10 09:54:15
240  2018-11-07 12:20:35  2023-01-21 16:25:40
241  2021-06-02 16:09:02                   \N
242  2018-11-07 12:22:07  2023-01-21 16:26:01
243  2020-10-05 16:41:53  2023-03-03 13:01:38

                                                extra
0    nAddedBy='CSG'\rnLastLoginRC=.T.\rnLoginCountF...
1    nContactList='PH,EM'\rnDefaultUsers='AAR'\rnMo...
2    nAddedBy='DAB'\rnLastLoginRC=.T.\rnLoginCountD...
3    nAddedBy='RPT'\rnLoginCountJune2020=1\rnLastLo...
4    nAddedBy='DAB'\rnLoginCountAugust2022=3\rnLast...
..                                                 ...
239  nAddedBy='JAH'\rnLoginCountJanuary2020=4\rnLas...
240                                   nAddedBy='RPT'\r
241                                   nAddedBy='JAH'\r
242  nContactList='PH,MI,AC,AR,AE,DA,TA,AL,AN,BC,BS...
243  nAddedBy='JAH'\rnLoginCountMarch2021=5\rnLastL...

[244 rows x 15 columns]
0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    0
241    0
242    0
243    0
Name: synchdel, Length: 244, dtype: int64
0      2023-08-14 19:15:47
1      2023-01-21 13:10:23
2      2023-07-09 00:00:14
3      2023-01-21 13:20:18
4      2023-08-14 16:58:42
              ...
239    2023-02-10 09:54:15
240    2023-01-21 16:25:40
241    2021-06-02 16:09:02
242    2023-01-21 16:26:01
243    2023-03-03 13:01:38
Name: synchrec, Length: 244, dtype: object
0      AAE
1      AAR
2      ABL
3      ACC
4      ACG
      ...
239    VTT
240    WAT
241    WBK
242    WIB
243    YIE
Name: code, Length: 244, dtype: object
0            Alma Ebon
1            Aaron Rau
2          Alison Ball
3         Glenn Cyclic
4          Annie Ching
            ...
239     Vivian Trantan
240        Warren Tate
241    Warwick Brookes
242     William Bishop
243      Yishai Elaluf
Name: name, Length: 244, dtype: object
0      HDO
1      INA
2      HDO
3      INA
4      DRE
      ...
239    TBK
240    INA
241    HDO
242    INA
243    CSS
Name: offcode, Length: 244, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
239   NaN
240   NaN
241   NaN
242   NaN
243   NaN
Name: type, Length: 244, dtype: float64
0          0
1      20810
2          0
3      10756
4          0
       ...
239        0
240        0
241        0
242        0
243        0
Name: password, Length: 244, dtype: int64
0      nTitle='Virtual Assistant'\rnPowerOrgUseDiary=...
1      nSidebarSize='M'\rnTitle='Chief Operations Off...
2      nTitle='Senior Property Manager'\rnPowerOrgUse...
3      nTitle='Routine Inspectors'\rnPowerOrgUseDiary...
4      nTitle='Senior Property Manager'\rnPowerOrgUse...
                             ...
239    nTitle='Investment Property Specialist'\rnPowe...
240              nTitle='Head of Sales'\rnInactive=.T.\r
241                     nTitle='Senior Property Advisor'
242    nColour=14704896\rnTitle='Property Manager'\rn...
243    nTitle='Leasing Consultant'\rnPowerOrgUseDiary...
Name: settings, Length: 244, dtype: object
0                 alma.ebon
1                       NaN
2      alison.ball@longview
3                       NaN
4      annie.ching@longview
               ...
239                     NaN
240                     NaN
241    warwick.brookes@long
242                     NaN
243    yishai.elaluf@longvi
Name: login, Length: 244, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
239   NaN
240   NaN
241   NaN
242   NaN
243   NaN
Name: notes, Length: 244, dtype: float64
0                          e: alma.ebon@longview.com.au;
1      e: aaron.rau@longview.com.au; b: 9071 0910; m:...
2                        e: alison.ball@longview.com.au;
3                           e: cyclicM.Andrew@gmail.com;
4                        e: annie.ching@longview.com.au;
                             ...
239    m: 0422026138; e: vivian.trantan@longview.com.au;
240    e: warren.tate@stockdaleleggo.com.au; b: 9071 ...
241                  e: warwick.brookes@longview.com.au;
242    e: w.bishop@longview.com.au; b: 9071 0942; m: ...
243                    e: yishai.elaluf@longview.com.au;
Name: phone, Length: 244, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
239   NaN
240   NaN
241   NaN
242   NaN
243   NaN
Name: session, Length: 244, dtype: float64
0      2023-01-02 22:52:34
1      2018-11-07 11:00:50
2      2022-12-15 01:01:20
3      2019-10-07 11:37:20
4      2022-08-29 09:59:56
              ...
239    2020-01-24 15:37:21
240    2018-11-07 12:20:35
241    2021-06-02 16:09:02
242    2018-11-07 12:22:07
243    2020-10-05 16:41:53
Name: register, Length: 244, dtype: object
0      2023-08-14 19:15:47
1      2023-01-21 13:10:23
2      2023-07-09 00:00:14
3      2023-01-21 13:20:18
4      2023-08-14 16:58:42
              ...
239    2023-02-10 09:54:15
240    2023-01-21 16:25:40
241                     \N
242    2023-01-21 16:26:01
243    2023-03-03 13:01:38
Name: amend, Length: 244, dtype: object
0      nAddedBy='CSG'\rnLastLoginRC=.T.\rnLoginCountF...
1      nContactList='PH,EM'\rnDefaultUsers='AAR'\rnMo...
2      nAddedBy='DAB'\rnLastLoginRC=.T.\rnLoginCountD...
3      nAddedBy='RPT'\rnLoginCountJune2020=1\rnLastLo...
4      nAddedBy='DAB'\rnLoginCountAugust2022=3\rnLast...
                             ...
239    nAddedBy='JAH'\rnLoginCountJanuary2020=4\rnLas...
240                                     nAddedBy='RPT'\r
241                                     nAddedBy='JAH'\r
242    nContactList='PH,MI,AC,AR,AE,DA,TA,AL,AN,BC,BS...
243    nAddedBy='JAH'\rnLoginCountMarch2021=5\rnLastL...
Name: extra , Length: 244, dtype: object
rps_lng_negs.csv

C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_60096\2704732483.py:6: DtypeWarning: Columns (20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  tempdf = pd.read_csv(folder_path + j)

         synchdel             synchrec         code                 date  \
0               0  2019-02-28 16:45:48  CHA19000001  2019-02-27 00:00:00
1               0  2019-03-21 17:25:50  CHA19000002  2019-02-27 00:00:00
2               0  2019-03-19 17:19:20  CHA19000003  2019-02-27 00:00:00
3               0  2019-03-13 16:45:47  CHA19000008  2019-02-28 00:00:00
4               0  2019-03-11 17:23:13  CHA19000009  2019-03-04 00:00:00
...           ...                  ...          ...                  ...
2022759         0  2023-08-07 15:30:18  WES23000228  2023-08-07 00:00:00
2022760         0  2023-08-11 16:14:44  WES23000229  2023-08-11 00:00:00
2022761         0  2023-08-11 16:14:44  WES23000230  2023-08-11 00:00:00
2022762         0  2023-08-11 16:18:31  WES23000231  2023-08-11 00:00:00
2022763         0  2023-08-11 16:18:31  WES23000232  2023-08-11 00:00:00

        statdate     transfer type ledger category  \
0             \N  HDO19001954  INV      S       WL
1             \N  HDO19001964  INV      S       WL
2             \N  HDO19001965  INV      S       WL
3             \N          NaN  INV      T       TL
4             \N  HDO19005401  INV      S       WL
...          ...          ...  ...    ...      ...
2022759       \N  WES23000227  INV      A       LA
2022760       \N          NaN  INV      L       LA
2022761       \N  WES23000229  INV      A       LA
2022762       \N          NaN  INV      L       LA
2022763       \N  WES23000231  INV      A       LA

                                                descr  ... clientac  netamt  \
0                           958 Waverley Road - Hedge  ...      REN  1000.0
1                     12 Lindwall St - Garden Cleanup  ...      REN   250.0
2                          14 Davis St - Tree Remvoal  ...      REN   200.0
3                                       Council Rates  ...      REN   377.0
4                                     General Pruning  ...      REN   300.0
...                                               ...  ...      ...     ...
2022759     VCAT Application Fee (1/38 Albert Street)  ...      REN    70.1
2022760                          VCAT Application Fee  ...      REN    70.1
2022761  VCAT Application Fee (404/555 St Kilda Road)  ...      REN    70.1
2022762                          VCAT Application Fee  ...      REN    70.1
2022763    VCAT Application Fee (1/36 Roberts Street)  ...      REN    70.1

        vatamt unalloc  cleared lldstat             register  \
0          0.0     0.0        0       0  2019-02-27 11:16:16
1          0.0     0.0        0       0  2019-02-27 11:54:54
2          0.0     0.0        0       0  2019-02-27 11:57:51
3          0.0     0.0        0       0  2019-02-28 21:43:37
4         30.0     0.0        0       0  2019-03-04 17:52:03
...        ...     ...      ...     ...                  ...
2022759    0.0    70.1        0       0  2023-08-07 15:30:18
2022760    0.0    70.1        0       0  2023-08-11 16:14:44
2022761    0.0    70.1        0       0  2023-08-11 16:14:44
2022762    0.0    70.1        0       0  2023-08-11 16:18:31
2022763    0.0    70.1        0       0  2023-08-11 16:18:31

                       amend  \
0        2019-02-28 16:45:48
1        2019-03-21 17:25:50
2        2019-03-19 17:19:20
3        2019-03-13 16:45:47
4        2019-03-11 17:23:13
...                      ...
2022759  2023-08-07 15:30:18
2022760  2023-08-11 16:14:44
2022761  2023-08-11 16:14:44
2022762  2023-08-11 16:18:31
2022763  2023-08-11 16:18:31

                                                     extra tenstat
0        ktGwCode='RPT19006403'\rktPManAuthDate={27/02/...        0
1        ktGwCode='RPT19005815'\rktExtRef='41'\rktPManA...        0
2        ktGwCode='RPT19005816'\rktExtRef='39'\rktPManA...        0
3                                                      NaN        0
4        ktExtRef='23'\rktPManAuthDate={04/03/2019 00:0...        0
...                                                    ...      ...
2022759                                                NaN        0
2022760                                                NaN        0
2022761                                                NaN        0
2022762                                                NaN        0
2022763                                                NaN        0

[2022764 rows x 33 columns]
0          0
1          0
2          0
3          0
4          0
          ..
2022759    0
2022760    0
2022761    0
2022762    0
2022763    0
Name: synchdel, Length: 2022764, dtype: int64
0          2019-02-28 16:45:48
1          2019-03-21 17:25:50
2          2019-03-19 17:19:20
3          2019-03-13 16:45:47
4          2019-03-11 17:23:13
                  ...
2022759    2023-08-07 15:30:18
2022760    2023-08-11 16:14:44
2022761    2023-08-11 16:14:44
2022762    2023-08-11 16:18:31
2022763    2023-08-11 16:18:31
Name: synchrec, Length: 2022764, dtype: object
0          CHA19000001
1          CHA19000002
2          CHA19000003
3          CHA19000008
4          CHA19000009
              ...
2022759    WES23000228
2022760    WES23000229
2022761    WES23000230
2022762    WES23000231
2022763    WES23000232
Name: code, Length: 2022764, dtype: object
0          2019-02-27 00:00:00
1          2019-02-27 00:00:00
2          2019-02-27 00:00:00
3          2019-02-28 00:00:00
4          2019-03-04 00:00:00
                  ...
2022759    2023-08-07 00:00:00
2022760    2023-08-11 00:00:00
2022761    2023-08-11 00:00:00
2022762    2023-08-11 00:00:00
2022763    2023-08-11 00:00:00
Name: date, Length: 2022764, dtype: object
0          \N
1          \N
2          \N
3          \N
4          \N
           ..
2022759    \N
2022760    \N
2022761    \N
2022762    \N
2022763    \N
Name: statdate, Length: 2022764, dtype: object
0          HDO19001954
1          HDO19001964
2          HDO19001965
3                  NaN
4          HDO19005401
              ...
2022759    WES23000227
2022760            NaN
2022761    WES23000229
2022762            NaN
2022763    WES23000231
Name: transfer, Length: 2022764, dtype: object
0          INV
1          INV
2          INV
3          INV
4          INV
          ...
2022759    INV
2022760    INV
2022761    INV
2022762    INV
2022763    INV
Name: type, Length: 2022764, dtype: object
0          S
1          S
2          S
3          T
4          S
          ..
2022759    A
2022760    L
2022761    A
2022762    L
2022763    A
Name: ledger, Length: 2022764, dtype: object
0          WL
1          WL
2          WL
3          TL
4          WL
           ..
2022759    LA
2022760    LA
2022761    LA
2022762    LA
2022763    LA
Name: category, Length: 2022764, dtype: object
0                             958 Waverley Road - Hedge
1                       12 Lindwall St - Garden Cleanup
2                            14 Davis St - Tree Remvoal
3                                         Council Rates
4                                       General Pruning
                               ...
2022759       VCAT Application Fee (1/38 Albert Street)
2022760                            VCAT Application Fee
2022761    VCAT Application Fee (404/555 St Kilda Road)
2022762                            VCAT Application Fee
2022763      VCAT Application Fee (1/36 Roberts Street)
Name: descr, Length: 2022764, dtype: object

C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_60096\2704732483.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf2['file_name_lv'] = j

0          HDO18002117
1          HDO12002914
2          HDO17002775
3                  NaN
4          HDO18002117
              ...
2022759            NaN
2022760            NaN
2022761            NaN
2022762            NaN
2022763            NaN
Name: cmpcode, Length: 2022764, dtype: object
0          RPT140326
1          RPT070652
2          RPT140206
3          RPT160085
4          RPT110127
             ...
2022759    RPT130385
2022760    HDO220102
2022761    HDO220102
2022762    RPT160069
2022763    RPT160069
Name: lldcode, Length: 2022764, dtype: object
0          RPT198045
1          RPT198529
2          RPT196377
3          RPT193406
4          RPT197738
             ...
2022759          NaN
2022760          NaN
2022761          NaN
2022762          NaN
2022763          NaN
Name: tencode, Length: 2022764, dtype: object
0          HDO140328
1          HDO070705
2          HDO140199
3          HDO160085
4          HDO110122
             ...
2022759    HDO130374
2022760    HDO220123
2022761    HDO220123
2022762    HDO160070
2022763    HDO160070
Name: prpcode, Length: 2022764, dtype: object
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2022759   NaN
2022760   NaN
2022761   NaN
2022762   NaN
2022763   NaN
Name: estcode, Length: 2022764, dtype: float64
0          WIB
1          WIB
2          WIB
3          DAC
4          WIB
          ...
2022759    MEJ
2022760    MEJ
2022761    MEJ
2022762    MEJ
2022763    MEJ
Name: negcode, Length: 2022764, dtype: object
0          gardng
1          gardng
2          gardng
3          debtor
4          gardng
            ...
2022759    vcatfe
2022760    lldacc
2022761    vcatfe
2022762    lldacc
2022763    vcatfe
Name: drnom, Length: 2022764, dtype: object
0          crdtor
1          crdtor
2          crdtor
3          cnlrts
4          crdtor
            ...
2022759    crdtor
2022760    vcatfe
2022761    crdtor
2022762    vcatfe
2022763    crdtor
Name: crnom, Length: 2022764, dtype: object
0          NaN
1          NaN
2          NaN
3          NaN
4          GST
          ...
2022759    NaN
2022760    NaN
2022761    NaN
2022762    NaN
2022763    NaN
Name: vatcode, Length: 2022764, dtype: object
0          CHA19000001
1          CHA19000002
2          CHA19000003
3                 CHA2
4          CHA19000009
              ...
2022759         WES208
2022760         WES209
2022761         WES209
2022762         WES210
2022763         WES210
Name: intref, Length: 2022764, dtype: object
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
2022759    NaN
2022760    NaN
2022761    NaN
2022762    NaN
2022763    NaN
Name: paytype, Length: 2022764, dtype: object
0            P
1            P
2            P
3          NaN
4            P
          ...
2022759    NaN
2022760    NaN
2022761    NaN
2022762    NaN
2022763    NaN
Name: authstat, Length: 2022764, dtype: object
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
2022759    NaN
2022760    NaN
2022761    NaN
2022762    NaN
2022763    NaN
Name: paytran, Length: 2022764, dtype: object
0          REN
1          REN
2          REN
3          REN
4          REN
          ...
2022759    REN
2022760    REN
2022761    REN
2022762    REN
2022763    REN
Name: clientac, Length: 2022764, dtype: object
0          1000.0
1           250.0
2           200.0
3           377.0
4           300.0
            ...
2022759      70.1
2022760      70.1
2022761      70.1
2022762      70.1
2022763      70.1
Name: netamt, Length: 2022764, dtype: float64
0           0.0
1           0.0
2           0.0
3           0.0
4          30.0
           ...
2022759     0.0
2022760     0.0
2022761     0.0
2022762     0.0
2022763     0.0
Name: vatamt, Length: 2022764, dtype: float64
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
           ...
2022759    70.1
2022760    70.1
2022761    70.1
2022762    70.1
2022763    70.1
Name: unalloc, Length: 2022764, dtype: float64
0          0
1          0
2          0
3          0
4          0
          ..
2022759    0
2022760    0
2022761    0
2022762    0
2022763    0
Name: cleared, Length: 2022764, dtype: int64
0          0
1          0
2          0
3          0
4          0
          ..
2022759    0
2022760    0
2022761    0
2022762    0
2022763    0
Name: lldstat, Length: 2022764, dtype: int64
0          2019-02-27 11:16:16
1          2019-02-27 11:54:54
2          2019-02-27 11:57:51
3          2019-02-28 21:43:37
4          2019-03-04 17:52:03
                  ...
2022759    2023-08-07 15:30:18
2022760    2023-08-11 16:14:44
2022761    2023-08-11 16:14:44
2022762    2023-08-11 16:18:31
2022763    2023-08-11 16:18:31
Name: register, Length: 2022764, dtype: object
0          2019-02-28 16:45:48
1          2019-03-21 17:25:50
2          2019-03-19 17:19:20
3          2019-03-13 16:45:47
4          2019-03-11 17:23:13
                  ...
2022759    2023-08-07 15:30:18
2022760    2023-08-11 16:14:44
2022761    2023-08-11 16:14:44
2022762    2023-08-11 16:18:31
2022763    2023-08-11 16:18:31
Name: amend, Length: 2022764, dtype: object
0          ktGwCode='RPT19006403'\rktPManAuthDate={27/02/...
1          ktGwCode='RPT19005815'\rktExtRef='41'\rktPManA...
2          ktGwCode='RPT19005816'\rktExtRef='39'\rktPManA...
3                                                        NaN
4          ktExtRef='23'\rktPManAuthDate={04/03/2019 00:0...
                                 ...
2022759                                                  NaN
2022760                                                  NaN
2022761                                                  NaN
2022762                                                  NaN
2022763                                                  NaN
Name: extra, Length: 2022764, dtype: object

C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_60096\2704732483.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf2['file_name_lv'] = j

0          0
1          0
2          0
3          0
4          0
          ..
2022759    0
2022760    0
2022761    0
2022762    0
2022763    0
Name: tenstat , Length: 2022764, dtype: int64
rps_lng_nomtran.csv
Here
rps_lng_offers.csv
Here
rps_lng_offers_a.csv
    synchdel          synchrec code  hseno      hsename          address1  \
0          0   24/02/2020 9:35  CHA   31.0          NaN      Hardner Road
1          0   2/09/2019 17:17  COS   31.0          NaN      Hardner Road
2          0  30/08/2021 10:36  CSS    NaN          NaN               NaN
3          0    3/04/2023 9:30  DRE   31.0          NaN      Hardner Road
4          0   5/12/2019 14:19  GLD   31.0          NaN      Hardner Road
5          0  17/03/2021 10:41  GRL    NaN          NaN               NaN
6          0  17/03/2021 10:40  GRS    NaN          NaN               NaN
7          0  17/03/2021 10:41  GRZ    NaN          NaN               NaN
8          0   9/03/2023 22:47  HAW    NaN          NaN               NaN
9          0  14/08/2023 17:38  HDO   31.0          NaN      Hardner Road
10         1  13/02/2019 14:14  IFP   15.0          NaN  Claremont Avenue
11         0  31/01/2023 10:52  INA    NaN          NaN               NaN
12         0  11/01/2023 15:50  JAM   31.0          NaN      Hardner Road
13         1  13/02/2019 14:14  LNG   31.0          NaN      Hardner Road
14         1  13/02/2019 14:14  OLH    4.0      Level 2    Riverside Quay
15         0  23/01/2023 10:45  OVA    NaN          NaN               NaN
16         0  15/04/2021 13:33  RNO   31.0          NaN      Hardner Road
17         0  27/06/2022 10:27  RPT   31.0          NaN      Hardner Road
18         0  28/06/2023 15:33  RRP    NaN          NaN               NaN
19         0  21/09/2021 11:37  SAN    NaN          NaN               NaN
20         0   7/06/2023 10:56  TBK    NaN          NaN               NaN
21         0   6/12/2022 12:52  TPP    NaN  Team Purple               NaN
22         1  13/02/2019 14:14  TRU   31.0          NaN      Hardner Road
23         0  14/06/2022 15:43  VAD   31.0          NaN      Hardner Road
24         0  11/08/2023 16:18  WES   31.0          NaN      Hardner Road

    address2        address3 address4  postcode  ...       type    invoice  \
0        NaN  Mount Waverley      VIC    3149.0  ...          X     CHA304
1        NaN  Mount Waverley      VIC    3149.0  ...          X       COS2
2        NaN             NaN      NaN       NaN  ...        NaN        NaN
3        NaN  Mount Waverley      VIC    3149.0  ...        NaN       DRE9
4        NaN  Mount Waverley      VIC    3149.0  ...        NaN        NaN
5        NaN             NaN      NaN       NaN  ...        NaN        NaN
6        NaN             NaN      NaN       NaN  ...        NaN        NaN
7        NaN             NaN      NaN       NaN  ...        NaN        NaN
8        NaN             NaN      NaN       NaN  ...        NaN      HAW43
9        NaN  Mount Waverley      VIC    3149.0  ...          H  HDO433095
10       NaN         Malvern      VIC    3144.0  ...        NaN        NaN
11       NaN             NaN      NaN       NaN  ...          X        NaN
12       NaN  Mount Waverley      VIC    3149.0  ...          L       JAM2
13       NaN  Mount Waverley      VIC    3149.0  ...        NaN        NaN
14       NaN       Southbank      VIC    3006.0  ...        NaN        NaN
15       NaN             NaN      NaN       NaN  ...          H        NaN
16       NaN  Mount Waverley      VIC    3149.0  ...        NaN        NaN
17       NaN  Mount Waverley      VIC    3149.0  ...  A,,,,,,,,     RPT849
18       NaN             NaN      NaN       NaN  ...        NaN        NaN
19       NaN             NaN      NaN       NaN  ...          L        NaN
20       NaN             NaN      NaN       NaN  ...          L      TBK77
21       NaN             NaN      NaN       NaN  ...          L      TPP86
22       NaN  Mount Waverley      VIC    3149.0  ...        NaN        NaN
23       NaN  Mount Waverley      VIC    3149.0  ...        NaN      VAD43
24       NaN  Mount Waverley      VIC    3149.0  ...        NaN     WES210

   nousers  serial    jinst license  peflag          register  \
0        0       0        0       0       0  31/01/2019 19:26
1        0       0        0       0       0  31/01/2019 19:27
2        0       0        0       0       0  30/08/2021 10:36
3        0       0        0       0       0  31/01/2019 19:28
4        0       0        0       0       0   5/12/2019 14:17
5        0       0        0       0       0  17/03/2021 10:41
6        0       0        0       0       0  17/03/2021 10:40
7        0       0        0       0       0  17/03/2021 10:41
8        0       0        0       0       0  16/12/2020 13:35
9        0       0        0       0       0   7/11/2018 10:55
10       0       0        0       0       0  10/01/2019 19:53
11       0       0        0       0       0  21/01/2023 12:54
12       0       0        0       0       0   2/09/2019 12:18
13       0       0        0       0       0  10/01/2019 19:49
14       0       0        0       0       0  10/01/2019 19:51
15       0       0        0       0       0   20/01/2023 9:43
16       0       0        0       0       0  15/04/2021 13:29
17     999       0  2455208  132465       1  30/04/2018 11:45
18       0       0        0       0       0  28/06/2023 15:33
19       0       0        0       0       0  12/07/2021 12:54
20       0       0        0       0       0  21/09/2021 11:39
21       0       0        0       0       0  26/10/2021 15:07
22       0       0        0       0       0  10/01/2019 19:46
23       0       0        0       0       0   1/02/2021 15:12
24       0       0        0       0       0  31/01/2019 19:28

               amend                                             extra
0    24/02/2020 9:35    oRegion='Mount Waverley'\roPermissionGrps='MAN'
1    2/09/2019 17:17    oRegion='Mount Waverley'\roPermissionGrps='MAN'
2                 \N                                                NaN
3     3/04/2023 9:30    oRegion='Mount Waverley'\roPermissionGrps='MAN'
4    5/12/2019 14:19                           oRegion='Mount Waverley'
5                 \N                         oRegion='Mount Waverley'\r
6                 \N                         oRegion='Mount Waverley'\r
7                 \N                         oRegion='Mount Waverley'\r
8    9/03/2023 22:47                              oPermissionGrps='MAN'
9   14/08/2023 17:38  oRegion='Mount Waverley'\roPermissionGrps='MAN...
10  13/02/2019 14:14                                                NaN
11  31/01/2023 10:52                                                NaN
12  11/01/2023 15:50    oRegion='Mount Waverley'\roPermissionGrps='MAN'
13  13/02/2019 14:14                                                NaN
14  13/02/2019 14:14                                                NaN
15  23/01/2023 10:45                                 oRegion='Offshore'
16  15/04/2021 13:33                                                NaN
17  27/06/2022 10:27                    oRegion='Reapit'\roNoCharge=.T.
18  28/06/2023 15:33                                                NaN
19  21/09/2021 11:37                              oPermissionGrps='MAN'
20   7/06/2023 10:56                              oPermissionGrps='MAN'
21   6/12/2022 12:52                              oPermissionGrps='MAN'
22  13/02/2019 14:14                                                NaN
23  14/06/2022 15:43                              oPermissionGrps='MAN'
24  11/08/2023 16:18    oRegion='Mount Waverley'\roPermissionGrps='MAN'

[25 rows x 24 columns]
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    1
14    1
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    1
23    0
24    0
Name: synchdel, dtype: int64
0      24/02/2020 9:35
1      2/09/2019 17:17
2     30/08/2021 10:36
3       3/04/2023 9:30
4      5/12/2019 14:19
5     17/03/2021 10:41
6     17/03/2021 10:40
7     17/03/2021 10:41
8      9/03/2023 22:47
9     14/08/2023 17:38
10    13/02/2019 14:14
11    31/01/2023 10:52
12    11/01/2023 15:50
13    13/02/2019 14:14
14    13/02/2019 14:14
15    23/01/2023 10:45
16    15/04/2021 13:33
17    27/06/2022 10:27
18    28/06/2023 15:33
19    21/09/2021 11:37
20     7/06/2023 10:56
21     6/12/2022 12:52
22    13/02/2019 14:14
23    14/06/2022 15:43
24    11/08/2023 16:18
Name: synchrec, dtype: object
0     CHA
1     COS
2     CSS
3     DRE
4     GLD
5     GRL
6     GRS
7     GRZ
8     HAW
9     HDO
10    IFP
11    INA
12    JAM
13    LNG
14    OLH
15    OVA
16    RNO
17    RPT
18    RRP
19    SAN
20    TBK
21    TPP
22    TRU
23    VAD
24    WES
Name: code, dtype: object
0     31.0
1     31.0
2      NaN
3     31.0
4     31.0
5      NaN
6      NaN
7      NaN
8      NaN
9     31.0
10    15.0
11     NaN
12    31.0
13    31.0
14     4.0
15     NaN
16    31.0
17    31.0
18     NaN
19     NaN
20     NaN
21     NaN
22    31.0
23    31.0
24    31.0
Name: hseno, dtype: float64
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10            NaN
11            NaN
12            NaN
13            NaN
14        Level 2
15            NaN
16            NaN
17            NaN
18            NaN
19            NaN
20            NaN
21    Team Purple
22            NaN
23            NaN
24            NaN
Name: hsename, dtype: object
0         Hardner Road
1         Hardner Road
2                  NaN
3         Hardner Road
4         Hardner Road
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9         Hardner Road
10    Claremont Avenue
11                 NaN
12        Hardner Road
13        Hardner Road
14      Riverside Quay
15                 NaN
16        Hardner Road
17        Hardner Road
18                 NaN
19                 NaN
20                 NaN
21                 NaN
22        Hardner Road
23        Hardner Road
24        Hardner Road
Name: address1, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
Name: address2, dtype: float64
0     Mount Waverley
1     Mount Waverley
2                NaN
3     Mount Waverley
4     Mount Waverley
5                NaN
6                NaN
7                NaN
8                NaN
9     Mount Waverley
10           Malvern
11               NaN
12    Mount Waverley
13    Mount Waverley
14         Southbank
15               NaN
16    Mount Waverley
17    Mount Waverley
18               NaN
19               NaN
20               NaN
21               NaN
22    Mount Waverley
23    Mount Waverley
24    Mount Waverley
Name: address3, dtype: object
0     VIC
1     VIC
2     NaN
3     VIC
4     VIC
5     NaN
6     NaN
7     NaN
8     NaN
9     VIC
10    VIC
11    NaN
12    VIC
13    VIC
14    VIC
15    NaN
16    VIC
17    VIC
18    NaN
19    NaN
20    NaN
21    NaN
22    VIC
23    VIC
24    VIC
Name: address4, dtype: object
0     3149.0
1     3149.0
2        NaN
3     3149.0
4     3149.0
5        NaN
6        NaN
7        NaN
8        NaN
9     3149.0
10    3144.0
11       NaN
12    3149.0
13    3149.0
14    3006.0
15       NaN
16    3149.0
17    3149.0
18       NaN
19       NaN
20       NaN
21       NaN
22    3149.0
23    3149.0
24    3149.0
Name: postcode, dtype: float64
0     AU
1     AU
2     AU
3     AU
4     AU
5     AU
6     AU
7     AU
8     AU
9     AU
10    AU
11    AU
12    AU
13    AU
14    AU
15    AU
16    AU
17    AU
18    AU
19    AU
20    AU
21    AU
22    AU
23    AU
24    AU
Name: country, dtype: object
0                   The Cha-chings
1                      The Cosmics
2                          Casuals
3                     Team Magenta
4                             Gold
5             Guaranteed Rent Lite
6                  Guaranteed Rent
7     Guaranteed Rent Zero Arrears
8                         Hawthorn
9                      Head Office
10              Interface Property
11                        InActive
12                      Team Green
13                        Longview
14                     Oliver Hume
15                     Offshore VA
16                      Renovation
17                   Reapit Office
18             Rent Roll Purchased
19                       Team Blue
20                      Team Black
21                     Team Purple
22                   True Property
23                        Team Red
24                     Team Yellow
Name: name, dtype: object
0         b: 1800 931 784; e: finance@longview.com.au;
1         b: 1800 931 784; e: finance@longview.com.au;
2                                                  NaN
3         b: 1800 931 784; e: finance@longview.com.au;
4                                     b: 1800 931 784;
5                                                  NaN
6                                                  NaN
7                                                  NaN
8                                                  NaN
9         e: finance@longview.com.au; b: 1800 931 784;
10    b: 03 9500 2088; e: admin@interfaceproperty.com;
11                                                 NaN
12        b: 1800 931 784; e: finance@longview.com.au;
13                                    b: 18 0093 1784;
14                                    b: 03 9669 5999;
15                                                 NaN
16        b: 1800 931 784; e: finance@longview.com.au;
17        b: 1800 931 784; e: finance@longview.com.au;
18                                                 NaN
19                                                 NaN
20                                                 NaN
21                                                 NaN
22                                    b: 03 9001 1559;
23        e: finance@longview.com.au; b: 1800 931 784;
24        b: 1800 931 784; e: finance@longview.com.au;
Name: phone, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
Name: manager, dtype: float64
0             X
1             X
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9             H
10          NaN
11            X
12            L
13          NaN
14          NaN
15            H
16          NaN
17    A,,,,,,,,
18          NaN
19            L
20            L
21            L
22          NaN
23          NaN
24          NaN
Name: type, dtype: object
0        CHA304
1          COS2
2           NaN
3          DRE9
4           NaN
5           NaN
6           NaN
7           NaN
8         HAW43
9     HDO433095
10          NaN
11          NaN
12         JAM2
13          NaN
14          NaN
15          NaN
16          NaN
17       RPT849
18          NaN
19          NaN
20        TBK77
21        TPP86
22          NaN
23        VAD43
24       WES210
Name: invoice, dtype: object
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17    999
18      0
19      0
20      0
21      0
22      0
23      0
24      0
Name: nousers, dtype: int64
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
Name: serial, dtype: int64
0           0
1           0
2           0
3           0
4           0
5           0
6           0
7           0
8           0
9           0
10          0
11          0
12          0
13          0
14          0
15          0
16          0
17    2455208
18          0
19          0
20          0
21          0
22          0
23          0
24          0
Name: jinst, dtype: int64
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17    132465
18         0
19         0
20         0
21         0
22         0
23         0
24         0
Name: license, dtype: int64
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    1
18    0
19    0
20    0
21    0
22    0
23    0
24    0
Name: peflag, dtype: int64
0     31/01/2019 19:26
1     31/01/2019 19:27
2     30/08/2021 10:36
3     31/01/2019 19:28
4      5/12/2019 14:17
5     17/03/2021 10:41
6     17/03/2021 10:40
7     17/03/2021 10:41
8     16/12/2020 13:35
9      7/11/2018 10:55
10    10/01/2019 19:53
11    21/01/2023 12:54
12     2/09/2019 12:18
13    10/01/2019 19:49
14    10/01/2019 19:51
15     20/01/2023 9:43
16    15/04/2021 13:29
17    30/04/2018 11:45
18    28/06/2023 15:33
19    12/07/2021 12:54
20    21/09/2021 11:39
21    26/10/2021 15:07
22    10/01/2019 19:46
23     1/02/2021 15:12
24    31/01/2019 19:28
Name: register, dtype: object
0      24/02/2020 9:35
1      2/09/2019 17:17
2                   \N
3       3/04/2023 9:30
4      5/12/2019 14:19
5                   \N
6                   \N
7                   \N
8      9/03/2023 22:47
9     14/08/2023 17:38
10    13/02/2019 14:14
11    31/01/2023 10:52
12    11/01/2023 15:50
13    13/02/2019 14:14
14    13/02/2019 14:14
15    23/01/2023 10:45
16    15/04/2021 13:33
17    27/06/2022 10:27
18    28/06/2023 15:33
19    21/09/2021 11:37
20     7/06/2023 10:56
21     6/12/2022 12:52
22    13/02/2019 14:14
23    14/06/2022 15:43
24    11/08/2023 16:18
Name: amend, dtype: object
0       oRegion='Mount Waverley'\roPermissionGrps='MAN'
1       oRegion='Mount Waverley'\roPermissionGrps='MAN'
2                                                   NaN
3       oRegion='Mount Waverley'\roPermissionGrps='MAN'
4                              oRegion='Mount Waverley'
5                            oRegion='Mount Waverley'\r
6                            oRegion='Mount Waverley'\r
7                            oRegion='Mount Waverley'\r
8                                 oPermissionGrps='MAN'
9     oRegion='Mount Waverley'\roPermissionGrps='MAN...
10                                                  NaN
11                                                  NaN
12      oRegion='Mount Waverley'\roPermissionGrps='MAN'
13                                                  NaN
14                                                  NaN
15                                   oRegion='Offshore'
16                                                  NaN
17                      oRegion='Reapit'\roNoCharge=.T.
18                                                  NaN
19                                oPermissionGrps='MAN'
20                                oPermissionGrps='MAN'
21                                oPermissionGrps='MAN'
22                                                  NaN
23                                oPermissionGrps='MAN'
24      oRegion='Mount Waverley'\roPermissionGrps='MAN'
Name: extra , dtype: object
rps_lng_office.csv
                picfile    prpcode         picname type  picorder  \
0      CHA190001_07.jpg  CHA190001  Picture No. 07   PH         2
1      CHA190001_08.jpg  CHA190001  Picture No. 08   PH         3
2      CHA190001_09.jpg  CHA190001  Picture No. 09   PH         4
3      CHA190001_10.jpg  CHA190001  Picture No. 10   PH         5
4      CHA190001_11.jpg  CHA190001  Picture No. 11   PH         6
...                 ...        ...             ...  ...       ...
42888  HDO200292_13.jpg  HDO200292  Picture No. 13   PH         5
42889  HDO200292_14.jpg  HDO200292  Picture No. 14   PH         6

C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_60096\2704732483.py:6: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  tempdf = pd.read_csv(folder_path + j)

       synchdel             synchrec         code                 date  \
0             0  2019-03-13 12:31:28  CHA19000474  2019-03-13 00:00:00
1             0  2019-03-13 12:31:28  CHA19000475  2019-03-13 00:00:00
2             0  2019-03-13 12:31:28  CHA19000476  2019-03-13 00:00:00
3             0  2019-03-13 12:31:28  CHA19000477  2019-03-13 00:00:00
4             0  2019-03-18 16:40:45  CHA19000478  2019-03-18 00:00:00
...         ...                  ...          ...                  ...
43649         0  2023-08-09 11:30:55  WES23001963  2023-08-09 00:00:00
43650         0  2023-08-09 11:30:55  WES23001964  2023-08-09 00:00:00
43651         0  2023-08-09 11:30:55  WES23001965  2023-08-09 00:00:00
43652         0  2023-08-09 11:30:55  WES23001966  2023-08-09 00:00:00
43653         0  2023-08-09 11:30:55  WES23001967  2023-08-09 00:00:00

         tencode negcode srccode type status  ord  ...                amend  \
0      CHA190010     DAF  RPT200    P      X    1  ...                   \N
1      CHA190010     DAF  RPT201    P      C    2  ...                   \N
2      CHA190010     DAF  RPT202    P      C    3  ...                   \N
3      CHA190010     DAF  RPT203    P      C    4  ...                   \N
4      CHA190010     DAF  RPT204    P      C    5  ...  2019-03-18 16:40:45
...          ...     ...     ...  ...    ...  ...  ...                  ...
43649  HDO210251     SMC  RPT316    L      N   16  ...  2023-08-09 11:30:55
43650  HDO210251     SMC  RPT350    L      N   17  ...  2023-08-09 11:30:55
43651  HDO210251     SMC  RPT318    L      N   18  ...  2023-08-09 11:30:55
43652  HDO210251     SMC  RPT319    L      N   19  ...  2023-08-09 11:30:55
43653  HDO210251     SMC  RPT328    L      N   20  ...  2023-08-09 11:30:55

       extra estcode prpcode offercode  certcode  cmpcode  renewalcode  \
0        NaN     NaN     NaN       NaN       NaN      NaN          NaN
1        NaN     NaN     NaN       NaN       NaN      NaN          NaN
2        NaN     NaN     NaN       NaN       NaN      NaN          NaN
3        NaN     NaN     NaN       NaN       NaN      NaN          NaN
4        NaN     NaN     NaN       NaN       NaN      NaN          NaN
...      ...     ...     ...       ...       ...      ...          ...
43649    NaN     NaN     NaN       NaN       NaN      NaN          NaN
43650    NaN     NaN     NaN       NaN       NaN      NaN          NaN
43651    NaN     NaN     NaN       NaN       NaN      NaN          NaN
43652    NaN     NaN     NaN       NaN       NaN      NaN          NaN
43653    NaN     NaN     NaN       NaN       NaN      NaN          NaN

       lldcode  duedate
0          NaN        \N
1          NaN        \N
2          NaN        \N
3          NaN        \N
4          NaN        \N
...        ...       ...
43649      NaN        \N
43650      NaN        \N
43651      NaN        \N
43652      NaN        \N
43653      NaN        \N

[43654 rows x 23 columns]
0        0
1        0
2        0
3        0
4        0
        ..
43649    0
43650    0
43651    0
43652    0
43653    0
Name: synchdel, Length: 43654, dtype: int64
0        2019-03-13 12:31:28
1        2019-03-13 12:31:28
2        2019-03-13 12:31:28
3        2019-03-13 12:31:28
4        2019-03-18 16:40:45
                ...
43649    2023-08-09 11:30:55
43650    2023-08-09 11:30:55
43651    2023-08-09 11:30:55
43652    2023-08-09 11:30:55
43653    2023-08-09 11:30:55
Name: synchrec, Length: 43654, dtype: object
0        CHA19000474
1        CHA19000475
2        CHA19000476
3        CHA19000477
4        CHA19000478
            ...
43649    WES23001963
43650    WES23001964
43651    WES23001965
43652    WES23001966
43653    WES23001967
Name: code, Length: 43654, dtype: object
0        2019-03-13 00:00:00
1        2019-03-13 00:00:00
2        2019-03-13 00:00:00
3        2019-03-13 00:00:00
4        2019-03-18 00:00:00
                ...
43649    2023-08-09 00:00:00
43650    2023-08-09 00:00:00
43651    2023-08-09 00:00:00
43652    2023-08-09 00:00:00
43653    2023-08-09 00:00:00
Name: date, Length: 43654, dtype: object
0        CHA190010
1        CHA190010
2        CHA190010
3        CHA190010
4        CHA190010
           ...
43649    HDO210251
43650    HDO210251
43651    HDO210251
43652    HDO210251
43653    HDO210251
Name: tencode, Length: 43654, dtype: object
0        DAF
1        DAF
2        DAF
3        DAF
4        DAF
        ...
43649    SMC
43650    SMC
43651    SMC
43652    SMC
43653    SMC
Name: negcode, Length: 43654, dtype: object
0        RPT200
1        RPT201
2        RPT202
3        RPT203
4        RPT204
          ...
43649    RPT316
43650    RPT350
43651    RPT318
43652    RPT319
43653    RPT328
Name: srccode, Length: 43654, dtype: object
0        P
1        P
2        P
3        P
4        P
        ..
43649    L
43650    L
43651    L
43652    L
43653    L
Name: type, Length: 43654, dtype: object
0        X
1        C
2        C
3        C
4        C
        ..
43649    N
43650    N
43651    N
43652    N
43653    N
Name: status, Length: 43654, dtype: object
0         1
1         2
2         3
3         4
4         5
         ..
43649    16
43650    17
43651    18
43652    19
43653    20
Name: ord, Length: 43654, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
43649    0
43650    0
43651    0
43652    0
43653    0
Name: lldagreed, Length: 43654, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
43649    0
43650    0
43651    0
43652    0
43653    0
Name: tenagreed, Length: 43654, dtype: int64
0        2019-03-13 12:31:28
1        2019-03-13 12:31:28
2        2019-03-13 12:31:28
3        2019-03-13 12:31:28
4        2019-03-13 12:31:28
                ...
43649    2023-08-09 11:30:55
43650    2023-08-09 11:30:55
43651    2023-08-09 11:30:55
43652    2023-08-09 11:30:55
43653    2023-08-09 11:30:55
Name: register, Length: 43654, dtype: object
0                         \N
1                         \N
2                         \N
3                         \N
4        2019-03-18 16:40:45
                ...
43649    2023-08-09 11:30:55
43650    2023-08-09 11:30:55
43651    2023-08-09 11:30:55
43652    2023-08-09 11:30:55
43653    2023-08-09 11:30:55
Name: amend, Length: 43654, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
43649    NaN
43650    NaN
43651    NaN
43652    NaN
43653    NaN
Name: extra, Length: 43654, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
43649   NaN
43650   NaN
43651   NaN
43652   NaN
43653   NaN
Name: estcode, Length: 43654, dtype: float64
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
43649   NaN
43650   NaN
43651   NaN
43652   NaN
43653   NaN
Name: prpcode, Length: 43654, dtype: float64
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
43649   NaN
43650   NaN
43651   NaN
43652   NaN
43653   NaN
Name: offercode, Length: 43654, dtype: float64
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
43649   NaN
43650   NaN
43651   NaN
43652   NaN
43653   NaN
Name: certcode, Length: 43654, dtype: float64
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
43649   NaN
43650   NaN
43651   NaN
43652   NaN
43653   NaN
Name: cmpcode, Length: 43654, dtype: float64
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
43649   NaN
43650   NaN
43651   NaN
43652   NaN
43653   NaN
Name: renewalcode, Length: 43654, dtype: float64
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
43649   NaN
43650   NaN
43651   NaN
43652   NaN
43653   NaN
Name: lldcode, Length: 43654, dtype: float64
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
43649    \N
43650    \N
43651    \N
43652    \N
43653    \N
Name: duedate , Length: 43654, dtype: object
rps_lng_tenchk.csv

C:\Users\SahilSingh\AppData\Local\Temp\ipykernel_60096\2704732483.py:6: DtypeWarning: Columns (10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  tempdf = pd.read_csv(folder_path + j)

       synchdel             synchrec         code  feefreq  \
0             0  2020-05-21 08:12:38  CHA19000001        0
1             0  2019-03-21 09:11:08  CHA19000004        0
2             0  2019-03-05 14:03:20  CHA19000005        0
3             0  2019-03-05 14:03:20  CHA19000006        0
4             0  2019-03-05 14:03:20  CHA19000007        0
...         ...                  ...          ...      ...
33426         0  2023-08-11 14:16:56  WES23000369        0
33427         0  2023-08-11 07:57:58  WES23000370        0
33428         0  2023-08-11 10:11:08  WES23000371        0
33429         0  2023-08-14 11:35:27  WES23000372        0
33430         0  2023-08-14 11:57:06  WES23000373        0

                    frdate todate    tencode negcode type  role  ... comm  \
0      2020-05-26 00:00:00     \N  RPT191835     DAC    A   NaN  ...  0.0
1      2019-02-28 00:00:00     \N  RPT193359     DAC    A   NaN  ...  0.0
2      2019-02-28 00:00:00     \N  RPT193079     DAC    A   NaN  ...  0.0
3      2019-02-28 00:00:00     \N  RPT193079     DAC    A   NaN  ...  0.0
4      2019-02-28 00:00:00     \N  RPT193079     DAC    A   NaN  ...  0.0
...                    ...    ...        ...     ...  ...   ...  ...  ...
33426  2023-09-24 00:00:00     \N  CVA210334     SMC    A   NaN  ...  0.0
33427  2023-10-06 00:00:00     \N  HDO211232     SMC    A   NaN  ...  0.0
33428  2023-07-22 00:00:00     \N  HDO221004     SMC    A   NaN  ...  0.0
33429  2023-08-01 00:00:00     \N  HDO211097     BDV    A   NaN  ...  0.0
33430  2023-08-14 00:00:00     \N  HDO230743     BDV    A   NaN  ...  0.0

      fixedcomm extcomm commsplit  commman  feeamount  resetins  \
0           0.0     0.0       0.0      0.0     100.00         0
1           0.0     0.0       0.0      0.0    1834.75         0
2           0.0     0.0       0.0      0.0     352.75         0
3           0.0     0.0       0.0      0.0     182.60         0
4           0.0     0.0       0.0      0.0      18.26         0
...         ...     ...       ...      ...        ...       ...
33426       0.0     0.0       0.0      0.0     432.72         0
33427       0.0     0.0       0.0      0.0       0.00         0
33428       0.0     0.0       0.0      0.0       0.00         0
33429       0.0     0.0       0.0      0.0    1736.00         0
33430       0.0     0.0       0.0      0.0     300.00         0

                  register                amend  \
0      2019-02-25 15:29:53  2020-05-21 08:12:38
1      2019-02-28 13:43:57  2019-03-21 09:11:08
2      2019-02-28 20:34:26  2019-03-05 14:03:20
3      2019-02-28 20:38:41  2019-03-05 14:03:20
4      2019-02-28 20:39:29  2019-03-05 14:03:20
...                    ...                  ...
33426  2023-08-11 07:35:05  2023-08-11 14:16:56
33427  2023-08-11 07:57:58  2023-08-11 07:57:58
33428  2023-08-11 10:11:08  2023-08-11 10:11:08
33429  2023-08-14 11:35:27  2023-08-14 11:35:27
33430  2023-08-14 11:57:06  2023-08-14 11:57:06

                                                  extra
0      keFeeNom='learen'\rkeAdHocDsc='Lease Renewal F...
1      keAdHocDsc='City of Monash Council Rates'\rkeF...
2      keFeeNom='cnlrts'\rkeAdHocDsc='Council Rates'\...
3      keFeeNom='waterr'\rkeAdHocDsc='Water Rates'\rk...
4      keFeeNom='waterr'\rkeAdHocDsc='GST on Water Ra...
...                                                  ...
33426  keFeeNom='learen'\rkeAdHocDsc='Lease Renewal F...
33427                                                NaN
33428                               keFixedCommBlank=.T.
33429  keFeeNom='compen'\rkeAdHocDsc='Compensation fo...
33430  keFeeNom='compen'\rkeAdHocDsc='NBN connection ...

[33431 rows x 25 columns]
0        0
1        0
2        0
3        0
4        0
        ..
33426    0
33427    0
33428    0
33429    0
33430    0
Name: synchdel, Length: 33431, dtype: int64
0        2020-05-21 08:12:38
1        2019-03-21 09:11:08
2        2019-03-05 14:03:20
3        2019-03-05 14:03:20
4        2019-03-05 14:03:20
                ...
33426    2023-08-11 14:16:56
33427    2023-08-11 07:57:58
33428    2023-08-11 10:11:08
33429    2023-08-14 11:35:27
33430    2023-08-14 11:57:06
Name: synchrec, Length: 33431, dtype: object
0        CHA19000001
1        CHA19000004
2        CHA19000005
3        CHA19000006
4        CHA19000007
            ...
33426    WES23000369
33427    WES23000370
33428    WES23000371
33429    WES23000372
33430    WES23000373
Name: code, Length: 33431, dtype: object
0        0
1        0
2        0
3        0
4        0
        ..
33426    0
33427    0
33428    0
33429    0
33430    0
Name: feefreq, Length: 33431, dtype: int64
0        2020-05-26 00:00:00
1        2019-02-28 00:00:00
2        2019-02-28 00:00:00
3        2019-02-28 00:00:00
4        2019-02-28 00:00:00
                ...
33426    2023-09-24 00:00:00
33427    2023-10-06 00:00:00
33428    2023-07-22 00:00:00
33429    2023-08-01 00:00:00
33430    2023-08-14 00:00:00
Name: frdate, Length: 33431, dtype: object
0        \N
1        \N
2        \N
3        \N
4        \N
         ..
33426    \N
33427    \N
33428    \N
33429    \N
33430    \N
Name: todate, Length: 33431, dtype: object
0        RPT191835
1        RPT193359
2        RPT193079
3        RPT193079
4        RPT193079
           ...
33426    CVA210334
33427    HDO211232
33428    HDO221004
33429    HDO211097
33430    HDO230743
Name: tencode, Length: 33431, dtype: object
0        DAC
1        DAC
2        DAC
3        DAC
4        DAC
        ...
33426    SMC
33427    SMC
33428    SMC
33429    BDV
33430    BDV
Name: negcode, Length: 33431, dtype: object
0        A
1        A
2        A
3        A
4        A
        ..
33426    A
33427    A
33428    A
33429    A
33430    A
Name: type, Length: 33431, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
33426   NaN
33427   NaN
33428   NaN
33429   NaN
33430   NaN
Name: role, Length: 33431, dtype: float64
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
33426    NaN
33427    NaN
33428    NaN
33429    NaN
33430    NaN
Name: rentfreq, Length: 33431, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
33426    NaN
33427    NaN
33428    NaN
33429    NaN
33430    NaN
Name: commcoll, Length: 33431, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
33426    NaN
33427    NaN
33428    NaN
33429    NaN
33430    NaN
Name: commmancoll, Length: 33431, dtype: object
0         LA
1         TL
2         TL
3         TL
4         TL
        ...
33426     LA
33427    NaN
33428    NaN
33429     TL
33430     LT
Name: feecategory, Length: 33431, dtype: object
0          0.0000
1          0.0000
2          0.0000
3          0.0000
4          0.0000
           ...
33426      0.0000
33427    559.9233
33428      0.0000
33429      0.0000
33430      0.0000
Name: wrent, Length: 33431, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
33426    0.0
33427    0.0
33428    0.0
33429    0.0
33430    0.0
Name: comm, Length: 33431, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
33426    0.0
33427    0.0
33428    0.0
33429    0.0
33430    0.0
Name: fixedcomm, Length: 33431, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
33426    0.0
33427    0.0
33428    0.0
33429    0.0
33430    0.0
Name: extcomm, Length: 33431, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
33426    0.0
33427    0.0
33428    0.0
33429    0.0
33430    0.0
Name: commsplit, Length: 33431, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
33426    0.0
33427    0.0
33428    0.0
33429    0.0
33430    0.0
Name: commman, Length: 33431, dtype: float64
0         100.00
1        1834.75
2         352.75
3         182.60
4          18.26
          ...
33426     432.72
33427       0.00
33428       0.00
33429    1736.00
33430     300.00
Name: feeamount, Length: 33431, dtype: float64
0        0
1        0
2        0
3        0
4        0
        ..
33426    0
33427    0
33428    0
33429    0
33430    0
Name: resetins, Length: 33431, dtype: int64
0        2019-02-25 15:29:53
1        2019-02-28 13:43:57
2        2019-02-28 20:34:26
3        2019-02-28 20:38:41
4        2019-02-28 20:39:29
                ...
33426    2023-08-11 07:35:05
33427    2023-08-11 07:57:58
33428    2023-08-11 10:11:08
33429    2023-08-14 11:35:27
33430    2023-08-14 11:57:06
Name: register, Length: 33431, dtype: object
0        2020-05-21 08:12:38
1        2019-03-21 09:11:08
2        2019-03-05 14:03:20
3        2019-03-05 14:03:20
4        2019-03-05 14:03:20
                ...
33426    2023-08-11 14:16:56
33427    2023-08-11 07:57:58
33428    2023-08-11 10:11:08
33429    2023-08-14 11:35:27
33430    2023-08-14 11:57:06
Name: amend, Length: 33431, dtype: object
0        keFeeNom='learen'\rkeAdHocDsc='Lease Renewal F...
1        keAdHocDsc='City of Monash Council Rates'\rkeF...
2        keFeeNom='cnlrts'\rkeAdHocDsc='Council Rates'\...
3        keFeeNom='waterr'\rkeAdHocDsc='Water Rates'\rk...
4        keFeeNom='waterr'\rkeAdHocDsc='GST on Water Ra...
                               ...
33426    keFeeNom='learen'\rkeAdHocDsc='Lease Renewal F...
33427                                                  NaN
33428                                 keFixedCommBlank=.T.
33429    keFeeNom='compen'\rkeAdHocDsc='Compensation fo...
33430    keFeeNom='compen'\rkeAdHocDsc='NBN connection ...
Name: extra , Length: 33431, dtype: object
rps_lng_tenext.csv
       synchdel             synchrec         code       wocode chargeto  \
0             0  2019-02-26 11:48:18  CHA19000001  CHA19000001      NaN
1             0  2019-02-28 17:03:03  CHA19000002  CHA19000002      NaN
2             0  2019-03-13 12:23:54  CHA19000003  CHA19000003        L
3             0  2019-03-06 13:36:28  CHA19000005  CHA19000005        L
4             0  2019-03-06 13:47:33  CHA19000006  CHA19000006        L
...         ...                  ...          ...          ...      ...
80704         0  2023-08-10 14:04:07  WES23000609  WES23000609      NaN
80705         0  2023-08-14 12:21:52  WES23000610  WES23000610      NaN
80706         0  2023-08-14 12:37:38  WES23000611  WES23000611      NaN
80707         0  2023-08-14 13:50:15  WES23000612  WES23000612      NaN
80708         0  2023-08-14 14:33:38  WES23000613  WES23000613        L

       applcode nomcode vatcode  \
0           NaN     NaN     GST
1           NaN     NaN     GST
2           NaN     NaN     GST
3           NaN  plumng     GST
4           NaN  electn     GST
...         ...     ...     ...
80704       NaN     NaN     GST
80705       NaN     NaN     GST
80706       NaN     NaN     GST
80707       NaN     NaN     GST
80708       NaN     NaN     GST

                                                   notes esttype  nomtran  \
0      Tenant reported Possum's in roof and damaged e...       O      NaN
1                                    Garage Door Service       O      NaN
2             There is a tree resting against the fence.       O      NaN
3      Rainwater pump\rSupply and install rainwater p...       O      NaN
4           Replaced 2 globes in fitting, tested all ok.       O      NaN
...                                                  ...     ...      ...
80704  Hey mate,\r\rper rough quote, can you please a...       O      NaN
80705  to touch up window for sale before it gets rep...       O      NaN
80706  Hi team,\r\rtenant thinks that hot water servi...       O      NaN
80707  Hi guys,\r\rcan you please attend to mould iss...       O      NaN
80708  Hi team,\r\rCan you please attend to the follo...       O      NaN

       netamt  vatamt  maintfloat  estimate  linenum             register  \
0         0.0     0.0         0.0       0.0        0  2019-02-26 11:45:32
1       195.0    19.5         0.0       0.0        0  2019-02-28 17:03:03
2       300.0    30.0         0.0       0.0        0  2019-03-04 15:18:31
3         0.0     0.0         0.0       0.0        0  2019-03-06 13:35:22
4         0.0     0.0         0.0       0.0        0  2019-03-06 13:43:59
...       ...     ...         ...       ...      ...                  ...
80704     0.0     0.0         0.0       0.0        0  2023-08-10 14:04:07
80705     0.0     0.0         0.0       0.0        0  2023-08-14 12:21:52
80706     0.0     0.0         0.0       0.0        0  2023-08-14 12:37:38
80707     0.0     0.0         0.0       0.0        0  2023-08-14 13:50:15
80708     0.0     0.0         0.0       0.0        0  2023-08-14 14:33:38

                     amend  extra
0      2019-02-26 11:48:18     NaN
1                       \N     NaN
2      2019-03-13 12:23:54     NaN
3      2019-03-06 13:36:28     NaN
4      2019-03-06 13:47:33     NaN
...                    ...     ...
80704  2023-08-10 14:04:07     NaN
80705  2023-08-14 12:21:52     NaN
80706  2023-08-14 12:37:38     NaN
80707  2023-08-14 13:50:15     NaN
80708  2023-08-14 14:33:38     NaN

[80709 rows x 19 columns]
0        0
1        0
2        0
3        0
4        0
        ..
80704    0
80705    0
80706    0
80707    0
80708    0
Name: synchdel, Length: 80709, dtype: int64
0        2019-02-26 11:48:18
1        2019-02-28 17:03:03
2        2019-03-13 12:23:54
3        2019-03-06 13:36:28
4        2019-03-06 13:47:33
                ...
80704    2023-08-10 14:04:07
80705    2023-08-14 12:21:52
80706    2023-08-14 12:37:38
80707    2023-08-14 13:50:15
80708    2023-08-14 14:33:38
Name: synchrec, Length: 80709, dtype: object
0        CHA19000001
1        CHA19000002
2        CHA19000003
3        CHA19000005
4        CHA19000006
            ...
80704    WES23000609
80705    WES23000610
80706    WES23000611
80707    WES23000612
80708    WES23000613
Name: code, Length: 80709, dtype: object
0        CHA19000001
1        CHA19000002
2        CHA19000003
3        CHA19000005
4        CHA19000006
            ...
80704    WES23000609
80705    WES23000610
80706    WES23000611
80707    WES23000612
80708    WES23000613
Name: wocode, Length: 80709, dtype: object
0        NaN
1        NaN
2          L
3          L
4          L
        ...
80704    NaN
80705    NaN
80706    NaN
80707    NaN
80708      L
Name: chargeto, Length: 80709, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
80704   NaN
80705   NaN
80706   NaN
80707   NaN
80708   NaN
Name: applcode, Length: 80709, dtype: float64
0           NaN
1           NaN
2           NaN
3        plumng
4        electn
          ...
80704       NaN
80705       NaN
80706       NaN
80707       NaN
80708       NaN
Name: nomcode, Length: 80709, dtype: object
0        GST
1        GST
2        GST
3        GST
4        GST
        ...
80704    GST
80705    GST
80706    GST
80707    GST
80708    GST
Name: vatcode, Length: 80709, dtype: object
0        Tenant reported Possum's in roof and damaged e...
1                                      Garage Door Service
2               There is a tree resting against the fence.
3        Rainwater pump\rSupply and install rainwater p...
4             Replaced 2 globes in fitting, tested all ok.
                               ...
80704    Hey mate,\r\rper rough quote, can you please a...
80705    to touch up window for sale before it gets rep...
80706    Hi team,\r\rtenant thinks that hot water servi...
80707    Hi guys,\r\rcan you please attend to mould iss...
80708    Hi team,\r\rCan you please attend to the follo...
Name: notes, Length: 80709, dtype: object
0        O
1        O
2        O
3        O
4        O
        ..
80704    O
80705    O
80706    O
80707    O
80708    O
Name: esttype, Length: 80709, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
80704   NaN
80705   NaN
80706   NaN
80707   NaN
80708   NaN
Name: nomtran, Length: 80709, dtype: float64
0          0.0
1        195.0
2        300.0
3          0.0
4          0.0
         ...
80704      0.0
80705      0.0
80706      0.0
80707      0.0
80708      0.0
Name: netamt, Length: 80709, dtype: float64
0         0.0
1        19.5
2        30.0
3         0.0
4         0.0
         ...
80704     0.0
80705     0.0
80706     0.0
80707     0.0
80708     0.0
Name: vatamt, Length: 80709, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
80704    0.0
80705    0.0
80706    0.0
80707    0.0
80708    0.0
Name: maintfloat, Length: 80709, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
80704    0.0
80705    0.0
80706    0.0
80707    0.0
80708    0.0
Name: estimate, Length: 80709, dtype: float64
0        0
1        0
2        0
3        0
4        0
        ..
80704    0
80705    0
80706    0
80707    0
80708    0
Name: linenum, Length: 80709, dtype: int64
0        2019-02-26 11:45:32
1        2019-02-28 17:03:03
2        2019-03-04 15:18:31
3        2019-03-06 13:35:22
4        2019-03-06 13:43:59
                ...
80704    2023-08-10 14:04:07
80705    2023-08-14 12:21:52
80706    2023-08-14 12:37:38
80707    2023-08-14 13:50:15
80708    2023-08-14 14:33:38
Name: register, Length: 80709, dtype: object
0        2019-02-26 11:48:18
1                         \N
2        2019-03-13 12:23:54
3        2019-03-06 13:36:28
4        2019-03-06 13:47:33
                ...
80704    2023-08-10 14:04:07
80705    2023-08-14 12:21:52
80706    2023-08-14 12:37:38
80707    2023-08-14 13:50:15
80708    2023-08-14 14:33:38
Name: amend, Length: 80709, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
80704   NaN
80705   NaN
80706   NaN
80707   NaN
80708   NaN
Name: extra , Length: 80709, dtype: float64
rps_lng_workdet.csv
       synchdel          synchrec         code          orddate  \
0             0  15/07/2019 16:00  CHA19000001  26/02/2019 0:00
1             0  15/07/2019 16:00  CHA19000002  28/02/2019 0:00
2             0  13/03/2019 12:24  CHA19000003   4/03/2019 0:00
3             0   6/03/2019 13:36  CHA19000005   6/03/2019 0:00
4             0   6/03/2019 13:47  CHA19000006   6/03/2019 0:00
...         ...               ...          ...              ...
82540         0  10/08/2023 14:04  WES23000609  10/08/2023 0:00
82541         0  14/08/2023 12:21  WES23000610  14/08/2023 0:00
82542         0  14/08/2023 12:37  WES23000611  14/08/2023 0:00
82543         0  14/08/2023 13:50  WES23000612  14/08/2023 0:00
82544         0  14/08/2023 14:44  WES23000613  14/08/2023 0:00

                 reqby         complete    prpcode  estcode    tencode status  \
0      28/02/2019 0:00  15/07/2019 0:00  HDO160186      NaN  RPT197669      C
1                   \N  15/07/2019 0:00  HDO120658      NaN  RPT196413      C
2                   \N  13/03/2019 0:00  HDO070381      NaN  RPT196864      C
3                   \N   6/03/2019 0:00  HDO180059      NaN  RPT193285      C
4                   \N   6/03/2019 0:00  HDO180059      NaN  RPT193285      C
...                ...              ...        ...      ...        ...    ...
82540               \N               \N  HDO120096      NaN  HDO200092      R
82541               \N               \N  HDO110047      NaN  HDO200193      R
82542               \N               \N  CVA210136      NaN  HDO221698      R
82543               \N               \N  HDO191023      NaN  HDO220059      R
82544               \N               \N  CVA210576      NaN  HDO230513      R

      reptype negcode      cmpcode                        descr  \
0           T     WIB          NaN    Possum Issue & Eve Damage
1           L     WIB  HDO17002810          Garage Door Service
2           O     WIB  HDO18002117                 Tree removal
3           T     DAC          NaN       Plumbing works to pump
4           T     DAC          NaN             Ligths in Garage
...       ...     ...          ...                          ...

In [ ]:
len(saved_dfs3)

3

In [ ]:
saved_dfs3[0]

,synchdel,synchrec,code,codefrom,codeto,typefrom,typeto,vars,register,amend,file_name_lv
13530,0,2023-08-01 12:43:06,RPT21000091,CVA210114,CVA21000876,ten,cnt,DdStat='A'\rDdRef='1419/18MTALEXAND-2'\rDdAmt=...,2021-01-19 11:24:15,2023-08-01 12:43:06,rps_lng_addstore.csv

In [ ]:
saved_dfs[6]

,synchdel,synchrec,code,type,prpcode,offcode,keysjson,register,amend,extra,estcode,file_name_lv
882,0,2019-12-04 14:28:50,HDO19000654,nan,HDO191147,HDO,[],2019-12-04 14:28:50,\N,KeyNoPlain='2316'\r,NaN,rps_lng_keyset.csv

In [ ]:
tempdf4 = saved_dfs2[0]

for l in tempdf4.columns:
    tempdf4[l] = tempdf4[l].astype(str)

    if tempdf4[tempdf4[l].str.contains('HDO191147')].shape[0] >0:
        print('yes')

In [ ]:
tempdf4

,synchdel,synchrec,code,hseno,hsename,address1,address2,address3,address4,postcode,...,branch,acname,acno,sort,bacsref,main,register,amend,extra,file_name_lv
3954,0,28/11/2019 20:00,HDO19001020,nan,nan,nan,nan,nan,nan,nan,...,nan,GRAMAC Pty Ltd ATF S & L Superannuation,966332066,182512,nan,1,21/11/2019 10:09,28/11/2019 20:00,"ApproveNegs='CHB,MLG'",rps_lng_bnk.csv

In [ ]:
# len(saved_dfs2)
saved_dfs2[0]['synchdel']

,synchdel,synchrec,code,hseno,hsename,address1,address2,address3,address4,postcode,...,branch,acname,acno,sort,bacsref,main,register,amend,extra,file_name_lv
3954,0,28/11/2019 20:00,HDO19001020,nan,nan,nan,nan,nan,nan,nan,...,nan,GRAMAC Pty Ltd ATF S & L Superannuation,966332066,182512,NaN,1,21/11/2019 10:09,28/11/2019 20:00,"ApproveNegs='CHB,MLG'",rps_lng_bnk.csv

In [ ]:
saved_dfs[8][saved_dfs[8]['extra'].str.contains('966332066', na=False)]

Empty DataFrame
Columns: [synchdel, synchrec, code, date, statdate, transfer, type, ledger, category, descr, cmpcode, lldcode, tencode, prpcode, estcode, negcode, drnom, crnom, vatcode, intref, paytype, authstat, paytran, clientac, netamt, vatamt, unalloc, cleared, lldstat, register, amend, extra, tenstat , file_name_lv]
Index: []

[0 rows x 34 columns]

In [ ]:
saved_dfs[19]

,synchdel,synchrec,code,orddate,reqby,complete,prpcode,estcode,tencode,status,reptype,negcode,cmpcode,descr,register,amend,extra,type,authstat,file_name_lv
21445,0,9/01/2020 13:29,HDO19001884,11/12/2019 0:00,20/12/2019 0:00,9/01/2020 0:00,HDO191185,nan,HDO191147,C,NaN,OST,CHA19000082,Various handyman items,11/12/2019 16:21,9/01/2020 13:29,"gwQuotes='[{""FieldPrefix"":"""",""Extra"":null,""IsP...",NaN,NaN,rps_lng_workhead.csv

In [ ]:
saved_dfs[8]['clientac']

118025    REN
118026    REN
118027    REN
118028    REN
118029    REN
         ...
118120    REN
118121    REN
118122    REN
118123    REN
118124    REN
Name: clientac, Length: 100, dtype: object